{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    {% if object.getTransactionModeFormatted|default('na') == 'Normal' %}
                        <div class="caption">Transaction {{object.getTransDisplayId|default('')}} Details</div>
                    {% else %}
                        <div class="caption">Quotation Details</div>
                    {% endif %}
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form method="post" class="form-horizontal">
                        <div class="form-body">
                            <h4 class="form-section">Information</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.group_text('Receipt Number', 'trans_code', object.getTransDisplayId|default(''), 4, 5, true) }}
                                    {{ form.group_text('POS', 'pos', object.getPOSLocation.getName|default(''), 4, 5, true) }}
                                    {{ form.group_text('Customer', 'customer', customer.getNameFormatted|default('N/A'), 4, 5, true) }}
                                    {{ form.group_text('Type', 'trans_type', object.getTransactionTypeFormatted|default(''), 4, 5, true) }}
                                    {{ form.group_text('Bulk Discount', 'bulk_discount', object.getBulkDiscountType|default(''), 4, 5, true) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.group_text('Mode', 'mode', object.getTransactionModeFormatted|default(''), 4, 5, true) }}
                                    {{ form.group_text('Total', 'total', object.getCartOrigTotal|number_format(2, '.', ',')|default(''), 4, 5, true) }}
                                    {{ form.group_text('Discounted Total', 'discounted_total', object.getTransactionTotal|number_format(2, '.', ',')|default(''), 4, 5, true) }}
                                    {{ form.group_text('Balance', 'Balance', object.getTransactionBalance|number_format(2, '.', ',')|default(''), 4, 5, true) }}
                                </div>
                            </div>                           
                            <h4 class="form-section">Items</h4>
                            <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;" id="list_table">
                                <thead>
                                    <tr>
                                        <th width="40%">Item Name</th>
                                        <th width="10%">SRP</th>
                                        <th width="10%">Discount Type</th>
                                        <th width="10%">Discount Value</th>
                                        <th width="10%">Adjusted Price</th>
                                    </tr>
                                </thead>
                                <tbody id="items_given_tbody">
                                    {% for i in object.getItems|default('') %}
                                      <tr>
                                        <td><input type="text" name="rate_name[]" value="{{i.getName|default('')}}" class="form-control rate_name" readonly="true"></td>
                                        <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getOrigPrice|number_format(2, '.', ',')|default('')}}"  readonly="true"></td>
                                        <td><input type="text" name="x" class="form-control" value="{{i.getDiscountTypeFormatted|default('')}}"  readonly="true"></td>
                                        <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getDiscountValue|number_format(0, '.', ',')|default('')}}"  readonly="true"></td>
                                        <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getAdjustedPrice|number_format(2, '.', ',')|default('')}}"  readonly="true"></td>
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h4 class="form-section">Payments</h4>
                            <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;" id="list_table">
                                <thead>
                                    <tr>
                                        <th width="20%">Type</th>
                                        <th width="20%">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="items_given_tbody">
                                    {% for i in object.getPayments|default('') %}
                                      <tr>
                                        <td><input type="text" name="rate_name[]" value="{{i.getType|default('')}}" class="form-control rate_name" readonly="true"></td>
                                        <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getAmount|number_format(2, '.', ',')|default('')}}"  readonly="true"></td>
                                      </tr>
                                    {% endfor %}
                                    <tr>
                                    <td colspan="2"><b class="pull-right">Total Payments</b><input type="text" name="x" class="form-control qty" style="text-align: right !important;" value="{{object.getTotalPayments|number_format(2, '.', ',')|default('')}}"  readonly="true"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-9">
                                <a href="{{ path(route_list) }}" class="btn default">Back</a>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            var discount = "{{object.getTransactionTypeFormatted|default('')}}";
            $('#cgroup-bulk_discount').hide();
            $('#cgroup-discounted_total').hide();
            if (discount == "Bulk Discount") {
                $('#cgroup-bulk_discount').show();
                $('#cgroup-discounted_total').show();
            } else if(discount == 'Per-item Discount') {
                $('#cgroup-discounted_total').show();
            }
        });
    </script>
{% endblock %}
