{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">{% block form_header %}Role{% endblock %}</div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form method="post" class="form-horizontal">
                        <div class="form-body">
                            <h4 class="form-section">Information</h4>
                            {{ form.group_select('Bank', 'bank', bank_opts, object.getBank.getID|default(''), 3, 4, readonly) }}
                            {{ form.group_text('Account #/Card #', 'account_number', object.getAccountNumber, 3, 4, readonly) }}

                            {{ form.group_text('Account Name', 'name', object.getName, 3, 4, readonly) }}
                            
                            {{ form.group_text('Branch', 'branch', object.getBranch, 3, 4, readonly) }}
                            {{ form.group_select('Currency', 'currency', currency_opts, object.getCurrency|default(''), 3, 4, readonly) }}
                            {{ form.group_select('Type', 'type', acct_type_opts, object.getType|default(''), 3, 4, readonly) }}
                            {{ form.group_select('Chart of Account', 'chart_of_account','', object.getChartOfAccount|default(''), 3, 4, readonly) }}
                            
                            {{ form.group_select('Status', 'status', status_opts, object.getStatus|default(''), 3, 4, readonly) }}

                            
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 10px;">
                                    <h4 class="form-section">Charge Rates</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8" style="padding-bottom: 10px;">
                                    <a href="javascript:void(0)" class="btn default green add-ig-field" style="margin=0">Add Charge Rate</a>
                                    <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;" id="list_table">
                                        <thead>
                                            <tr>
                                                <th width="60%">Type</th>
                                                <th width="30%">Rate (%)</th>
                                                <th width="20%"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="items_given_tbody">
                                            {% for rate in rates %}
                                              <tr>
                                                <td><input type="text" name="rate_name[]" value="{{rate.getRateName|default('')}}" class="form-control rate_name"></td>
                                                <td><input type="number" name="rate_value[]" class="form-control qty" value="{{rate.getRateValue}}" min="1"></td>
                                                <td><a href="javascript:void(0)" class="btn btn-xs default red remove_row">Remove</a></td>
                                              </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-9">
                                {% if not readonly %}
                                    <button type="submit" class="btn blue">Submit</button>
                                {% endif %}
                                <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function appendItemsField(item_id, item_name)
        { 
            var field = '<tr>';     
                field += '<td><input type="text" name="rate_name[]" class="form-control rate_name"></td>';
                field += '<td><input type="number" name="rate_value[]" class="form-control qty" min="1"></td>';     
                field += '<td><a href="javascript:void(0)" class="btn btn-xs default red remove_row">Remove</a></td>'; 
                field += '</tr>';

                $('#items_given_tbody').append(field);
        }

        $(document).ready(function() {
            FormValidation.init(); // init form validation

            $(document).on("click",".remove_row", function(e){
            e.preventDefault();            
            var tr = $(this).closest('tr');
            tr.remove();
            return false;
        });

            var add_button = $(".add-ig-field");
            $(add_button).on('click',function(){      
                var item_id = '3';
                var item_name = 'none';

                if (!item_id == '') 
                {
                    appendItemsField(item_id, item_name);
                }
                else
                {
                    toastr['error']('Select an item first.', 'Error');
                }
            });   

            // set default error and success elements
            jQuery.validator.setDefaults({
                errorClass: 'help-block',
                errorElement: 'span',
                errorPlacement: function(error, element) {
                    if(element.parent().parent().hasClass('form-group'))
                    {
                        error.appendTo(element.parent().last());
                        element.parent().parent().addClass('has-error');
                    }
                    else
                    {
                        error.appendTo(element.parent().parent().last());
                        element.parent().parent().parent().addClass('has-error');
                    }
                },
                success: function(element) {
                    if(element.parent().parent().hasClass('form-group'))
                    {
                        element.parent().parent().removeClass('has-error');
                        element.parent().parent().addClass('has-success');
                    }
                    else
                    {
                        element.parent().parent().parent().removeClass('has-error');
                        element.parent().parent().parent().addClass('has-success');
                    }

                    element.remove();
                }
            });

            // validate form elements
            $(".form-horizontal").validate({
                ignore: "#items_given_tbody, .qty",
                onfocusout: function(element) {
                    this.element(element);
                },
                rules: {
                    name: {
                        required: true
                    },
                    rate_name: {
                        required: true
                    }
                },
                submitHandler: function(form) {
                    var isValid = true;
                    $(".rate_name").each(function() {
                       var element = $(this);
                       if (element.val() == "") {
                           toastr['error']('Check bank charge rate table', 'Error');
                           isValid = false;
                       } 
                    });

                    $(".qty").each(function() {
                       var element = $(this);
                       if (element.val() == "") {
                           toastr['error']('Check bank charge rate table', 'Error');
                           isValid = false;
                       } 
                    });


                    if (isValid) {form.submit();}
                    
                }
            });
        });
    </script>
{% endblock %}
