{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="portlet box blue-hoki">
			<div class="portlet-title">
				<div class="caption"> {{list_title}} </div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
                    {% if app.user.hasAccess(prefix ~ '.add') %}
                        <a href="{{ path(route_add) }}" class="btn green">Add {{list_title}} </a>
                    {% endif %}
				</div>
                
                <div class="form-horizontal">
                    {{ form_tools.typeahead('Employee Name','emp','','',path('hris_workforce_employee_ajax_get'),4,4)}}
                    {{ form_tools.group_date_range('daterange', 'Date Cash Advance Applied', 'date_from', 'date_to', '', '', 4, 4) }}
                    <div class="col-md-8">
                    <button class="btn blue pull-right" id="filter_button">Filter</button>    
                    </div>
                </div>
                              
                <table class="table table-striped table-bordered table-hover" id="list_table">
                    <thead>
                        <tr>
                        {% for col in grid_cols %}
                            {% if (loop.last) %}
                            <th style="width: 140px">{{ col.getLabel }}</th>
                            {% else %}
                            <th>{{ col.getLabel }}</th>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>                
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}
<script>
function generatePath() {
        date_to = $('#cform-date_to').val();
        date_from = $('#cform-date_from').val();
        id = $('#cemp_id').val();

    var path = "{{ path('hris_workforce_reimbursement_ajax_grid', { 'id' : 'ID', 'date_from' : 'DFROM', 'date_to' : 'DTO'} ) }}";

    if (id == null || id == '') {
        path = path.replace('ID', null);
    } else {
        path = path.replace('ID', id);
    };

    if (date_from == null || date_from == '') {
        path = path.replace('DFROM', null);
    } else {
        path = path.replace('DFROM', date_from);
    };

    if (date_to == null || date_to == '') {
        path = path.replace('DTO', null);
    } else {
        path = path.replace('DTO', date_to);
    }

    return path;
}
$(document).ready(function() {

    var dTable;
    var path;
    var id;
    var date_from;
    var date_to;
    
    ComponentsPickers.init();

    date_to = null;
    date_from = null;
    id = null;
    path = "{{ path('hris_workforce_cashadvance_ajax_grid', { 'id' : 'ID', 'date_from' : 'DFROM', 'date_to' : 'DTO'} ) }}";
    path = path.replace('ID', id);
    path = path.replace('DFROM', date_from);
    path = path.replace('DTO', date_to);

    dTable = $('#list_table').dataTable({
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": path,
        "iDisplayLength": 10,
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ records",
            "oPaginate": {
                "sPrevious": "Prev",
                "sNext": "Next"
            }
        },
        "aoColumnDefs": [
            { "bSortable": false, "aTargets": [{{ grid_cols|length - 1}}] },
        ]
    });

    $('#list_table_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
    $('#list_table_wrapper .dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
    $('#list_table_wrapper .dataTables_length select').select2(); // initialize select2 dropdown

    // date range picker
    $('#daterange').daterangepicker(
        {
            ranges: {
                'Today': [new Date(), new Date()],
                'Yesterday': [moment().subtract(1,'days'), moment().subtract(1,'days')],
                'Last 7 Days': [moment().subtract(6,'days'), new Date()],
                'Last 30 Days': [moment().subtract(29,'days'), new Date()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1,'month').startOf('month'), moment().subtract(1,'month').endOf('month')]
            },
            opens: 'left',
            format: 'MM/DD/YYYY',
        },
        function(start, end) {
            $('#daterange input').val(start.format('MM/DD/YYYY') + '   -   ' + end.format('MM/DD/YYYY'));
            $('#cform-date_from').val(start.format('YYYYMMDD'));
            $('#cform-date_to').val(end.format('YYYYMMDD'));
        }
    );

    $('#filter_button').click(function (){
        path = generatePath();
        dTable.fnReloadAjax(path);
    });
});
</script>
{% endblock %}

{% block css %}
{% endblock %}