{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% set readonly = not app.user.hasAccess('cat_user_user.edit') %}

{% block content %}
    <form method="post" class="form-horizontal">
    {#BEGIN TABS#}
    <!-- start of profile -->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <!-- MAIN TABS -->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_sys_credentials" data-toggle="tab">
                            System Credentials </a>
                    </li>
                    <li>
                        <a href="#tab_personal_info" data-toggle="tab">
                            Personal Information </a>
                    </li>
                    <li>
                        <a href="#tab_emp_record" data-toggle="tab">
                            Employee Record </a>
                    </li>
                    <li>
                        <a href="#tab_items_given" data-toggle="tab">
                            Items Given </a>
                    </li>
                </ul>
                <!-- END MAIN TABS -->
                <div class="tab-content">
                        <!-- OVERVIEW TAB -->
                        <div class="tab-pane active" id="tab_sys_credentials">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN FORM-->
                                        <div class="form-body">
                                            {{ form.hidden('csrf_token',app.session.get('csrf_token')) }}
                                            {{ form.group_text('Username', 'username', object.getUsername, 3, 4, readonly) }}
                                            {% if not readonly %}
                                                {{ form.group_password('Password', 'pass1', 3, 4, readonly) }}
                                                {{ form.group_password('Re-type Password', 'pass2', 3, 4, readonly) }}
                                            {% endif %}
                                            <br>
                                            {{ form.group_select('Agency', 'agency', agency_opts, '', 3, 4, readonly) }}
                                            {#{{ form.group_select('Department', 'department', department_opts, object.getDepartment.getID|default('0'), 3, 4, readonly) }}#}
                                            {{ form.group_select('Position', 'position', position_opts, '', 3, 4, readonly) }}
                                            {{ form.group_select('Approver', 'approver', enabled_opts, '', 3, 4, readonly) }}
                                            {{ form.group_select('Status', 'enabled', enabled_opts, object.isEnabled, 3, 4, readonly) }}
                                            {{ form.group_select('Area', 'area', area_opts, '', 3, 4, readonly) }}
                                            {{ form.group_select('Brand', 'brand', brand_opts, '', 3, 4, readonly) }}
                                            {{ form.group_select('Commission Type', 'commission_type', enabled_opts, '', 3, 4, readonly) }}



                                            {#{{ form.group_checkbox_set('Roles', 'groups', group_opts, ug_opts, 3, 9,readonly) }}#}
                                        </div>
                                        <div class="form-actions fluid">
                                            <div class="col-md-9">
                                                {% if not readonly %}
                                                    <button type="submit" class="btn blue">Submit</button>
                                                {% endif %}
                                                <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                                            </div>
                                        </div>
                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                        <!-- INCIDENT REPORTS TAB -->
                        <div class="tab-pane" id="tab_personal_info">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN FORM-->
                                    <div class="form-body">
                                    {{ form.group_text('Name', 'name', object.getName, 3, 4, readonly) }}
                                    {{ form.group_text('Email', 'email', object.getEmail, 3, 4, readonly) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- INCIDENT REPORTS TAB -->
                        <div class="tab-pane" id="tab_emp_record">
                            {#{% embed "HrisProfileBundle:Employee:prof_incidents.html.twig" %}{% endembed %}#}
                            ddd
                        </div>

                        <!-- INCIDENT REPORTS TAB -->
                        <div class="tab-pane" id="tab_items_given">
                            {#{% embed "HrisProfileBundle:Employee:prof_incidents.html.twig" %}{% endembed %}#}
                            ddd
                        </div>
                        <!-- END TAB CONTENTS -->

                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    {#END TABS#}
    </form>
{% endblock %}
{% block js %}
{% if object.getUsername == '' %}
<script>
$(document).ready(function() {
    FormValidation.init(); // init form validation

    // set default error and success elements
    jQuery.validator.setDefaults({
        errorClass: 'help-block',
        errorElement: 'span',
        errorPlacement: function(error, element) {
            if(element.parent().parent().hasClass('form-group'))
            {
                error.appendTo(element.parent().last());
                element.parent().parent().addClass('has-error');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                error.appendTo(element.parent().parent().parent().parent().last());
                element.parent().parent().parent().parent().parent().addClass('has-error');
            }
            else
            {
                error.appendTo(element.parent().parent().last());
                element.parent().parent().parent().addClass('has-error');
            }
        },
        success: function(element) {
            if(element.parent().parent().hasClass('form-group'))
            {  
                element.parent().parent().removeClass('has-error');
                element.parent().parent().addClass('has-success');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                element.parent().parent().parent().parent().parent().addClass('has-error');
                element.parent().parent().parent().parent().parent().addClass('has-success');
            }
            else
            {  
                element.parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().addClass('has-success');
            }

            element.remove();
        }
    });

    // validate form elements
    $(".form-horizontal").validate({
        onfocusout: function(element) {
           this.element(element);
        },
        rules: {
            username: {
                required: true
            },
            name: {
                required: true
            },
            email: {
                required: true,
                email: true
            },
            pass1: {
                required: true
            },
            pass2: {
                required: true,
                equalTo : "#cform-pass1"
            }
        },
        messages: {
            pass2: {
                equalTo : "Password do not match."
            }   
        },
        submitHandler: function(form) {
            form.submit();
        }
    });
});
</script>
{% else %}
<script>
$(document).ready(function() {
    FormValidation.init(); // init form validation

    // set default error and success elements
    jQuery.validator.setDefaults({
        errorClass: 'help-block',
        errorElement: 'span',
        errorPlacement: function(error, element) {
            $("#help").html('');
            if(element.parent().parent().hasClass('form-group'))
            {
                error.appendTo(element.parent().last());
                element.parent().parent().addClass('has-error');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                error.appendTo(element.parent().parent().parent().parent().last());
                element.parent().parent().parent().parent().parent().addClass('has-error');
            }
            else
            {
                error.appendTo(element.parent().parent().last());
                element.parent().parent().parent().addClass('has-error');
            }
        },
        success: function(element) {
            $("#help").html('');
            if(element.parent().parent().hasClass('form-group'))
            {  
                element.parent().parent().removeClass('has-error');
                element.parent().parent().addClass('has-success');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                element.parent().parent().parent().parent().parent().addClass('has-error');
                element.parent().parent().parent().parent().parent().addClass('has-success');
            }
            else
            {  
                element.parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().addClass('has-success');
            }

            element.remove();
        }
    });

    // validate form elements
    $(".form-horizontal").validate({
        onfocusout: function(element) {
           this.element(element);
        },
        rules: {
            username: {
                required: true
            },
            name: {
                required: true
            },
            email: {
                required: true,
                email: true
            }
        },
        submitHandler: function(form) {
            var pass1 = $("#cform-pass1");
            var pass2 = $("#cform-pass2");
            
            // validate password if password field is changed
            if(pass1.val() !== '' || pass2.val() !== '')
            {
                if(pass1.val() !== pass2.val())
                {
                    pass1.rules('add', {
                        required: true
                    });
                    pass2.rules('add', {
                        required: true,
                        equalTo: "#cform-pass1",
                        messages: {
                            equalTo: "Password do not match."
                        }
                    });
                    pass1.parents('.form-group').addClass('has-error');
                    pass2.parents('.form-group').addClass('has-error');
                    if(!$("#help").hasClass('help-block'))
                        pass2.parent().parent().append('<span id="help" class="help-block">Password do not match.</span>');
                }
            }

            if(pass1.val() === pass2.val())
            {
                form.submit();
            }
        }
    });

});
</script>
{% endif %}
{% endblock %}