{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% set readonly = not app.user.hasAccess('cat_user_user.edit') %}

{% block content %}
    <form method="post" class="form-horizontal">
    {#BEGIN TABS#}
    <!-- start of profile -->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <!-- MAIN TABS -->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_sys_credentials" data-toggle="tab">
                            System Credentials </a>
                    </li>
                    <li>
                        <a href="#tab_personal_info" data-toggle="tab">
                            Personal Information </a>
                    </li>
                    <li>
                        <a href="#tab_emp_record" data-toggle="tab">
                            Employee Record </a>
                    </li>
                    <li>
                        <a href="#tab_items_given" data-toggle="tab">
                            Items Given </a>
                    </li>
                </ul>
                <!-- END MAIN TABS -->
                <div class="tab-content">
                        <!-- OVERVIEW TAB -->
                        <div class="tab-pane active" id="tab_sys_credentials">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN FORM-->
                                        <div class="form-body">
                                            {{ form.hidden('csrf_token',app.session.get('csrf_token')) }}
                                            {{ form.group_text('Username', 'username', object.getUsername, 3, 4, readonly) }}
                                            {% if not readonly %}
                                                {{ form.group_password('Password', 'pass1', 3, 4, readonly) }}
                                                {{ form.group_password('Re-type Password', 'pass2', 3, 4, readonly) }}
                                            {% endif %}
                                            <br>
                                            {{ form.group_select('Agency', 'agency', agency_opts, object.getAgencyName, 3, 4, readonly) }}
                                            {#{{ form.group_select('Department', 'department', department_opts, object.getDepartment.getID|default('0'), 3, 4, readonly) }}#}
                                            {{ form.group_select('Department', 'department', department_opts, object.getGroup.getDepartment.getID|default('0'), 3, 4, readonly) }}
                                            {{ form.group_select('Position', 'position', position_opts, object.getGroup.getID|default('0'), 3, 4, readonly) }}
                                            {{ form.group_select('Approver', 'approver', approver_opts, object.getApprover|default(''), 3, 4, readonly) }}
                                            {{ form.group_select('Status', 'enabled', enabled_opts, object.isEnabled|default('0'), 3, 4, readonly) }}
                                            {{ form.group_select('Area', 'area', area_opts, object.getArea|default(''), 3, 4, readonly) }}
                                            {{ form.group_select('Brand', 'brand', brand_opts, object.getBrand|default(''), 3, 4, readonly) }}
                                            {{ form.group_select('Commission Type', 'commission_type', commission_type_opts, object.getCommissionType|default(''), 3, 4, readonly) }}
                                        </div>
                                        <div class="form-actions fluid">
                                            <div class="col-md-9">
                                                {% if not readonly %}
                                                    <button type="submit" class="btn blue">Save</button>
                                                {% endif %}
                                                <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                                            </div>
                                        </div>
                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                        <!-- PERSONAL INFO TAB -->
                        <div class="tab-pane" id="tab_personal_info">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- BEGIN FORM-->
                                    <div class="form-body">
                                    {{ form.group_text('First Name', 'first_name', object.getFirstName|default(''), 3, 6, readonly) }}
                                    {{ form.group_text('Middle Name', 'middle_name', object.getMiddleName|default(''), 3, 6, readonly) }}
                                    {{ form.group_text('Last Name', 'last_name', object.getLastName|default(''), 3, 6, readonly) }}

                                    {{ form.group_text('Email', 'email', object.getEmail, 3, 6, readonly) }}
                                    {{ form.group_text('Concact No.', 'conctact_no', object.getContactNumber|default(''), 3, 6, readonly) }}
                                    {{ form.group_select('Nationality', 'nationality', nationality_opts, object.getNationality|default(''), 3, 6, readonly) }}
                                    {{ form.group_date('Date of Birth','dob', object.getDOB|default('')|date('m/d/Y'),3,6) }}
                                    {{ form.group_textarea('Provincial Address', 'prov_address',object.getProvincialAddress|default(''),3,3,6)}}
                                    {{ form.group_textarea('City Address', 'city_address',object.getCityAddress|default(''),3,3,6)}}
                                    <br>
                                    <h4 class="form-section">Emergency Contact Information</h4>
                                    <hr>
                                    {{ form.group_text('Full name', 'ec_full_name', object.getECFullName|default(''), 3, 6, readonly) }}
                                    {{ form.group_text('Relationship', 'ec_relationship', object.getECRelation|default(''), 3, 6, readonly) }}
                                    {{ form.group_text('Contact No.', 'ec_contact_no', object.getECContact|default(''), 3, 6, readonly) }}
                                    {{ form.group_textarea('Remarks', 'ec_remarks',object.getECRemarks|default(''),3,3,6)}}
                                    </div>
                                    <div class="form-actions fluid">
                                        <div class="col-md-9">
                                            {% if not readonly %}
                                                <button type="submit" class="btn blue">Save</button>
                                            {% endif %}
                                            <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- BEGIN FORM-->
                                    <div class="form-body">
                                    {{ form.group_text('Life Insurance', 'life_insurance', object.getLifeInsurance|default(''), 3, 6, readonly) }}
                                    {{ form.group_date('Life Insurance Expiration','life_insurance_exp', object.getLifeInsuranceExpiration|default('')|date('m/d/Y'),3,6) }}
                                    {{ form.group_text('SSS No.', 'sss_no', object.getSSS|default(''), 3, 6, readonly) }}
                                    {{ form.group_text('Philhealth No.', 'philhealth_no', object.getPhilhealth|default(''), 3, 6, readonly) }}
                                    {{ form.group_text('Pagibig No.', 'pagibig_no', object.getPagibig|default(''), 3, 6, readonly) }}
                                    {{ form.group_text('TIN No.', 'tin_no', object.getTIN|default(''), 3, 6, readonly) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- EMPLOYMENT RECORD TAB -->
                        <div class="tab-pane" id="tab_emp_record">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN FORM-->
                                    <div class="form-body">
                                    {{ form.group_date('Employement Date','employment_date', object.getEmploymentDate|default('')|date('m/d/Y'),3,4) }}
                                    {{ form.group_date('Contract Expiration','contract_expiration', object.getContractExpiration|default('')|date('m/d/Y'),3,4) }}
                                    {{ form.group_select('Contract Status', 'contract_status', enabled_opts, object.getContractStatus|default(''), 3, 4, readonly) }}
                                    {{ form.group_textarea('Remarks', 'employment_remarks',object.getEmploymentRemarks|default(''),3,3,4)}}
                                    <br>
                                    <h4 class="form-section">Files</h4>
                                    <hr>
                                    {{ form.group_upload_file2('Employment Contract','upl_employment_contract',object.getFileEmploymentContract|default(''),3,4)}}
                                    {{ form.group_upload_file2('Police Clearance','upl_police_clearance',object.getFilePoliceClearance|default(''),3,4)}}
                                    {{ form.group_upload_file2('NBI Clearance','upl_nbi_clearance',object.getFileNBIClearance|default(''),3,4)}}
                                    {{ form.group_upload_file2('Certificate of Employment (Previous Employer)','upl_prev_coe',object.getFilePrevCOE|default(''),3,4)}}
                                    </div>
                                    <br>
                                    <div class="form-actions fluid">
                                        <div class="col-md-9">
                                            {% if not readonly %}
                                                <button type="submit" class="btn blue">Save</button>
                                            {% endif %}
                                            <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ITEMS GIVEN TAB -->
                        <div class="tab-pane" id="tab_items_given">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN FORM-->
                                    <div class="form-body">
                                    {{ form.group_number('Buffer', 'ig_buffer', object.getBufferQty|default(''), 3, 1, readonly) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END TAB CONTENTS -->

                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    {#END TABS#}
    </form>
{% endblock %}
{% block js %}
{% if object.getUsername == '' %}
<script>
function updatePositions()
    {
        var path;
        var department = $('#cform-department').val();
        path = "{{path('cat_user_group_get_positions', {'parent': 'PARENT'})}}";
        path = path.replace('PARENT', department);

        var $element = $('#cform-position').select2();
        var $request = $.ajax({
            url: path
        });

        $request.then(function (data)
        {
            //clear previous options
            $('#cform-position option').remove();
            //loop through all returned data then append
            $.each(data, function(k, v) {
                $('#cform-position').append('<option value="'+v.id+'">'+v.text+'</option>');
            });
            //refresh element
            $element.trigger('change');
        });
    }

$(document).ready(function() {
    FormValidation.init(); // init form validation
    $('#cform-department').on("change", function()
    {
        updatePositions();
    });
    // set default error and success elements
    jQuery.validator.setDefaults({
        errorClass: 'help-block',
        errorElement: 'span',
        errorPlacement: function(error, element) {
            if(element.parent().parent().hasClass('form-group'))
            {
                error.appendTo(element.parent().last());
                element.parent().parent().addClass('has-error');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                error.appendTo(element.parent().parent().parent().parent().last());
                element.parent().parent().parent().parent().parent().addClass('has-error');
            }
            else
            {
                error.appendTo(element.parent().parent().last());
                element.parent().parent().parent().addClass('has-error');
            }
        },
        success: function(element) {
            if(element.parent().parent().hasClass('form-group'))
            {  
                element.parent().parent().removeClass('has-error');
                element.parent().parent().addClass('has-success');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                element.parent().parent().parent().parent().parent().addClass('has-error');
                element.parent().parent().parent().parent().parent().addClass('has-success');
            }
            else
            {  
                element.parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().addClass('has-success');
            }

            element.remove();
        }
    });

    // validate form elements
    $(".form-horizontal").validate({
        onfocusout: function(element) {
           this.element(element);
        },
        rules: {
            username: {
                required: true
            },
            name: {
                required: true
            },
            email: {
                required: true,
                email: true
            },
            pass1: {
                required: true
            },
            pass2: {
                required: true,
                equalTo : "#cform-pass1"
            }
        },
        messages: {
            pass2: {
                equalTo : "Password do not match."
            }   
        },
        submitHandler: function(form) {
            form.submit();
        }
    });
});
</script>
{% else %}
<script>
function updatePositions()
    {
        var path;
        var department = $('#cform-department').val();
        path = "{{path('cat_user_group_get_positions', {'parent': 'PARENT'})}}";
        path = path.replace('PARENT', department);

        var $element = $('#cform-position').select2();
        var $request = $.ajax({
            url: path
        });

        $request.then(function (data)
        {
            //clear previous options
            $('#cform-position option').remove();
            //loop through all returned data then append
            $.each(data, function(k, v) {
                $('#cform-position').append('<option value="'+v.id+'">'+v.text+'</option>');
            });
            //refresh element
            $element.trigger('change');
        });
    }
$(document).ready(function() {
    FormValidation.init(); // init form validation
    $('#cform-department').on("change", function()
    {
        updatePositions();
    });
    // set default error and success elements
    jQuery.validator.setDefaults({
        errorClass: 'help-block',
        errorElement: 'span',
        errorPlacement: function(error, element) {
            $("#help").html('');
            if(element.parent().parent().hasClass('form-group'))
            {
                error.appendTo(element.parent().last());
                element.parent().parent().addClass('has-error');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                error.appendTo(element.parent().parent().parent().parent().last());
                element.parent().parent().parent().parent().parent().addClass('has-error');
            }
            else
            {
                error.appendTo(element.parent().parent().last());
                element.parent().parent().parent().addClass('has-error');
            }
        },
        success: function(element) {
            $("#help").html('');
            if(element.parent().parent().hasClass('form-group'))
            {  
                element.parent().parent().removeClass('has-error');
                element.parent().parent().addClass('has-success');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                element.parent().parent().parent().parent().parent().addClass('has-error');
                element.parent().parent().parent().parent().parent().addClass('has-success');
            }
            else
            {  
                element.parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().addClass('has-success');
            }

            element.remove();
        }
    });

    // validate form elements
    $(".form-horizontal").validate({
        onfocusout: function(element) {
           this.element(element);
        },
        rules: {
            username: {
                required: true
            },
            name: {
                required: true
            },
            email: {
                required: true,
                email: true
            }
        },
        submitHandler: function(form) {
            var pass1 = $("#cform-pass1");
            var pass2 = $("#cform-pass2");
            
            // validate password if password field is changed
            if(pass1.val() !== '' || pass2.val() !== '')
            {
                if(pass1.val() !== pass2.val())
                {
                    pass1.rules('add', {
                        required: true
                    });
                    pass2.rules('add', {
                        required: true,
                        equalTo: "#cform-pass1",
                        messages: {
                            equalTo: "Password do not match."
                        }
                    });
                    pass1.parents('.form-group').addClass('has-error');
                    pass2.parents('.form-group').addClass('has-error');
                    if(!$("#help").hasClass('help-block'))
                        pass2.parent().parent().append('<span id="help" class="help-block">Password do not match.</span>');
                }
            }

            if(pass1.val() === pass2.val())
            {
                form.submit();
            }
        }
    });

});
</script>
{% endif %}
{% endblock %}