<div class="row">
    <div class="col-md-12">
        <!-- BEGIN FORM-->
        <div class="form-body">
            <div class="col-md-4" style="padding-bottom: 20px;">
            </div>
            <div class="col-md-4" style="padding-bottom: 20px;">
            {{ form.group_select_only("Item", "item_opt", item_opts, '', 3, 7, readonly) }}
            <a href="javascript:void(0)" class="btn default green add-ig-field" style="margin=0">Add Item</a>
            </div>
            <div class="col-md-4" style="padding-bottom: 20px;">
            </div>

            <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;" id="list_table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th width="80px">Quantity</th>
                        <th width="40px"></th>
                    </tr>
                </thead>
                <tbody id="items_given_tbody">
                    {% for key,val in items_given %}
                      <tr>
                        <input type="hidden" name="item_id[]" value="{{val[0]}}">
                        <td>{{ form.group_select_only2("Item", "item_opt", item_opts, val[0], 3, 7, true) }}</td>
                        <td><input type="number" name="qty[]" class="form-control qty" value="{{val[1]}}" min="1"></td>
                        <td><a href="javascript:void(0)" class="btn btn-xs default red remove_ig_row">Remove</a></td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <div class="form-actions fluid">
            <div class="col-md-9">
                {% if not readonly %}
                    <button type="submit" class="btn blue">Save</button>
                {% endif %}
                <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
            </div>
        </div>
    </div>
</div>