<div class="row">
    <div class="col-md-6">
        <!-- BEGIN FORM-->
        <div class="form-body">
        {{ form.group_upload_image('Profile Picture','upl_profile_picture',object.getProfilePicture|default(''),3,4)}}
            
        {{ form.group_text('First Name', 'first_name', object.getFirstName|default(''), 3, 6, readonly) }}
        {{ form.group_text('Middle Name', 'middle_name', object.getMiddleName|default(''), 3, 6, readonly) }}
        {{ form.group_text('Last Name', 'last_name', object.getLastName|default(''), 3, 6, readonly) }}

        {{ form.group_text('Email', 'email', object.getEmail, 3, 6, readonly) }}
        {{ form.group_text('Concact No.', 'conctact_no', object.getContactNumber|default(''), 3, 6, readonly) }}
        {{ form.group_select('Nationality', 'nationality', nationality_opts, object.getNationality|default(''), 3, 6, readonly) }}
        
        {{ form.group_date('Date of Birth','dob', object.getDOB|default('')|date('m/d/Y'),3,6) }}
        {{ form.group_textarea('Provincial Address', 'prov_address',object.getProvincialAddress|default(''),3,3,6)}}
        {{ form.group_textarea('City Address', 'city_address',object.getCityAddress|default(''),3,3,6)}}
        <br>
        <h4 class="form-section">Emergency Contact Information</h4>
        <hr>
        {{ form.group_text('Full name', 'ec_full_name', object.getECFullName|default(''), 3, 6, readonly) }}
        {{ form.group_text('Relationship', 'ec_relationship', object.getECRelation|default(''), 3, 6, readonly) }}
        {{ form.group_text('Contact No.', 'ec_contact_no', object.getECContact|default(''), 3, 6, readonly) }}
        {{ form.group_textarea('Remarks', 'ec_remarks',object.getECRemarks|default(''),3,3,6)}}
        </div>
        <div class="form-actions fluid">
            <div class="col-md-9">
                {% if not readonly %}
                    <button type="submit" class="btn blue">Save</button>
                {% endif %}
                <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <!-- BEGIN FORM-->
        <div class="form-body">
        {{ form.group_text('Life Insurance', 'life_insurance', object.getLifeInsurance|default(''), 3, 6, readonly) }}
        {{ form.group_date('Life Insurance Expiration','life_insurance_exp', object.getLifeInsuranceExpiration|default('')|date('m/d/Y'),3,6) }}
        {{ form.group_text('SSS No.', 'sss_no', object.getSSS|default(''), 3, 6, readonly) }}
        {{ form.group_text('Philhealth No.', 'philhealth_no', object.getPhilhealth|default(''), 3, 6, readonly) }}
        {{ form.group_text('Pagibig No.', 'pagibig_no', object.getPagibig|default(''), 3, 6, readonly) }}
        {{ form.group_text('TIN No.', 'tin_no', object.getTIN|default(''), 3, 6, readonly) }}
        </div>
    </div>
</div>