<div class="row">
    <div class="col-md-12">
        <!-- BEGIN FORM-->
            <div class="form-body">
                {{ form.hidden('csrf_token',app.session.get('csrf_token')) }}
                {% if object.getUsername != '' %}
                    {{ form.group_text('Username', 'username', object.getUsername|default(''), 3, 4, true) }}
                {% else %}
                    {{ form.group_text('Username', 'username', next_id|default(''), 3, 4, true) }}
                {% endif %}
                {% if not readonly %}
                    {{ form.group_password('Password', 'pass1', 3, 4, readonly) }}
                    {{ form.group_password('Re-type Password', 'pass2', 3, 4, readonly) }}
                {% endif %}
                <br>
                {{ form.group_select('Agency', 'agency', agency_opts, object.getAgencyName, 3, 4, readonly) }}
                {#{{ form.group_select('Department', 'department', department_opts, object.getDepartment.getID|default('0'), 3, 4, readonly) }}#}
                {{ form.group_select('Department', 'department', department_opts, object.getGroup.getDepartment.getID|default('0'), 3, 4, readonly) }}
                {{ form.group_select('Position', 'position', position_opts, object.getGroup.getID|default('0'), 3, 4, readonly) }}
                {{ form.group_select_approver('Approver', 'approver', approver_opts, object.getApprover|default(''),object.getApproverCode|default(''), 3, 4, readonly) }}
                {{ form.group_select('Status', 'enabled', enabled_opts, object.isEnabled|default('0'), 3, 4, readonly) }}
                {{ form.group_select('Area', 'area', area_opts, object.getArea.getID|default(''), 3, 4, readonly) }}
                {{ form.group_select('Brand', 'brand', brand_opts, object.getBrand.getID|default(''), 3, 4, readonly) }}
                {{ form.group_select('Commission Type', 'commission_type', commission_type_opts, object.getCommissionType|default(''), 3, 4, readonly) }}
            </div>
            <div class="form-actions fluid">
                <div class="col-md-9">
                    {% if not readonly %}
                        <button type="submit" class="btn blue">Save</button>
                    {% endif %}
                    <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                </div>
            </div>
        <!-- END FORM-->
    </div>
</div>