{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">{% block form_header %}{% endblock %}</div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form method="post" class="form-horizontal">
                    <div class="form-body">
                        {{ form.hidden('csrf_token',app.session.get('csrf_token')) }}
                        {{ form.group_text('Event Name', 'event_name', object.getName|default(''), 3, 4, readonly) }}
                        {# ADD SELECTOR IF ALL DAY #}
                        <div class="form-group">
                            <label class="col-md-3 control-label">All-day event</label>
                            <div class="col-md-4">
                                <label  style="padding-top: 5px;">Yes
                               <input type="checkbox" id="cform-allday" name="allday" class="" value="1">
                           </label>
                            </div>
                        </div>
                        <div id="scheduled">
                            {{ form.group_date('Start Date','date_from', object.getDateFrom|date('m/d/Y'),3,4) }}
                             {{ form.hidden('csrf_token',app.session.get('csrf_token')) }}
                            <div class="form-group">
                                    <label class="col-md-3 control-label">Start Time</label>
                                    <div class ="col-md-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control timepicker timepicker-no-seconds" name="start" placeholder="Start" value="" readonly>
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                        
                            {{ form.group_date('End Date','date_to', object.getDateTo|date('m/d/Y'),3,4) }}
                             <div class="form-group">
                                    <label class="col-md-3 control-label">End Time</label>
                                    <div class ="col-md-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control timepicker timepicker-no-seconds" name="end" placeholder="End" value="" readonly>
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {{ form.group_select('Event Type', 'holiday_type', holiday_opts, '', 3, 4) }}
                        </div>
                        <div id="all_day">
                            {{ form.group_date('Date','event_date', object.getDateFrom|date('m/d/Y'),3,4) }}
                            {{ form.group_select('Event Type', 'event_holiday_type', holiday_opts, '', 3, 4) }}
                        </div>
                    </div>
                    
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            {% if not readonly %}
                            <button type="submit" class="btn blue">Submit</button>
                            {% endif %} 
                            <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready( function() {

    $("#cform-allday").change(function() {
    if(this.checked) {
        $('#scheduled').hide();
        $('#all_day').show();

    }
    else
    {
        $('#scheduled').show();
        $('#all_day').hide();
    }
});

    
    $('#all_day').hide();
    $('.calendar').prop('disabled', true);

    // $('#cform-date_to').datepicker({
    //         todayHighlight: true,
    //         startDate: $('#cform-date_from').val(),
    //         });

     $('#cform-date_from').datepicker().on('changeDate', function (ev) {
            $('#cform-date_to').datepicker({
            todayHighlight: true,
            startDate: $('#cform-date_from').val(),
            });
    });
    
 $('.timepicker-no-seconds').timepicker({
        autoclose: true,
        minuteStep: 1
    });
    //set default error and success elements
    jQuery.validator.setDefaults({
        errorClass: 'help-block',
        errorElement: 'span',
        errorPlacement: function(error, element) {
            if(element.parent().parent().hasClass('form-group'))
            {
                error.appendTo(element.parent().last());
                element.parent().parent().addClass('has-error');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                error.appendTo(element.parent().parent().parent().parent().last());
                element.parent().parent().parent().parent().parent().parent().addClass('has-error');
            }
            else if(element.parent().parent().hasClass('radio'))
            {   
                error.appendTo(element.parent().parent().parent().parent().last());
                element.parent().parent().parent().parent().parent().parent().addClass('has-error');
            }
            else
            {
                error.appendTo(element.parent().parent().last());
                element.parent().parent().parent().addClass('has-error');
            }
        },
        success: function(element) {
            if(element.parent().parent().hasClass('form-group'))
            {  
                element.parent().parent().removeClass('has-error');
                element.parent().parent().addClass('has-success');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                element.parent().parent().parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().parent().parent().addClass('has-success');
            }
            else if(element.parent().parent().hasClass('radio'))
            {   
                element.parent().parent().parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().parent().parent().addClass('has-success');
            }
            else
            {  
                element.parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().addClass('has-success');
            }

            element.remove();
        }
    });

    // validate form elements
    $(".form-horizontal").validate({
        onfocusout: function(element) {
           this.element(element);
        },
        rules: {
            event_name: "required",
        },
        messages: {
            event_name: "Event name cannot be blank.",
        },
        submitHandler: function(form) {
            form.submit();
        }
    });
});
</script>
{% endblock %}