{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="portlet box blue-hoki">
			<div class="portlet-title">
				<div class="caption"> {{list_title}}</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					{% if app.user.hasAccess(prefix ~ '.add') %}
						<a href="{{ path('hris_workforce_appraisals_add_form') }}" class="btn green">Add New {{list_title}} </a>
					{% endif %}
				</div>
                <table class="table table-striped table-bordered table-hover" id="list_table">
                    <thead>
                        <tr>
                        {% for col in grid_cols %}
                            {% if (loop.last) %}
                            <th style="width: 165px">{{ col.getLabel }}</th>
                            {% else %}
                            <th>{{ col.getLabel }}</th>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#list_table').dataTable({
        "sAjaxSource": "{{ path(route_grid) }}",
        "iDisplayLength": 10,
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ records",
            "oPaginate": {
                "sPrevious": "Prev",
                "sNext": "Next"
            }
        },
        "aoColumnDefs": [

        ]
    });

    $('#list_table_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
    $('#list_table_wrapper .dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
    $('#list_table_wrapper .dataTables_length select').select2(); // initialize select2 dropdown

        $('table').on("click",".remove_benefit_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent().parent().remove();
    });
});
</script>
<script>

    $(document).ready(function() {
    ComponentsPickers.init();
    });
</script>
{% endblock %}