{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">{{ list_title }}</div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                {% if app.user.hasAccess(prefix ~ '.add') %}
                    <a href="{{ path(route_add) }}" class="btn green">Add New</a>
                {% endif %}
                    <a href="#import_form" class="btn green" data-toggle="modal">Import Daily Time Record</a>
                    <a href="{{ path('hris_workforce_attendance_print') }}" id="print_btn" class="btn green"><i class="fa fa-print"></i> Print Attendance Report</a>
                </div>

                <div class="form-horizontal">

                    {{ form_tools.typeahead('Employee Name','emp','','',path('hris_workforce_employee_ajax_get'),4,4)}}
                    {{ form_tools.group_select('Department','department',dept_opts, dept_id,4,4)}} 
                    {{ form_tools.group_date_range('daterange', 'Date Range', 'date_from', 'date_to', date_from, date_to, 4, 4) }} 
                    <div class="col-md-8">
                            <div class="form-group">
                                <button class="btn blue pull-right" id="filter_button">Apply Filter</button>    
                            </div>
                            <div class="form-group">
                               <button class="btn red pull-right" id="clear_filter">Clear Filters</button> 
                            </div>
                    </div>
                <table class="table table-striped table-bordered table-hover" id="list_table">
                    <thead>
                        <tr>
                        {% for col in grid_cols %}
                            {% if (loop.last) %}
                            <th style="width: 165px">{{ col.getLabel }}</th>
                            {% else %}
                            <th>{{ col.getLabel }}</th>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% embed 'HrisWorkforceBundle:Attendance:modal/dtr.html.twig'%}{% endembed %}
{% endblock %}

{% block js %}
<script>

function generatePath() {
    date_to = $('#cform-date_to').val();
    date_from = $('#cform-date_from').val();
    department = $('#cform-department').val();
    id = $('#cemp_id').val();

    var path = "{{ path('hris_workforce_attendance_ajax_grid', { 'id' : 'ID', 'department' : 'DEPARTMENT', 'date_from' : 'DFROM', 'date_to' : 'DTO'} ) }}";

    if (id == null || id == '') {
        path = path.replace('ID', null);
    } else {
        path = path.replace('ID', id);
    };

    if (date_from == null || date_from == '') {
        path = path.replace('DFROM', null);
    } else {
        path = path.replace('DFROM', date_from);
    };

    if (department == 0) {
        path = path.replace('DEPARTMENT', null);
    } else {
        path = path.replace('DEPARTMENT', department);
    };

    if (date_to == null || date_to == '') {
        path = path.replace('DTO', null);
    } else {
        path = path.replace('DTO', date_to);
    }

    return path;
}

$(document).ready(function() {

    $('#cemp_typeahead').change(function() {
        $("#cform-agency").val('');
        if ($('#cemp_id').val() != '') 
        {
            
        }
        else
        {
            $('#cemp_typeahead').val('');
        }
    });

    $("#file_to_upload").change(function(){var l=["csv"];-1==$.inArray($(this).val().split(".").pop().toLowerCase(),l)&&(alert("Only '.csv' formats are allowed."),$("#file_to_upload").replaceWith($("#file_to_upload").clone()))});

    var dTable;
    var path;
    var id;
    var department;
    var date_from;
    var date_to;
    
    date_to = null;
    date_from = null;
    id = null;
    department = null;
    path = "{{ path('hris_workforce_attendance_ajax_grid', { 'id' : 'ID', 'department' : 'DEPARTMENT', 'date_from' : 'DFROM', 'date_to' : 'DTO'} ) }}";
    path = path.replace('ID', id);
    path = path.replace('DEPARTMENT', department)
    path = path.replace('DFROM', date_from);
    path = path.replace('DTO', date_to);

    dTable = $('#list_table').dataTable({
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": path,
        "iDisplayLength": 10,
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ records",
            "oPaginate": {
                "sPrevious": "Prev",
                "sNext": "Next"
            }
        },
        "aoColumnDefs": [
            { "bSortable": false, "aTargets": [{{ grid_cols|length - 1}}] },
        ]
    });

    $('#list_table_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
    $('#list_table_wrapper .dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
    $('#list_table_wrapper .dataTables_length select').select2(); // initialize select2 dropdown

    $('#daterange').daterangepicker(
    {
            ranges: {
                'Today': [new Date(), moment().add(1, 'days')],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), new Date()],
                'Last 30 Days': [moment().subtract(29, 'days'), new Date()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'left',
            format: 'MM/DD/YYYY',
        },
        function(start, end) {
            $('#daterange input').val(start.format('MM/DD/YYYY') + '   -   ' + end.format('MM/DD/YYYY'));
            $('#cform-date_from').val(start.format('YYYYMMDD'));
            $('#cform-date_to').val(end.format('YYYYMMDD'));
        }
    );
    $('#clear_filter').click(function (){
        $('#cemp_typeahead').val('');
        $('#cform-date_to').val('');
        $('#cform-date_from').val('');
        $('#cform-department').val(0);
        $('#cemp_id').val('');
        path = generatePath();
        dTable.fnReloadAjax(path);
    });
    $('#filter_button').click(function (){

        var date_to = $('#cform-date_to').val();
        if ($('#cemp_id').val() == '' || $('#cemp_id').val() == null) 
        {
            var emp = 0;
        }   
        else
        {
            var emp = $('#cemp_id').val();
        }
        var date_from = $('#cform-date_from').val();
        if ($('#cform-department').val() == '' || $('#cform-department').val() == null) 
        {
            var dept = 0;
        }   
        else
        {
            var dept = $('#cform-department').val();
        }

        var pathx = "{{ path('hris_workforce_attendance_print', { 'id' : 'ID', 'dfrom' : 'DFROM', 'dto' : 'DTO', 'dept' : 'DEPT'} ) }}";
        pathx = pathx.replace('ID', emp);
        pathx = pathx.replace('DFROM', date_from);
        pathx = pathx.replace('DTO', date_to);
        pathx = pathx.replace('DEPT', dept);

        console.log(pathx);
        $('#print_btn').attr('href',pathx);

        path = generatePath();
        dTable.fnReloadAjax(path);
    });
});
</script>
{% endblock %}

{% block css %}
{% endblock %}