<style type="text/css">
div.container4 {
    height: 100%;
    width: 100%;
    position: relative 
}
div.container_logo {
    width: 100%;
    max-height: 50px;
    position: relative; 
}
.img_logo {
    width: 300px;
   position: absolute;
   left: 50%;
   margin-left: -150px;
}
.page_label {
    text-align:center;
}
.parag {
    margin: 0;
    position: absolute;
    top: 50%;
    text-align:center;
    left: 50%;
    margin-right: -50%;
    font-size: 28px;
}
</style>
<page>
		<div class="container_logo">
    <img class="img_logo" src="{{logo|default('bundles/gistmedia/img/default.png')}}">
    </div>
		<br>
		<table style="border: 1px solid black; border-collapse: collapse; font-size: 14px;" align="center" border="1">
			<tr>
				{%  if emp != null %}
				<th style="width: 670px; padding-top: 5px; padding-bottom: 5px; text-align: left;" colspan="7">&nbsp;Attendance Print Format for {{emp.getDisplayName|default('')}} - {{date_from_display|date('F d, Y')}} to {{date_to_display|date('F d, Y')}}</th>
				{% else %}
		        <th style="width: 670px; padding-top: 5px; padding-bottom: 5px; text-align: left;" colspan="7">&nbsp;Attendance Print Format - {{date_from_display|date('F d, Y')}} to {{date_to_display|date('F d, Y')}}</th>
				{% endif %}
		    </tr>
			<tr>
		        <th style="width: 70px; padding-top: 5px; padding-bottom: 5px; text-align: center;">Date</th>
		        <th style="width: 190px; padding-top: 5px; padding-bottom: 5px; text-align: center;">Employee</th>
		        <th style="width: 70px; padding-top: 5px; padding-bottom: 5px; text-align: center;">Time-In</th>
		        <th style="width: 70px; padding-top: 5px; padding-bottom: 5px; text-align: center;">Time-Out</th>
		        <th style="width: 80px; padding-top: 5px; padding-bottom: 5px; text-align: center;">Late</th>
		        <th style="width: 100px; padding-top: 5px; padding-bottom: 5px; text-align: center;">Undertime</th>
		        <th style="width: 90px; padding-top: 5px; padding-bottom: 5px; text-align: center;">Status</th>
		    </tr>
		    {% set count = 0 %}
		    {% for a in all %}
		    	<tr>
		    		<td style="width: 70px; padding-top: 1px; padding-bottom: 1px; text-align: left;">{{a.getDateDisplay|default('')}}</td>
		    		<td style="width: 190px; padding-top: 1px; padding-bottom: 1px; text-align: left;">{{a.getEmployee.getDisplayName|default('')}}</td>
		    		<td style="width: 60px; padding-top: 1px; padding-bottom: 1px; text-align: center;">{{a.getTimeIn|default(' -')}}</td>
		    		<td style="width: 60px; padding-top: 1px; padding-bottom: 1px; text-align: center;">{{a.getTimeOut|default(' -')}}</td>
		    		<td style="width: 100px; padding-top: 1px; padding-bottom: 1px; text-align: left;">{{a.getLateDisplay|default('')}}</td>
		    		<td style="width: 100px; padding-top: 1px; padding-bottom: 1px; text-align: left;">{{a.getUnderTimeDisplay|default('')}}</td>
		    		<td style="width: 90px; padding-top: 1px; padding-bottom: 1px; text-align: left;">{{a.getStatus|default('')}}</td>
		    	</tr>
		    	{% set count = count + 1 %}
			{% endfor %}
			{% if count == 0 %}
				<tr>
		    		<td style="width: 670px; padding-top: 1px; padding-bottom: 1px; text-align: center; font-size: 12px;" colspan="7">NO RECORD FOUND</td>
		    	</tr>
			{% endif %}
		</table>
		<page_footer>
    <div align="center" style="margin: 0;"><p style="color: green; font-size: 16px; margin: 0;"><b>{{company_name|default('Quadrant Alpha Technology Solutions Inc.')}}</b></p></div>
	    <div align="center" style="margin: 0;"><p style="color: black; font-size: 10px; margin: 0;">{{company_address.getFullAddress|default('Unit 102 Legaspi Suites, Brgy. San Lorenzo, Makati City')}}</p></div>
	    <div align="center" style="margin: 0;"><p style="color: green; font-size: 16px; margin: 0;"><b>{{company_website|default('www.quadrantalpha.com')}}</b></p></div>
</page_footer>
</page>