{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">{% block form_header %}Role{% endblock %}</div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form method="post" class="form-horizontal">
                        <div class="form-body">
                            <h4 class="form-section">Information</h4>
                            {{ form.group_text('First Name', 'first_name', object.getFirstName|default(''), 3, 4, readonly) }}
                            {{ form.group_text('Middle Name', 'middle_name', object.getMiddleName|default(''), 3, 4, readonly) }}
                            {{ form.group_text('Last Name', 'last_name', object.getLastName|default(''), 3, 4, readonly) }}
                            {{ form.group_date_pos('Date of Birth','dob', object.getBirthdate|default('')|date('mm-dd-yyyy'),3,4) }}
                            
                            {{ form.group_select('Gender', 'gender', gender_options, object.getGender|default(''), 3, 4, readonly) }}
                            {{ form.group_select('Marital Status', 'marital_status', marital_options, object.getMaritalStatus|default(''), 3, 4, readonly) }}
                            {{ form.group_date_pos('Date Married','date_married', object.getDateMarried|default('')|date('mm-dd-yyyy'),3,4) }}
                            {{ form.group_text('Home Phone', 'home_phone', object.getHomePhone|default(''), 3, 4, readonly) }}
                            {{ form.group_textarea('Address 1', 'address_1', object.getAddress1|default(''), 3, 3, 4, readonly) }}
                            {{ form.group_textarea('Address 2', 'address_2', object.getAddress2|default(''), 3, 3, 4, readonly) }}
                            {{ form.group_text('City', 'city', object.getCity|default(''), 3, 4, readonly) }}
                            {{ form.group_text('State', 'state', object.getState|default(''), 3, 4, readonly) }}
                            {{ form.group_text('Country', 'country', object.getCountry|default(''), 3, 4, readonly) }}
                            {{ form.group_text('ZIP', 'zip', object.getZip|default(''), 3, 4, readonly) }}


                            {{ form.group_text('Email', 'email', object.getCEmailAddress, 3, 4, readonly) }}
                            {{ form.group_text('Contact Number', 'contact_number', object.getMobileNumber, 3, 4, readonly) }}
                            {{ form.group_select('Status', 'status', status_opts, object.getStatus|default(''), 3, 4, readonly) }}
                            {{ form.group_textarea('Notes', 'notes', object.getNotes|default(''), 2, 3, 4, readonly) }}
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-9">
                                {% if not readonly %}
                                    <button type="submit" class="btn blue">Submit</button>
                                {% endif %}
                                <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            FormValidation.init(); // init form validation
            $('#cform-date_married').select2().trigger('change');

            $('#cgroup-date_married').hide();

            $('#cform-marital_status').on("change", function()
            {
                var opt = $('#cform-marital_status').val();
                if (opt == 'married') {
                    $('#cgroup-date_married').show();
                } else {
                    $('#cgroup-date_married').hide();
                    $('#cform-date_married').val('');
                }
            });

            // set default error and success elements
            jQuery.validator.setDefaults({
                errorClass: 'help-block',
                errorElement: 'span',
                errorPlacement: function(error, element) {
                    if(element.parent().parent().hasClass('form-group'))
                    {
                        error.appendTo(element.parent().last());
                        element.parent().parent().addClass('has-error');
                    }
                    else
                    {
                        error.appendTo(element.parent().parent().last());
                        element.parent().parent().parent().addClass('has-error');
                    }
                },
                success: function(element) {
                    if(element.parent().parent().hasClass('form-group'))
                    {
                        element.parent().parent().removeClass('has-error');
                        element.parent().parent().addClass('has-success');
                    }
                    else
                    {
                        element.parent().parent().parent().removeClass('has-error');
                        element.parent().parent().parent().addClass('has-success');
                    }

                    element.remove();
                }
            });

            // validate form elements
            $(".form-horizontal").validate({
                onfocusout: function(element) {
                    this.element(element);
                },
                rules: {
                    name: {
                        required: true
                    }
                },
                submitHandler: function(form) {
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}
