{# PQC #}
{% set PQC = eval.getPQCDetails %}
<table cellspacing="0" style="width: 100%; text-align: center; font-size: 14px; background-color: #000; color: #fff;">
    <tbody>
    <tr>
        <td class="inner" style="width: 100%; text-align: left;">II. PERSONAL QUALITIES CRITERIA (40%)</td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: center; font-size: 12px;">
            <table cellspacing="0" style="width: 100%; border: solid 1px; background-color: #fff; color: #000;">
            <tbody>
            <tr style="">
                <td class="inner" style="width: 40%; font-size: 12px; border: 1px;">
                    CRITERIA
                </td>
                <td class="inner" style="width: 10%; font-size: 8px; border: 1px;">
                    % OF CRITERIA
                </td>
                <td class="inner" style="width: 10%; font-size: 8px; border: 1px;">
                    POOR
                </td>
                <td class="inner" style="width: 10%; font-size: 8px; border: 1px;">
                    NEEDS IMPROVEMENT
                </td>
                <td class="inner" style="width: 10%; font-size: 8px; border: 1px;">
                    SATISFACTORY
                </td>
                <td class="inner" style="width: 10%; font-size: 8px; border: 1px;">
                    VERY SATISFACTORY
                </td>
                <td class="inner" style="width: 10%; font-size: 8px; border: 1px;">
                    EXCELLENT
                </td>
            </tr>
            </tbody>
            </table>
        </td>
    </tr>
    {# criteria #}
    <tr>
        <td style="width: 100%; text-align: left; font-size: 12px;">
            <table cellspacing="0" style="width: 100%; border: solid 1px; background-color: #fff; color: #000;">
            <tbody>
            <tr>
                <td class="inner" style="width: 40%; font-size: 12px; font-weight: bold; border: 1px; background-color: #000; color: #fff;">
                    1. QUALITY OF WORK
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    8%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    2%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    3
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    5%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    6%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    8%
                </td>
            </tr>
            </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: left; font-size: 12px;">
            <table cellspacing="0" style="width: 100%; border: solid 1px; background-color: #fff; color: #000;">
            <tbody>
            <tr>
                <td class="inner" style="width: 40%;  border: 1px;">
                    Ability to work with thoroughness and accuracy
                </td>
                <td class="inner" style="width: 10%; font-size: 12px; font-weight: bold; text-align: center; vertical-align: middle; border: 1px;">
                    {{ PQC[0].score ~ '%' }}
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Poor quality of work.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Quality of work falls below the standard expectations of the job.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Quality of work within standard expectation.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Quality of work exceed the standard expectations of the job.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Exceptional quality of work.
                </td>
            </tr>
            </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td style="width: 100%; text-align: left; font-size: 12px;">
            <table cellspacing="0" style="width: 100%; border: solid 1px; background-color: #fff; color: #000;">
            <tbody>
            <tr>
                <td class="inner" style="width: 40%; font-size: 12px; font-weight: bold; border: 1px; background-color: #000; color: #fff;">
                    2. QUANTITY OF WORK
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    8%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    2%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    3
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    5%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    6%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    8%
                </td>
            </tr>
            </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: left; font-size: 12px;">
            <table cellspacing="0" style="width: 100%; border: solid 1px; background-color: #fff; color: #000;">
            <tbody>
            <tr>
                <td class="inner" style="width: 40%;  border: 1px;">
                    Individual productivity, ability to complete work within alloted time.
                </td>
                <td class="inner" style="width: 10%; font-size: 12px; font-weight: bold; text-align: center; vertical-align: middle; border: 1px;">
                    {{ PQC[1].score ~ '%' }}
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Poor output / productivity; Doesn't care about deadline.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Delivers expected output but was not able to complete / submit within the deadline set; Requested for extension of deadline.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Delivers expected output / productivity within the deadline.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Delivers expected output / productivity earlier than the set deadline.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Exceeds expected output / productivity way beyond the deadline set.
                </td>
            </tr>
            </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td style="width: 100%; text-align: left; font-size: 12px;">
            <table cellspacing="0" style="width: 100%; border: solid 1px; background-color: #fff; color: #000;">
            <tbody>
            <tr>
                <td class="inner" style="width: 40%; font-size: 12px; font-weight: bold; border: 1px; background-color: #000; color: #fff;">
                    3. DEPENDABILITY & RELIABILITY
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    8%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    2%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    3
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    5%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    6%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    8%
                </td>
            </tr>
            </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: left; font-size: 12px;">
            <table cellspacing="0" style="width: 100%; border: solid 1px; background-color: #fff; color: #000;">
            <tbody>
            <tr>
                <td class="inner" style="width: 40%;  border: 1px;">
                    Resourcefulness and Initiative. Ability to perform and complete work as instructed and when needed with minimum amount of supervision
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; border: 1px;">
                    {{ PQC[2].score ~ '%' }}
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; border: 1px;">
                    Cannot be depended and relied upon. Does not deliver and doesn't bother to complete works assigned to him / her.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; border: 1px;">
                    Needs a little prodding and follow up. Needs to be checked from time to time regarding expected work output.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; border: 1px;">
                    Resourceful and has initiative. Able to perform complete work as instructed and when needed with minimum amount of supervision.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; border: 1px;">
                    Resourceful and has initiative. Completed work goes beyond what is expected.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; border: 1px;">
                    Highly dependable and reliable. Exercises creativity and delivers results beyond what is expected.
                </td>
            </tr>
            </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td style="width: 100%; text-align: left; font-size: 12px;">
            <table cellspacing="0" style="width: 100%; border: solid 1px; background-color: #fff; color: #000;">
            <tbody>
            <tr>
                <td class="inner" style="width: 40%; font-size: 12px; font-weight: bold; border: 1px; background-color: #000; color: #fff;">
                    4. COOPERATION
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    6%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    1%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    2%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    4%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    5%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    6%
                </td>
            </tr>
            </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: left; font-size: 12px;">
            <table cellspacing="0" style="width: 100%; border: solid 1px; background-color: #fff; color: #000;">
            <tbody>
            <tr>
                <td class="inner" style="width: 40%;  border: 1px;">
                    Ability and willingness to work harmoniously with others and ability to follow instructions
                </td>
                <td class="inner" style="width: 10%; font-size: 12px; font-weight: bold; text-align: center; vertical-align: middle; border: 1px;">
                    {{ PQC[3].score ~ '%' }}
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    A very difficult personality to deal with. Finds difficulty working with others. Requires on-on-one insructions in order to understand what he is expected to do.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Shows signs of resistance to work with others. Requires more detailed instructions.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Shows willingness to work harmoniously with others and able to follow instructions.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Very cooperative and require less instructions.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Goes out of his/her way to work harmoniously with others. Exceeds what he is expected to do and require less instructions.
                </td>
            </tr>
            </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td style="width: 100%; text-align: left; font-size: 12px;">
            <table cellspacing="0" style="width: 100%; border: solid 1px; background-color: #fff; color: #000;">
            <tbody>
            <tr>
                <td class="inner" style="width: 40%; font-size: 12px; font-weight: bold; border: 1px; background-color: #000; color: #fff;">
                    5. PERSONALITY
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    5%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    1%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    2%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    3%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    4%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    5%
                </td>
            </tr>
            </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: left; font-size: 12px;">
            <table cellspacing="0" style="width: 100%; border: solid 1px; background-color: #fff; color: #000;">
            <tbody>
            <tr>
                <td class="inner" style="width: 40%;  border: 1px;">
                    Effectiveness in dealing with others, courtesy, personal grooming and pleasant disposition; Able to integrate and practice spiritual values in daily life.
                </td>
                <td class="inner" style="width: 10%; font-size: 12px; font-weight: bold; text-align: center; vertical-align: middle; border: 1px;">
                    {{ PQC[4].score ~ '%' }}
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Poor personality; Arouses dislike from most employees he/she has dealt with; Poor hygiene; Needs guidance in spiritual life.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Sometimes exhibits unpleasant personality with certain instances of rudeness; Needs to improve personal hygiene, as well as spiritual values in daily life.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Effective in dealing with others, corteous, observes good grooming / hygiene; Able to integrate and practice good personal values in daily life.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Pleasant personality; Very courteous, very neat and observes good grooming / hygiene; practices good spiritual values in daily life.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Well-liked; Very pleasant personality, very courteous with anyone he/she deals with; lives up to good spiritual values in his daily life.
                </td>
            </tr>
            </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td style="width: 100%; text-align: left; font-size: 12px;">
            <table cellspacing="0" style="width: 100%; border: solid 1px; background-color: #fff; color: #000;">
            <tbody>
            <tr>
                <td class="inner" style="width: 40%; font-size: 12px; font-weight: bold; border: 1px; background-color: #000; color: #fff;">
                    6. ATTENDANCE
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    5%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    1%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    2%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    3%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    4%
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:right; border: 1px;">
                    5%
                </td>
            </tr>
            </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: left; font-size: 12px;">
            <table cellspacing="0" style="width: 100%; border: solid 1px; background-color: #fff; color: #000;">
            <tbody>
            <tr>
                <td class="inner" style="width: 40%;  border: 1px;">
                    Regularity and Punctuality in office attendance and proper observance of work hours.
                </td>
                <td class="inner" style="width: 10%; font-size: 12px; font-weight: bold; text-align: center; vertical-align: middle; border: 1px;">
                    {{ PQC[5].score ~ '%' }}
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Poor attendance. Always late in reporting for work and in meeting with clients and other members of the Management team; with unathourized absences.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Arrives few minutes late that his/her official time; in the same way for appointed meetings with clients and other members of the Management Team. Rushes for appointments. With few absences and missed meetings.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Observes punctuality in reporting for work, as well as meetings with clients and other members of the Management team. Present in all appointments.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Starts his/her working day a few minutes than his/her official time; Arrives a few minutes earlier for appointed meetings with clients or other members of the Management team.
                </td>
                <td class="inner" style="width: 10%; font-size: 10px; text-align:left; border: 1px;">
                    Starts his/her working days hours earlier than his/her official time; Arrives very early for appointments, meetings with clients and other members of the Management team.
                </td>
            </tr>
            </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

