{% extends "CatalystTemplateBundle::base.html.twig" %}
{% import "CatalystTemplateBundle::form.html.twig" as form %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Memo</div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form method="post" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <input type="hidden" name="type" id="type" value="{{type}}">
                            {{ form.group_text('Issued by', 'issued_by', object.getUserCreate.getEmployee.getDisplayName|default(''), 3, 4, true) }}
                            {{ form.typeahead('Employee Name','emp',object.getEmployee is not null ? object.getEmployeeName : "",
                                           object.getEmployee is not null ? object.getEmployee.getID: "",path('hris_workforce_employee_ajax_get'),3,4, readonly)}}
                            {{ form.group_text('Department','issued_to_dept', object.getEmployee.getDepartment.getName|default(''),3,4, true) }}
                            
                            <div id="agent">
                            {{ form.group_text('Agency', 'agency', agency|default(''), 3, 4) }}
                            </div>
                            {{ form.group_date('Date Issued','issued_date', object.getDateCreate|default('')|date('m/d/Y'),3,4) }}
                        </div>
                    </div>
              
                       <hr>
                        {# ADD #}
                        {# {{ form.group_text('Date of Incident', 'date_of_incident', date_of_incident|date("m/d/Y"), 3, 4, readonly) }}
                        {{ form.group_textarea('Location', 'location', location, 3, 3, 4, readonly) }}
                        {{ form.group_textarea('Nature of Violation Commited', 'violation_committed', violation_committed|default(''), 3, 3, 4, readonly) }}
                        {{ form.group_textarea('Particular Company Policy Violated', 'violated_policy', violated_policy|default(''), 3, 3, 4, readonly) }}
                        {{ form.group_select('Reason','reason',reason_opts, reason|default(''),3,4, readonly) }}
                        {{ form.group_date('Date Submitted/Expected','date_of_exp', date_of_exp,3,4,readonly) }}
                        {{ form.group_select('Action','action',action_opts, action|default(''),3,4, readonly) }}
                        <div id="suspension_form">
                        {{ form.group_date('Date Start','date_start', "now"|date("m/d/Y"),3,4) }}
                        {{ form.group_date('Date End','date_end', "now"|date("m/d/Y"),3,4) }}
                        </div>
                        <div id="others_form">
                        {{ form.group_textarea('', 'other_actions', message|default(''), 3, 3, 4, readonly) }}
                        </div> #}
                        <hr>
                        {% if object.getStatus != 'Draft' %}
                            {# ADD #}
                            {{ form.group_text('Date of Incident', 'date_of_incident', date_of_incident|date("m/d/Y"), 3, 4, true) }}
                            {{ form.group_textarea('Location', 'location', location, 3, 3, 4, true) }}
                            {{ form.group_textarea('Nature of Violation Commited', 'violation_committed', violation_committed|default(''), 3, 3, 4, true) }}
                            {{ form.group_textarea('Particular Company Policy Violated', 'violated_policy', violated_policy|default(''), 3, 3, 4, true) }}
                            {{ form.group_select('Reason','reason',reason_opts, reason|default(''),3,4, true) }}
                            {{ form.group_text('Date Submitted/Expected','date_of_exp', date_of_exp,3,4,true) }}
                            {{ form.group_select('Action','action',action_opts, action|default(''),3,4, true) }}
                            {% if action == 1 %}
                                {{ form.group_text('Date Start', 'date_start', date_start, 3, 4, true) }}
                                {{ form.group_text('Date End', 'date_end', date_end, 3, 4, true) }}
                            {% elseif action == 2 %}
                                {{ form.group_textarea('', 'other_actions', other_actions|default(''), 3, 3, 4, true) }}
                            {% endif %}
                        {% else %}
                            {{ form.group_date('Date of Incident','date_of_incident', date_of_incident|default('')|date("m/d/Y"),3,4) }}
                            {{ form.group_textarea('Location', 'location', location|default(''), 3, 3, 4, readonly) }}
                            {{ form.group_textarea('Nature of Violation Commited', 'violation_committed', violation_committed|default(''), 3, 3, 4, readonly) }}
                            {{ form.group_textarea('Particular Company Policy Violated', 'violated_policy', violated_policy|default(''), 3, 3, 4, readonly) }}
                            {{ form.group_select('Reason','reason',reason_opts, reason|default(''),3,4, readonly) }}
                            {{ form.group_date('Date Submitted/Expected','date_of_exp', "now"|date("m/d/Y"),3,4) }}
                            {{ form.group_select('Action','action',action_opts, action|default(''),3,4, readonly) }}
                            <div id="suspension_form">
                                {{ form.group_date('Date Start','date_start', date_start|default("now"|date("m/d/Y")),3,4) }}
                                {{ form.group_date('Date End','date_end', date_end|default("now"|date("m/d/Y")),3,4) }}
                            </div>
                            <div id="others_form">
                                {{ form.group_textarea('', 'other_actions', message|default(''), 3, 3, 4, readonly) }}
                            </div>
                            <br>
                            <br>
                        {% endif %}
                    <div class="form-actions fluid">
                        <div class="col-md-6">
                            {% if object.getStatus == 'Draft' %}
                            <button type="submit" class="btn blue">Submit</button>
                            {% endif %} 
                            <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                        </div>

                        <div class="col-md-6">
                            <div class="pull-right">
                            {% if object.getID != null %}
                                {% if object.getStatus == 'Draft' and is_hr == true %}
                                <a href="{{ path('hris_memo_disciplinary_change_status', {id: object.getID, type: type, status: 'Sent'}) }}" class="btn blue-hoki">Send</a>
                                {% endif %}
                                {% if object.getStatus == 'Sent' and (is_supervisor == true or is_hr == true) %}
                                <a href="{{ path('hris_memo_disciplinary_change_status', {id: object.getID, type: type, status: 'Reviewed'}) }}" class="btn blue-hoki">Reviewed</a>
                                {% endif %}
                                {# {% if object.getStatus == 'Reviewed' %}
                                <a href="{{ path('hris_memo_change_status', {id: object.getID, type: type, status: 'Approved'}) }}" class="btn blue-hoki">Approved</a>
                                {% endif %}
                                 #}
                                {% if object.getStatus == 'Reviewed' %}
                                 <a href="{{ path('hris_memo_disciplinary_print', {id: object.getID}) }}" class="btn green">Print</a>
                                {% endif %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready( function() {
     $('#cform-date_of_incident').datepicker({
    todayHighlight: true,
    endDate: '0',
    });

    $("#others_form").hide();
    $("#suspension_form").hide();
    $("#agent").hide();

    if ($('#cform-action').val() == 2) 
    {
        $("#others_form").show();
    }
    else if ($('#cform-action').val() == 1) 
    {
        $("#suspension_form").show();
    }
    else
    {

    }

    
    
    $('#cemp_typeahead').change(function() {
        $("#cform-agency").val('');
        if ($('#cemp_id').val() != '') 
        {
            update_form();
        }
        else
        {
            $('#cemp_typeahead').val('');
        }
    });



    $("#cform-action").live('change', function(){
        $("#others_form").hide();
        $("#suspension_form").hide();

        if ($('#cform-action').val() == 2) 
        {
            $("#others_form").show();
        }
        else if ($('#cform-action').val() == 1) 
        {
            $("#suspension_form").show();
        }
    });

    $('#cform-date_start').datepicker().on('changeDate', function (ev) {
            $('#cform-date_end').datepicker({
            startDate: $('#cform-date_start').val(),
            });
    });

    $('.calendar').prop('disabled', true);

    $('#cform-date_from').datepicker().on('changeDate', function (ev) {
            $('#cform-date_to').datepicker({
            todayHighlight: true,
            startDate: $('#cform-date_from').val(),
            });
    });
    // set default error and success elements
    jQuery.validator.setDefaults({
        errorClass: 'help-block',
        errorElement: 'span',
        errorPlacement: function(error, element) {
            if(element.parent().parent().hasClass('form-group'))
            {
                error.appendTo(element.parent().last());
                element.parent().parent().addClass('has-error');
            }
            else if(element.parent().parent().hasClass('checker'))
            {
                error.appendTo(element.parent().parent().parent().parent().last());
                element.parent().parent().parent().parent().parent().parent().addClass('has-error');
            }
            else if(element.parent().parent().hasClass('radio'))
            {
                error.appendTo(element.parent().parent().parent().parent().last());
                element.parent().parent().parent().parent().parent().parent().addClass('has-error');
            }
            else
            {
                error.appendTo(element.parent().parent().last());
                element.parent().parent().parent().addClass('has-error');
            }
        },
        success: function(element) {
            if(element.parent().parent().hasClass('form-group'))
            {
                element.parent().parent().removeClass('has-error');
                element.parent().parent().addClass('has-success');
            }
            else if(element.parent().parent().hasClass('checker'))
            {
                element.parent().parent().parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().parent().parent().addClass('has-success');
            }
            else if(element.parent().parent().hasClass('radio'))
            {
                element.parent().parent().parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().parent().parent().addClass('has-success');
            }
            else
            {
                element.parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().addClass('has-success');
            }

            element.remove();
        }
    });

    // validate form elements
    $(".form-horizontal").validate({
        onfocusout: function(element) {
           this.element(element);
        },
        rules: {
            event_name: "required",
            emp: "required",
            location: "required",
            violation_committed: "required",
            violated_policy: "required",
            date_of_incident: "required",
        },
        messages: {
            event_name: "Event name cannot be blank.",
        },
        submitHandler: function(form) {
            form.submit();
        }
    });


});
</script>
{% endblock %}