<style type="text/css">
div.container4 {
    height: 100%;
    width: 100%;
    position: relative 
}
div.container_logo {
	width: 100%;
	max-height: 50px;
    position: relative; 
}
.img_logo {
	width: 300px;
   position: absolute;
   left: 50%;
   margin-left: -150px;
}
.page_label {
	text-align:center;
}
.parag {
    margin: 0;
    position: absolute;
    top: 50%;
    text-align:center;
    left: 50%;
    margin-right: -50%;
    font-size: 28px;
}
</style>
<page>
	<div class="container_logo">
	<img class="img_logo" src="{{logo|default('bundles/gistmedia/img/default.png')}}">
	</div>
	<br>
	<br>
		<table style="border: 1px solid black; border-collapse: collapse; font-size: 16px;" align="center" border="1">
			<tr>
		        <th style="width: 173; padding-top: 5px; padding-bottom: 5px; text-align: center;" colspan="4">ISSUED PROPERTIES</th>
		    </tr>
			<tr>
		        <th style="width: 173; padding-top: 5px; padding-bottom: 5px; text-align: center;">Item Name</th>
		        <th style="width: 173; padding-top: 5px; padding-bottom: 5px; text-align: center;">Issued To</th>
		        <th style="width: 173; padding-top: 5px; padding-bottom: 5px; text-align: center;">Date Issued</th>
		        <th style="width: 173; padding-top: 5px; padding-bottom: 5px; text-align: center;">Date Returned</th>
		    </tr>
		    {% for property in properties %}
		    	<tr>
		    		<td style="width: 173; padding-top: 1px; padding-bottom: 1px; text-align: left;">{{property.getItemName}}</td>
		    		<td style="width: 173; padding-top: 1px; padding-bottom: 1px; text-align: left;">{{property.getEmployee.getDisplayName}}</td>
		    		<td style="width: 173; padding-top: 1px; padding-bottom: 1px; text-align: left;">{{property.getDateIssued}}</td>
		    		<td style="width: 173; padding-top: 1px; padding-bottom: 1px; text-align: left;">{{property.getDateReturned}}</td>
		    	</tr>
			{% endfor %}
		</table>
		<page_footer>
    <div align="center" style="margin: 0;"><p style="color: green; font-size: 16px; margin: 0;"><b>{{company_name|default('Quadrant Alpha Technology Solutions, Inc.')}}</b></p></div>
    <div align="center" style="margin: 0;"><p style="color: black; font-size: 10px; margin: 0;">{{company_address.getFullAddress|default('Unit 102 10th Floor, Legaspi Suites, Salcedo Street, Legaspi Village, Makati City, Philippines')}}</p></div>
    <div align="center" style="margin: 0;"><p style="color: green; font-size: 14px; margin: 0;"><b>{{company_website|default('www.quadrantalpha.com')}}</b></p></div>
</page_footer>
</page>