{% import "GistTemplateBundle::menu.html.twig" as menu %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>{% block title %}Gist{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
{% block meta %}{% endblock %}
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/gisttemplate/assets/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/gisttemplate/assets/global/plugins/font-awesome-4.3.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/gisttemplate/assets/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/gisttemplate/assets/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/gisttemplate/assets/global/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/gisttemplate/assets/global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css" />
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/autosuggest/jquery.autoSuggest.css') }}"></script>
<!-- END GLOBAL MANDATORY STYLES -->
{% block css %}{% endblock %}
<!-- BEGIN THEME STYLES -->
<link href="{{ asset('bundles/gisttemplate/assets/global/css/components.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/gisttemplate/assets/global/css/plugins.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/gisttemplate/assets/admin/layout/css/layout.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/gisttemplate/assets/admin/layout/css/themes/default.css') }}" rel="stylesheet" type="text/css" id="style_color"/>
<link href="{{ asset('bundles/gisttemplate/assets/admin/layout/css/custom.css') }}" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="{{ asset('bundles/hristemplate/images/nfpi_favicon_text.png')}}"/>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <div class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </div>
        <!-- END RESPONSIVE MENU TOGGLER -->
        {% embed "GistTemplateBundle::top_nav_menu.html.twig" %}{% endembed %}
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
        <div class="page-logo">
                <a href="/">
                    <img src="{{ asset('bundles/hristemplate/images/NFPI.png')}}" style="width:100%" alt="logo" class="logo-default"/>
                </a>
        </div>
            {{ menu.main_menu(left_menu) }}
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                    {% block header_title %}
                    {{ head_title }} <small>{{ head_subtitle }}</small>
                    {% endblock %}
                    </h3>
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/">Home</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        {% for trail in bcrumb %}
                        <li>
                            {% if (trail.url != null) %}
                            <a href="{{ trail.url }}">{{ trail.label }}</a>
                            {% else %}
                            {{ trail.label }}
                            {% endif %}

                            {% if (not loop.last) %}
                            <i class="fa fa-angle-right"></i>
                            {% endif %}
                        </li>
                        {% endfor %}
                        <li class="pull-right">
                        {% block header_right %}{% endblock %}
                        </li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->

            {% for flash_msg in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <strong>Error: </strong>
                {{ flash_msg }}
            </div>
            {% endfor %}

            {% for flash_msg in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <strong>Success: </strong>
                {{ flash_msg }}
            </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
         2017 &copy; Gist.<br>
         Powered by : GIST
    </div>
    <div class="page-footer-tools">
        <span class="go-top">
        <i class="fa fa-angle-up"></i>
        </span>
    </div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/respond.min.js') }}"></script>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/excanvas.min.js') }}"></script> 
<![endif]-->

<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-migrate-1.2.1.min.js') }}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery.cokie.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/uniform/jquery.uniform.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/mustache.min.js') }}" type="text/javascript"></script>

<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ asset('bundles/gisttemplate/assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/gisttemplate/assets/admin/layout/scripts/layout.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/select2/select2.min.js') }}"></script>
<script src="{{ asset('bundles/gisttemplate/assets/global/scripts/validation.js') }}"></script>
<script src="{{ asset('bundles/gistnotification/js/notification.js') }}"></script>

<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/autosuggest/jquery.autoSuggest.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/gistmedia/js/lightbox.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/admin/pages/scripts/components-pickers.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/clockface/js/clockface.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/bootstrap-daterangepicker/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-validation/js/additional-methods.min.js') }}"></script>

<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/bootbox/bootbox.min.js') }}" type="text/javascript"></script>

<script src="{{ asset('bundles/gistmedia/js/gist_media.js') }}"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {
   Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
   $('.select_2').select2(); // styling selects
   $('.date-picker').datepicker();
   Notification.init();

});
</script>


{% block js %}{% endblock %}
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
