{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">{{ list_title }}</div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    {% if app.user.hasAccess(prefix ~ '.add') %}
                    {% endif %}
                </div>
                <form method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-filter"></i>Filters
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-horizontal">
                                                {{ date_to|date('m/d/Y') }}
                                                {{ form_tools.group_date_range('daterange', 'Date Range', 'date_from', 'date_to', date_from, date_to, 3, 4) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <button type="submit" class="btn blue pull-left" id="filter_button" style="margin-right: 10px;">Apply Filters</button>
                            <button class="btn red" id="clear_filter">Clear Filters</button>
                            <a href="javascript:;" id="csv_btn" class="btn green pull-right"><i class="fa fa-files-o"></i> Export CSV</a>
                            <a href="javascript:;" id="print_btn" class="btn green pull-right" style="margin-right: 10px;"><i class="fa fa-print"></i> Print</a>
                        </div>
                    </div>
                </form>
                <table class="table table-striped table-bordered table-hover" id="list_table">
                    <thead>
                    <tr>
                        <th style="width:20%;">Date Range</th>
                        <th>Customer</th>
                        <th>Total Purchase</th>
                        <th style="width: 18px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ date_from }} - {{ date_to }}</td>
                        <td class="text-center">All</td>
                        <td class="text-right">{{ all_data['total_sales'] }}</td>
                        <td><a href="{{ path('gist_layered_sales_report_employee_index_positions', {'date_from' : date_from_url, 'date_to' : date_to_url}) }}" class="btn default btn-xs blue-madison"><i class="fa fa-level-down"></i> Next Level</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block js %}
        <script>
            $(document).ready(function() {
                var dTable;
                var path;
                var id;
                var date_from;
                var date_to;

                date_to = null;
                date_from = null;
                id = null;
                path = "{{ path('gist_sales_report_main_ajax_grid', { 'id' : 'ID', 'date_from' : 'DFROM', 'date_to' : 'DTO'} ) }}";
                path = path.replace('ID', id);
                path = path.replace('DFROM', date_from);
                path = path.replace('DTO', date_to);

                dTable = $('#list_table').dataTable({
                    "bProcessing": true,
                    "bServerSide": false,
//                    "sAjaxSource": path,
                    "iDisplayLength": 10,
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ records",
                        "oPaginate": {
                            "sPrevious": "Prev",
                            "sNext": "Next"
                        }
                    },
                    "aoColumnDefs": [
                        { "bSortable": false, "aTargets": [3] },
                    ],
                    "aaSorting": [[2,'desc']]
                });

                $('#list_table_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
                $('#list_table_wrapper .dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
                $('#list_table_wrapper .dataTables_length select').select2(); // initialize select2 dropdown

                $('#daterange').daterangepicker(
                    {
                        ranges: {
                            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                            'Last 7 Days': [moment().subtract(6, 'days'), new Date()],
                            'Last 30 Days': [moment().subtract(29, 'days'), new Date()],
                            'This Month': [moment().startOf('month'), moment().endOf('month')],
                            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                        },
                        opens: 'left',
                        format: 'MM/DD/YYYY',
                    },
                    function(start, end) {
                        $('#daterange input').val(start.format('MM/DD/YYYY') + '   -   ' + end.format('MM/DD/YYYY'));
                        $('#cform-date_from').val(start.format('YYYYMMDD'));
                        $('#cform-date_to').val(end.format('YYYYMMDD'));
                    }
                );
                $('#clear_filter').click(function (){
                    location.reload();
                });
                $('#filter_button').click(function (){
                    path = generatePath();
                    dTable.fnReloadAjax(path);
                });
            });
        </script>
    {% endblock %}

    {% block css %}
    {% endblock %}
