{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">{% block form_header %}{% endblock %}</div>
                </div>
                <div class="portlet-body form">
                    <form method="post" class="form-horizontal" id="transfer_form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {% if object.hasDiscrepancy %}
                                        <div class="note note-warning">
                                            <h4 class="block">Discrepancy found!</h4>
                                            <p> This submission has quantity discrepancy. </p>
                                        </div>
                                    {% endif %}
                                    <h4 class="form-section">Information</h4>
                                    <input type="hidden" id="sp_flag" name="sp_flag" value="false">
                                    <input type="hidden" id="rollback_flag" name="rollback_flag" value="{{ is_rolled_back|default('false') }}">
                                    {{ form.group_text('Inventory', 'source', object.getInventoryAccount.getName, 3, 5, true) }}
                                    {{ form.group_textarea('Description', 'description',object.getRemarks|default(''),3,3,5, true)}}
                                    {{ form.group_text('Created by', 'created_by',object.getUserCreate.getDisplayName|default(''),3,5, true)}}
                                    {{ form.group_text('Date Submitted', 'date_submitted',object.getDateTimeCreateFormatted|default(''),3,5, true)}}
                                    {{ form.group_text('Time Slot', 'time_slot',object.getCountTimeSlot|default(''),3,5, true)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="form-section">Counting Entries</h4>
                                    <table class="table table-bordered" id="counted_items_table">
                                        <thead>
                                        <tr>
                                            <td width="20%">Item Code</td>
                                            <td width="40%">Item Name</td>
                                            <td width="10%">Stock*</td>
                                            <td width="10%">Count</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for ce in entries %}
                                                <tr {{ ce.hasDiscrepancy ? 'style="background-color: yellow;"' : '' }}>
                                                    <td>{{ ce.getProduct.getItemCode|default('') }}</td>
                                                    <td>{{ ce.getProduct.getName|default('') }}</td>
                                                    <td>{{ ce.getExistingQuantity|default('') }}</td>
                                                    <td>{{ ce.getQuantity|default('') }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <p><strong>*stock recorded during time of counting</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-9">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>


        $(document).ready(function() {

            $('#counted_items_table').dataTable({
                "bProcessing": false,
                "bServerSide": false,
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "bFilter" : false,
                "bInfo" : false,
                "bLengthChange": false,
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                // "aoColumnDefs": [
                //     { "bSortable": false, "aTargets": [3,4] }
                // ],
                "aaSorting": [[2,'desc']]
            });

            // dTable = $('#search_table').dataTable({
            //     "bProcessing": true,
            //     "bServerSide": true,
            //     "sAjaxSource": path,
            //     "iDisplayLength": 5,
            //     "bLengthChange": false,
            //     "sPaginationType": "bootstrap",
            //     "oLanguage": {
            //         "sLengthMenu": "_MENU_ records",
            //         "oPaginate": {
            //             "sPrevious": "Prev",
            //             "sNext": "Next"
            //         }
            //     },
            //     "aoColumnDefs": [
            //         { "bSortable": false, "aTargets": [3] },
            //     ]
            // });


        });
    </script>
{% endblock %}
