{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">{% block form_header %}{% endblock %}</div>
                </div>
                <div class="portlet-body form">
                    <form method="post" class="form-horizontal" id="transfer_form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="form-section">Information</h4>
                                    <input type="hidden" id="sp_flag" name="sp_flag" value="false">
                                    <input type="hidden" id="rollback_flag" name="rollback_flag" value="{{ is_rolled_back|default('false') }}">
                                    {% if main_status|default('') == '' and is_rolled_back|default('') == '' %}
                                        {{ form.group_select("Source", "source", wh_opts, object.getSource.getID|default(-1), 3, 5, readonly) }}
                                        {{ form.group_select("Destination", "destination", wh_opts, object.getDestination.getID|default(-1), 3, 5, readonly) }}
                                        {{ form.group_textarea('Description', 'description',object.getDescription|default(''),3,3,5)}}
                                    {% else %}
                                        {{ form.group_text('Source', 'source', object.getSource.getName, 3, 5, true) }}
                                        {{ form.group_text('Destination', 'destination', object.getDestination.getName, 3, 5, true) }}
                                        {{ form.group_textarea('Description', 'description',object.getDescription|default(''),3,3,5, true)}}
                                        {% if main_status|default('') == 'requested' %}
                                            {{ form.group_select_no_default("Processing User", "selected_user", user_opts, 0, 3, 5, false) }}
                                        {% elseif main_status|default('') == 'processed' %}
                                            {{ form.group_select_no_default("Delivery Personnel", "selected_user", user_opts, 0, 3, 5, false) }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <h4 class="form-section">Status</h4>
                                    <div class="wrapper">
                                        <ol class="ProgressBar">
                                            <li class="ProgressBar-step is-current">
                                                <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                                                <span class="ProgressBar-stepLabel">
                                                    Requested
                                                    {% if main_status == 'requested' and is_rolled_back|default('') != 'true' %}
                                                        <a href="{{ path('gist_inv_stock_transfer_edit_rollback_form', { 'id': object.getID}) }}"><i class="fa fa-edit"></i></a>
                                                    {% endif %}
                                                    <br>
                                                    <span id="step1-stamp" style="font-size: 12px; color: black;">
                                                        {{ object.getDateCreate|date('M d, Y H:i')|default('') }}
                                                        <br>
                                                        {{ object.getRequestingUser.getDisplayName|default('') }}
                                                    </span>
                                                </span>
                                            </li>
                                            <li class="ProgressBar-step">
                                                <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                                                <span class="ProgressBar-stepLabel">
                                                    Processed
                                                    {% if main_status == 'processed' and is_rolled_back|default('') != 'true' %}
                                                        <a href="{{ path('gist_inv_stock_transfer_edit_rollback_form', { 'id': object.getID}) }}"><i class="fa fa-edit"></i></a>
                                                    {% endif %}
                                                    <br>
                                                    <span id="step2-stamp" style="font-size: 12px; color: black;">
                                                        {{ object.getDateProcessed|date('M d, Y H:i')|default('') }}
                                                        <br>
                                                        {{ object.getProcessedUser.getDisplayName|default('') }}
                                                    </span>
                                                </span>
                                            </li>
                                            <li class="ProgressBar-step">
                                                <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                                                <span class="ProgressBar-stepLabel">
                                                    Delivered
                                                    <br>
                                                    <span id="step3-stamp" style="font-size: 12px; color: black;">
                                                        {{ object.getDateDelivered|date('M d, Y H:i')|default('') }}
                                                        <br>
                                                        {{ object.getDeliverUser.getDisplayName|default('') }}
                                                    </span>
                                                </span>
                                            </li>
                                            <li class="ProgressBar-step">
                                                <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
                                                <span class="ProgressBar-stepLabel">
                                                    Arrived
                                                    <br>
                                                    <span id="step4-stamp" style="font-size: 12px; color: black;">
                                                        {{ object.getDateReceived|date('M d, Y H:i')|default('') }}
                                                        <br>
                                                        {{ object.getReceivingUser.getDisplayName|default('') }}
                                                    </span>
                                                </span>
                                            </li>
                                        </ol>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
                                        <symbol id="checkmark-bold" viewBox="0 0 24 24">
                                            <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                                        </symbol>
                                    </svg>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="form-section">Items to transfer</h4>
                                    {% if main_status|default('') == '' or (main_status|default('') == 'new') %}
                                        <a href="#add_entry_modal" class="btn green" data-toggle="modal" style="margin-bottom: 15px;">
                                            Search Product
                                        </a>
                                    {% endif %}
                                    <table class="table table-striped table-bordered table-hover" id="list_table">
                                        <thead>
                                        <tr>
                                            <td width="20%">Item Code</td>
                                            <td width="40%">Item Name</td>
                                            {% if object.getID|default('') == '' %}
                                                <td width="10%">Current Stock (Source)</td>
                                            {% endif %}
                                            {% if main_status|default('') == '' or main_status|default('') == 'requested' or main_status|default('') == 'processed' %}
                                                <td width="20%">
                                                    Requested Quantity
                                                </td>
                                            {% else %}
                                                <td width="20%">
                                                    Processed Quantity
                                                </td>
                                            {% endif %}
                                            {% if main_status|default('') == 'arrived' or main_status|default('') == 'delivered' %}
                                                <td width="20%">
                                                    Received Quantity
                                                </td>
                                            {% elseif main_status|default('') == 'requested' or main_status|default('') == 'processed' %}
                                                <td width="20%">
                                                    Processed Quantity
                                                </td>
                                            {% elseif main_status|default('') == '' %}
                                                <td width="20%">

                                                </td>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        <tbody id="transfer_table_body">
                                        {% for e in object.getEntries|default('') %}
                                            <tr>
                                            <input type="hidden" class="product_item_code" name="product_item_code[]" value="{{ e.getProduct.getItemCode }}">
                                            <input type="hidden" class="product_item_code" name="st_entry[]" value="{{ e.getID }}">
                                            <td>
                                                <input type="text"  class='form-control' value="{{ e.getProduct.getItemCode|default('N/A') }}" readonly>
                                            </td>
                                            <td>
                                                <input type="text"  class='form-control' value="{{ e.getProduct.getName|default('N/A') }}" readonly>
                                            </td>
                                            {% if main_status|default('') == '' %}
                                                <td>
                                                    <input type="number"  class='form-control quantity_row' name="quantity[]" value="{{ e.getQuantity|default(0) }}">
                                                </td>
                                            {% elseif main_status|default('') == 'requested' or main_status|default('') == 'processed' %}
                                                <td>
                                                    <input type="number"  class='form-control' name="quantity[]" value="{{ e.getQuantity|default(0) }}" readonly>
                                                </td>
                                            {% endif %}
                                            {% if main_status|default('') == 'requested' %}
                                                <td>
                                                    <input type="number"  class='form-control quantity_row' name="processed_quantity[]" value="{{ e.getQuantity|default(0) }}">
                                                </td>
                                            {% elseif main_status|default('') == 'processed' or main_status|default('') == 'delivered' or main_status|default('') == 'arrived' %}
                                                <td>
                                                    <input type="number"  class='form-control' name="processed_quantity[]" value="{{ e.getProcessedQuantity|default() }}" readonly>
                                                </td>
                                            {% endif %}
                                            {% if main_status|default('') == '' %}
                                                <td><a href='javascript:void(0)' class='btn btn-xs red remove_row'>Remove</a></td></tr>
                                            {% endif %}
                                            {% if main_status|default('') == 'delivered' %}
                                                <td>
                                                    <input type="number"  class='form-control quantity_row' name="received_quantity[]" value="{{ e.getProcessedQuantity|default() }}">
                                                </td>
                                            {% elseif main_status|default('') == 'arrived' %}
                                                <td>
                                                    <input type="number"  class='form-control' name="received_quantity[]" value="{{ e.getReceivedQuantity|default() }}" readonly>
                                                </td>
                                            {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-9">
                                {% if main_status|default('') == '' %}
                                    <input type="hidden" name="status" value="requested">
                                    <a href="javascript:void(0)" id="transfer_form_btn" class="btn blue"><i class="fa fa-save"></i> Save</a>
                                    <a href="javascript:void(0)" id="transfer_form_btn_sp" class="btn blue"><i class="fa fa-print"></i> Save & Print</a>
                                    <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                                {% else %}
                                    {% if main_status|default('') == 'requested' %}
                                        <input type="hidden" name="status" value="processed">
                                        <button name="status" type="submit" value="processed" class="btn blue"><i class="fa fa-pencil"></i> Process</button>
                                    {% elseif main_status|default('') == 'processed' %}
                                        <input type="hidden" name="status" value="delivered">
                                        <a href="{{ path('gist_inv_stock_transfer_print', { 'id': object.getID}) }}" id="print_btn" class="btn green"><i class="fa fa-print"></i> Print</a>
                                        <button name="status" type="submit" value="delivered" class="btn blue"><i class="fa fa-truck"></i> Deliver</button>
                                    {% elseif main_status|default('') == 'delivered' %}
                                        <input type="hidden" name="status" value="arrived">
                                        <button name="status" type="submit" value="arrived" class="btn blue"><i class="fa fa-check"></i> Arrived</button>
                                    {% elseif main_status|default('') == 'arrived' %}

                                    {% endif %}
                                    <a href="{{ path(route_list) }}" class="btn default">Go back to list</a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="add_entry_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Search Product</h4>
                </div>
                <div class="modal-body" style="">
                    <form id="entry-form">
                        <div class="row form-horizontal form">
                            <div class="form-body">
                                {{ form.group_select_legacy("Product Category", "product_category", cat_opts, 0, 3, 5, false) }}
                                <hr>
                                <table class="table table-striped table-bordered table-hover" id="search_table">
                                    <thead>
                                    <tr>
                                        <th style="width: 140px">Item Code</th>
                                        <th style="width: 140px">Barcode</th>
                                        <th style="width: 180px">Name</th>
                                        <th style="width: 80px"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                    <button id="add_entry_submit" type="button" class="btn green">Add Entry</button>
                    <button type="button" data-dismiss="modal" class="btn default">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function refreshCurrentStocks() {

            $('.quantity_row').each(function() {
                var row = $(this).closest('tr');
                //var prod_id = row.find('.row_prod_id').val();
                var item_code = row.find('.product_item_code').val();
                var source_id = $('#cform-source').val();
                var url = "{{ path('gist_inv_stock_transfer_get_current_stock', { item_code: ':item_code', source_id: ':source_id'}) }}";
                url = url.replace(":item_code", item_code).replace(':source_id', source_id);


                $.getJSON(url, function(json){
                    //alert(json.stock_qty);
                    row.find('.current_stock').val(json.stock_qty);
                });
            });
        }

        function generatePath() {

            var product_category = $('#cform-product_category').val();

            var path = "{{ path('gist_inv_damaged_items_search_ajax_grid', {
                'category' : 'CATEGORY'}
            ) }}";

            if (product_category == null || product_category == '') {
                path = path.replace('CATEGORY', null);
            } else {
                path = path.replace('CATEGORY', product_category);
            }
            console.log(path);
            return path;
        }

        function validateTransfers() {
            var rowCount = $('#list_table tr').length;
            var source = $('#cform-source').val();
            var destination = $('#cform-destination').val();

            if ($('#cform-description').val() == '') {
                toastr['error']('Description is required', 'Form validation');
                return false;
            }

            if (rowCount > 1 && source != '-1' && destination != '-1' && source != destination) {
                var qty_passed = true;
                $('.quantity_row').each(function() {
                    if ($(this).val() == '' || $(this).val() < 1) {
                        qty_passed = false;
                    }
                });

                if (qty_passed) {
                    $('#transfer_form').submit();
                } else {
                    toastr['error']('Please check quantities.', 'Form validation');
                    $('#sp_flag').val('false');
                }
            } else {
                $('#sp_flag').val('false');
                if (source == destination) {
                    toastr['error']('Source and destination location should be distinct!', 'Form validation');

                } else {
                    if (source == '-1') {
                        toastr['error']('Please select source!', 'Form validation');
                    }

                    if (destination == '-1') {
                        toastr['error']('Please select destination!', 'Form validation');
                    }

                    if (rowCount < 2) {
                        toastr['error']('No item/s to transfer!', 'Form validation');
                    }
                }
            }
        }

        $(document).ready(function() {

            $('#cform-source').change(function() {
                refreshCurrentStocks();
            });

            path = "{{ path('gist_inv_damaged_items_ajax_grid') }}";

            $(".form-horizontal").validate({
                onfocusout: function(element) {
                    this.element(element);
                },
                rules: {

                },
                submitHandler: function(form) {
                    form.submit();
                }
            });

            dTable = $('#search_table').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": path,
                "iDisplayLength": 5,
                "bLengthChange": false,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [3] },
                ]
            });

            var statusCount = 0;
            var currentStatus = "{{ main_status|default('new') }}";


            if (currentStatus == 'new' || currentStatus == '') {
                statusCount = 0;
            } else if (currentStatus == 'requested') {
                statusCount = 1;
            } else if (currentStatus == 'processed') {
                statusCount = 2;
            } else if (currentStatus == 'delivered') {
                statusCount = 3;
            } else if (currentStatus == 'arrived') {
                statusCount = 4;
            }

            $('#step1-stamp').hide();
            $('#step2-stamp').hide();
            $('#step3-stamp').hide();
            $('#step4-stamp').hide();

            for (var i = 0; i < statusCount; i++) {
                var $bar = $(".ProgressBar");
                if ($bar.children(".is-current").length > 0) {
                    $bar.children(".is-current").removeClass("is-current").addClass("is-complete").next().addClass("is-current");
                } else {
                    $bar.children().first().addClass("is-current");
                }
                var ident = i+1;
                $('#step'+ident+'-stamp').show();
            }

            $("#cform-selected_user").val($("#cform-selected_user option:first").val());

            $('#transfer_form_btn').on('click', function(e){
                e.preventDefault();
                e.stopImmediatePropagation();
                validateTransfers();
            });


            $('.quantity_row').on('keyup', function(e){
                if ($(this).val() == '' || $(this).val() < 1) {
                    $(this).val(1);
                }
            });


            $('#transfer_form_btn_sp').on('click', function(e){
                e.preventDefault();
                e.stopImmediatePropagation();
                $('#sp_flag').val('true');
                validateTransfers();
            });

            $(document).on("click",".remove_row", function(e){
                e.preventDefault();
                var tr = $(this).closest('tr');
                tr.remove();
                return false;
            });


            $('#filter_button').click(function (){
                path = generatePath();
                dTable.fnReloadAjax(path);
            });

            $(document).on("click",".add_to_table", function(e){
                var row = $(this).closest('tr');
                var item_code = row.find('.itemCode').val();
                var item_name = row.find('.itemName').val();

                var selected_item = item_code;
                var selected_item_name = item_name;
                var duplicates = false;
                $(".product_item_code").each(function() {
                    if (selected_item == $(this).val()) {
                        duplicates = true;
                    }
                });

                if (duplicates) {

                }

                if (selected_item == '000') {
                    toastr['error']('Invalid selection!', 'Error');
                } else {
                    var tr = "<tr><input type='hidden' name='product_item_code[]' class='product_item_code' value='"+item_code+"'>" +
                        "<td><input type='text'  class='form-control' value='"+item_code+"' readonly></td>" +
                        "<td><input type='text'  class='form-control' value='"+item_name+"' readonly></td>" +
                        "<td><input type='text'  class='form-control current_stock' value='' readonly></td>" +
                        "<td><input type='number' min='1' step='1' name='quantity[]' class='form-control quantity_row' value='1' required></td>" +
                        "<td><a href='javascript:void(0)' class='btn btn-xs red remove_row'>Remove</a></td></tr>";

                    $('#transfer_table_body').append(tr);
                    $('#add_entry_modal').modal('hide');

                    $('.quantity_row').on('keyup', function(e){
                        if ($(this).val() == '' || $(this).val() < 1) {
                            $(this).val(1);
                        }
                    });

                    refreshCurrentStocks();
                }
            });
        });
    </script>
{% endblock %}
