{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">XZ Reports </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
            	<div class="row">
            	{{ form.group_select('Location','location', area_opts, '', 3,4)}}<br/>
                {{ form.group_date_range('daterange', "Date Range", 'date_from','date_to', date_from, date_to, 3,4,'m/d/Y','m/d/Y') }}
                </div>
            	<div class="row">
            	<div class="col-md-12">
	            	<div class="portlet box blue-hoki">
			            <div class="portlet-title">
			            	<div class="caption">Total Sales </div>
		                     <div class="tools">
			                   <a href="javascript:;" class="collapse"></a>
			                </div>
			            </div>
			              <div class="portlet-body">
			              	<div id="chart_container">
							    <div id="sales_chart">
							    </div>
							</div>
			              </div>
			         </div>
			     </div>

			     <div class="col-md-12">
	            	<div class="portlet box blue-hoki">
			            <div class="portlet-title">
			            	<div class="caption">Products</div>
			            	<div class="tools">
			                   <a href="javascript:;" class="collapse"></a>
			                </div>
			            </div>
			              <div class="portlet-body">
			              	 <table id="product_table" class="table table-striped table-bordered table-hover" id="list_table">
		                    <thead>
		                        <tr>
		                        <th>Item</th>
		                        <th>Quantity</th>
		                        <th>Price</th>
		                        <th>Discount</th>
		                        <th>Adjusted Price</th>
		                        <th>Average</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                    </tbody>
		                    <tfoot>
		                    	<tr>
		                    		<td>Total</td>
		                    		<td id="qty_total"></td>
		                    		<td id="price_total"></td>
		                    		<td id="discount_total"></td>
		                    		<td id="adj_total"></td>
		                    		<td ></td>
		                    	</tr>
		                    </tfoot>
		                </table>

		                	<div id="chart_container">
							    <div id="product_chart">
							    </div>
							</div>
			              </div>
			         </div>
			     </div>
				 </div>

            	<div class="row">
            	<div class="col-md-6">
	            	<div class="portlet box blue-hoki">
			            <div class="portlet-title">
			            	<div class="caption">Employees </div>
			            </div>
			              <div class="portlet-body">
			              	<div id="chart_container">
							    <div id="employee_chart">
							    </div>
							</div>
			              </div>
			         </div>
			     </div>

			     <div class="col-md-6">
	            	<div class="portlet box blue-hoki">
			            <div class="portlet-title">
			            	<div class="caption">Customers</div>
			            </div>
			              <div class="portlet-body">
			              	 <div id="chart_container">
							    <div id="customer_chart">
							    </div>
							</div>
			              </div>
			         </div>
			     </div>
				 </div>
				 <div class="row">
            	 <div class="col-md-6">
	            	<div class="portlet box blue-hoki">
			            <div class="portlet-title">
			            	<div class="caption">Mode of Payment</div>
			            </div>
			              <div class="portlet-body">
			              	<div id="chart_container">
							    <div id="mode_chart">
							    </div>
							</div>
			              </div>
			         </div>
			     </div>

			     <div class="col-md-6">
	            	<div class="portlet box blue-hoki">
			            <div class="portlet-title">
			            	<div class="caption">Transactions</div>
			            </div>
			              <div class="portlet-body">
			              	 Products
			              </div>
			         </div>
			     </div>
				 </div>
				 <div class="row">
            	<div class="col-md-6">
	            	<div class="portlet box blue-hoki">
			            <div class="portlet-title">
			            	<div class="caption">Inventory </div>
			            </div>
			              <div class="portlet-body">
			              	 
			              	<div id="chart_container">
							</div>
			              </div>
			         </div>
			     </div>

			     <div class="col-md-12">
	            	<div class="portlet box blue-hoki">
			            <div class="portlet-title">
			            	<div class="caption">Statistics</div>
			            </div>
			              <div class="portlet-body">
			              	 <div id="chart_container">
							    <div id="statistics_chart">
							    </div>
							</div>
			              </div>
			         </div>
			     </div>
				 </div>
				 <div class="row">
            	<div class="col-md-6">
	            	<div class="portlet box blue-hoki">
			            <div class="portlet-title">
			            	<div class="caption">Commissions/Bonus/Fines </div>
			            </div>
			              <div class="portlet-body">
			              	<div id="chart_container">
							</div>
			              </div>
			         </div>
			     </div>

			     <div class="col-md-6">
	            	<div class="portlet box blue-hoki">
			            <div class="portlet-title">
			            	<div class="caption">Targets</div>
			            </div>
			              <div class="portlet-body">
			              	 Products
			              </div>
			         </div>
			     </div>
				 </div>

			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}


<script>
$(document).ready(function() {

 function filtersChanged()
 {
 	let data = {'date_from' : $('#cform-date_from').val(),
 				'date_to' : $('#cform-date_to').val(),
 				'branch': $('#cform-location').val()
 			}

 	console.log(data);

 	requestSalesData(data);
 	requestProductData(data);
 	requestStatisticsData(data);

 }
 $('#daterange').daterangepicker(
    {
        ranges: {
            'Last 7 Days': [moment().subtract('days', 6), new Date()],
            'Last 30 Days': [moment().subtract('days', 29), new Date()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
        },
        opens: 'left',
        format: 'MM/DD/YYYY',
    },
    function(start, end) {
        $('#daterange input').val(start.format('MM/DD/YYYY') + '   -   ' + end.format('MM/DD/YYYY'));
        $('#cform-date_from').val(start.format('MM/DD/YYYY'));
        $('#cform-date_to').val(end.format('MM/DD/YYYY'));
        
    }
);

 filtersChanged();

 $('#cform-location').on('change', function(){
 	filtersChanged();
 });
 $('#daterange').on('apply.daterangepicker', function(ev,picker){
 	filtersChanged();
 });


//Sales Portlet

    var sales_chart = new Highcharts.Chart({
        chart: {
            renderTo: 'sales_chart',
            type: 'line',
            // events: {
            //     load: requestSalesData
            // }
        },
        title: {
            text: 'Daily Sales',
            x: -20 //center
        },
        xAxis: {
            labels: {
                rotation: -45,
                style: {
                    fontSize: '9px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            title: {
                text: 'Total Sales (PHP)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -10,
            y: 100,
            borderWidth: 0
        },
        series: [
         {
            name: 'Sales',
            data: []
          }
        ]
    });
// });


function requestSalesData(request) {
    $.ajax({
        url: "{{ path('hris_tools_xz_sales')}}",
        type: "GET",
        dataType: "json",
        data : request,
        success: function(data) {
        	converted = data.series[0].data.map(function(el){
            		return parseFloat(el);
            });
            sales_chart.xAxis[0].setCategories(data.categories);
            sales_chart.series[0].setData(converted);
        },
        cache: false
    });
}


//Product portlet
//
var branch = 1;
// requestProductData(branch);

var product_chart = new Highcharts.Chart( {
    chart: {
        renderTo: 'product_chart',
        type: 'column',
        // events: {
        //     load: requestProductData
        // }
    },
    title: {
        text: 'Sales per Product'
    },
    xAxis: {
        categories: [
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Adjusted Sales (PHP)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} PHP</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Sales',
        data: []

    }]

});
var product_table = $('#product_table').dataTable({
        "iDisplayLength": 10,
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ records",
            "oPaginate": {
                "sPrevious": "Prev",
                "sNext": "Next"
            }
        }
    });

function requestProductData(request) {
	var branch;
    $.ajax({
        url: "{{ path('hris_tools_xz_product')}}",
        type: "GET",
        dataType: "json",
        data : request,
        success: function(data) {
     
        	var categories = [];
        	var dataSet = [];
        	var qty_total = 0, price_total = 0,
        		discount_total = 0, adj_total = 0;
        	for(i in data){
        		product_table.dataTable().fnAddData([data[i].name,
        			data[i].quantity,
        			data[i].total,
        			data[i].discount,
        			data[i].adjusted_price,
        			data[i].average]);
        		categories.push(data[i].name);
        		dataSet.push(parseFloat(data[i].adjusted_price));
        		qty_total+= parseFloat(data[i].quantity);
        		price_total+= parseFloat(data[i].total);
        		discount_total+= parseFloat(data[i].discount);
        		adj_total+= parseFloat(data[i].adjusted_price);
        	}

        	$('#qty_total').html(qty_total);
        	$('#price_total').html(price_total);
        	$('#discount_total').html(discount_total);
        	$('#adj_total').html(adj_total);

        	product_chart.xAxis[0].setCategories(categories);
    		product_chart.series[0].setData(dataSet);


        },
        cache: false
    });
}

//Statistics Chart

var statistics_chart = new Highcharts.Chart( {
    chart: {
        renderTo: 'statistics_chart',
        type: 'column',
        // events: {
        //     load: requestStatisticsData
        // }
    },
    title: {
        text: 'Sales per Location'
    },
    xAxis: {
        categories: [
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Adjusted Sales (PHP)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} PHP</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Sales',
        data: []

    }]

});

function requestStatisticsData(request) {
    $.ajax({
        url: "{{ path('hris_tools_xz_location')}}",
        type: "GET",
        dataType: "json",
        data : request,
        success: function(data) {
     		console.log(data);
        	var categories = [];
        	var dataSet = [];
        	var sum = 0, count = 0;
        	for(i in data){
        		categories.push(data[i].name);
        		if(request.branch == data[i].id){
	    			dataSet.push({y: parseFloat(data[i].total), color: "#FFD700"} );
	    		}else {
	    			dataSet.push({y: parseFloat(data[i].total), color: "#7cb5ec"} );
	    		}

	    		sum += parseFloat(data[i].total); 
	    		count++;
        	}
        	var average = sum / count;
        	// console.log(dataSet);
        	statistics_chart.xAxis[0].setCategories(categories);
    		statistics_chart.series[0].setData(dataSet);
    		statistics_chart.yAxis[0].addPlotLine({
                value: average,
                width: 2,
                color: '#ff0000',
                zIndex: 3
            });
    		

        },
        cache: false
    });
}

});
</script>

{% endblock %}
{% block css %}
<style type="text/css">
#product_table td {
	text-align: right;
}
</style>
{% endblock %}