{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">{{ list_title }}</div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                {#PORTLET BODY#}
                <input type="hidden" id="schedule_id" value="{{ schedule.getID }}">
                <div class="row">
                    <div class="col-md-2" style="margin-bottom: 11px;">
                    </div>
                    <div class="col-md-6" style="margin-bottom: 11px;">
                        <br>
                        <form method="get" id="filterForm">
                            {{ form.group_date_pos('Filter Date','date', filterDate|default(''),4,6) }}
                        </form>
                    </div>
                    <div class="col-md-2" style="margin-bottom: 11px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="table-toolbar">
                            {% if app.user.hasAccess(prefix ~ '.add') %}
                            {% endif %}
                        </div>
                        <table class="table table-bordered table-hover" id="list_table" style="font-size: 11px !important;">
                            <thead>
                            <tr style="font-size: 11px !important;">
                                <th style="font-size: 11px !important;">Employee</th>
                                <th style="font-size: 11px !important;">Position</th>
                                <th style="font-size: 11px !important;">Location Yesterday</th>
                                <th style="font-size: 11px !important;">Sales Yesterday</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for bd in employees_data %}
                                <tr id="row_emoployee_id_{{ bd['employee_id'] }}">
                                    <td>{{ bd['employee_name'] }}</td>
                                    <td>{{  bd['position'] }}</td>
                                    <td class="text-center">{{  bd['location_yesterday'] }}</td>
                                    <td class="text-right">{{ bd['total_sales'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3" style="overflow-y: scroll; min-height: 450px; max-height: 460px !important; margin-top: 20px;">
                        <br>
                        {% for l in locations%}
                            <div class="row_location" id="location_{{ l.getID|default(0) }}">
                                <input type="hidden" class="location_id" value="{{ l.getID|default(0) }}">
                                <span style="font-size: 16px;">{{ l.getName|default('N/A') }}</span>
                                <br>
                                <hr style="border-top: 1px solid #000 !important;">
                                <br>
                                {% set k = l.getNumberOfEmployees|default(0) %}
                                {% if k > 0 %}
                                    {% for i in 1..k %}
                                        <div class="row row_emp">
                                            <div class="col-md-12">
                                                <input type="hidden" class="entry_id" value="0">
                                                {{ form_tools.group_select_schedule("Employee", "user_selected[]", user_opts, '', 3, 12, false) }}
                                                <div style="margin-top: 35px;"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <br>
                                <br>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-5">

                    </div>
                </div>
                {#END PORTLET BODY#}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script>
        function assignEmployee(user_id, date, schedule_id, location_id, el)
        {
            var url = "{{ path('hris_tools_schedule_assign_employee', { user_id: ':user_id', date: ':date', schedule_id: ':schedule_id', location_id: ':location_id' }) }}";
            url = url.replace(":user_id", user_id).replace(':date', date).replace(':schedule_id', schedule_id).replace(':location_id', location_id);
            $.getJSON(url, function(json){
                if (json[0].success) {
                    var row = $(el).closest('.row_emp');
                    var entry_id = row.find('.entry_id');
                    $(entry_id).val(json[0].entry_id);
                    $('#row_emoployee_id_'+user_id).css("background-color","#ff5959");
                    toastr['success']('Employee assigned!', 'Success');
                } else {
                    toastr['error'](json[0].message, 'Error');
                    $(el).val('0');
                    $(el).trigger('change');
                }
            });
        }

        function unassignEmployee(entry_id, el)
        {
            var url = "{{ path('hris_tools_schedule_unassign_employee', { entry_id: ':entry_id' }) }}";
            url = url.replace(":entry_id", entry_id);
            $.getJSON(url, function(json){
                if (json[0].success) {
                    var row = $(el).closest('.row_emp');
                    var entry_id = row.find('.entry_id');
                    $(entry_id).val(0);
                    $('#row_emoployee_id_'+ json[0].user_id).css("background-color","#ffffff");
                    toastr['success']('Employee un-assigned!', 'Success');
                } else {
                    toastr['error'](json[0].message, 'Error');
                }
            });
        }

        $(document).ready(function() {
            var dTable;
            var schedule_id = $('#schedule_id').val();

            $('.employee_selector').on('change', function() {
                if (this.value != 0) {
                    var row = $(this).closest('.row_location');
                    var location_id = row.find('.location_id').val();
                    var user_id = this.value;
                    var date = $('#cform-date').val().replace('/','-').replace('/','-');
                    assignEmployee(user_id, date, schedule_id, location_id, this);
                } else {
                    var row = $(this).closest('.row_emp');
                    var entry_id = row.find('.entry_id').val();
                    unassignEmployee(entry_id, this);
                }
            });

            $('.calendar').prop('disabled', true);
            $('#cform-date').datepicker({
                autoclose: true,
                maxDate: new Date()
            });

            $('#cform-date').datepicker().on('changeDate', function (ev) {
                if (ev.dates && !ev.date)
                {
                    $(this).datepicker('setDate',new Date());
                }

                var path = "{{ path('hris_tools_schedule_index', {
                    'date' : 'DATE'}
                ) }}";

                path = path.replace('DATE', $('#cform-date').val().replace('/','-').replace('/','-'));
                location.replace(path);
            });



            dTable = $('#list_table').dataTable({
                "bProcessing": true,
                "bServerSide": false,
                "bLengthChange": false,
                "bFilter": false,
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [
                    {#{ "bSortable": false, "aTargets": [{{ grid_cols|length - 1}}] },#}
                ]
            });

            $('#list_table_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            $('#list_table_wrapper .dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
            $('#list_table_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
        });
</script>
{% endblock %}

{% block css %}
{% endblock %}
