{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">Counting Form</div>
                </div>
                <div class="portlet-body">
                    <form method="post" class="form-horizontal" id="counting_form">
                        <!-- BEGIN FORM-->
                        <div class="row">
                            <div class="col-md-5 col-md-offset-3" style="margin-bottom: 10px;">

                            </div>
                        </div>
                        {% if form_disabled %}
                            <div class="note note-warning">
                                <h4 class="block">Form disabled!</h4>
                                <p> {{ detected_submission_timeslot }} count already submitted. Please wait for the next time slot. </p>
                            </div>
                        {% endif %}
                        {% if not form_disabled %}
                        <table class="table table-bordered" id="list_table">
                            <thead>
                            <tr>
                                {% for col in grid_cols %}
                                    {% if (loop.last) %}
                                        <th style="width: 165px">{{ col.getLabel }}</th>
                                    {% else %}
                                        <th>{{ col.getLabel }}</th>
                                    {% endif %}
                                {% endfor %}
                                <th width="15%">Count</th>
                                <th width="5%">+/-</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stock in stocks %}
                                <tr>
                                    <input type="hidden" name="product_id[]" value="{{ stock.getProduct.getID }}">
                                    <td>{{ stock.getProduct.getItemCode|default('') }}</td>
                                    <td>{{ stock.getProduct.getName|default('') }}</td>
                                    <td><input type="number" step="1" class="existingCount form-control" name="existingCount[]" value="{{ stock.getQuantity|default('')|number_format(0) }}" readonly></td>
                                    <td><input type="number" step="1" class="currentCount form-control" name="currentCount[]" value="{{ stock.getQuantity|default('')|number_format(0) }}" {{ form_disabled ? 'disabled ' : '' }}></td>
                                    <td><input type="text" class="diffCount form-control" name="diffCount[]" value="+0" readonly></td>
                                    <td class="text-center"><i class="fa fa-check center-block text-center rowMarker"></i></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                            <button type="submit" class="btn blue"><i class="fa fa-save"></i> Submit</button>
                        {% endif %}
                        <!-- END FORM-->
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

    <script src="{{ asset('bundles/gisttemplate/assets/global/plugins/data-tables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/gisttemplate/assets/global/plugins/data-tables/DT_bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-validation/js/additional-methods.min.js') }}"></script>
    <script src="{{ asset('bundles/gisttemplate/assets/admin/pages/scripts/form-validation.js') }}"></script>
    <script>
        function updateColors() {
            $('.currentCount').each(function(e) {
                var tr = $(this).closest('tr');
                var existingCount = tr.find('.existingCount').val();
                var rowMarker = tr.find('.rowMarker');
                var diffCount = tr.find('.diffCount');

                if (this.value != '') {
                    if (this.value != existingCount && this.value != '-'  && this.value != '+' && this.value != 'e') {
                        flag_discrepancy = true;
                        tr.css("background-color","yellow");
                        rowMarker.removeClass('fa-check');
                        rowMarker.addClass('fa-times');
                    } else {
                        tr.css("background-color","");
                        rowMarker.addClass('fa-check');
                        rowMarker.removeClass('fa-times');
                    }

                    var count = parseInt(tr.find('.currentCount').val());
                    var sys = parseInt(tr.find('.existingCount').val());
                    var diff = Math.abs(sys - count);
                    if (sys > count) {
                        diffCount.val('-'+diff);
                    } else {
                        diffCount.val('+'+diff);
                    }
                } else {
                    var tr = $(this).closest('tr');
                    tr.css("background-color","#ff5959");
                    rowMarker.removeClass('fa-check');
                    rowMarker.addClass('fa-times');
                    diffCount.val('0');
                }
            });
        }

        $(document).ready(function() {
            var dTable;
            var flag_discrepancy = false;
            var flag_form_valid = false;

            dTable = $('#list_table').dataTable({
                "bProcessing": false,
                "bServerSide": false,
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "bFilter" : false,
                "bInfo" : false,
                "bLengthChange": false,
                "fnDrawCallback": function( oSettings ) {
                    $('.currentCount').on('keyup keypress', function(e) {
                        var tr = $(this).closest('tr');
                        var existingCount = tr.find('.existingCount').val();
                        var rowMarker = tr.find('.rowMarker');
                        var diffCount = tr.find('.diffCount');

                        if (this.value != '') {
                            if (this.value != existingCount && this.value != '-'  && this.value != '+' && this.value != 'e') {
                                flag_discrepancy = true;
                                tr.css("background-color","yellow");
                                rowMarker.removeClass('fa-check');
                                rowMarker.addClass('fa-times');
                            } else {
                                tr.css("background-color","");
                                rowMarker.addClass('fa-check');
                                rowMarker.removeClass('fa-times');
                            }

                            var count = parseInt(tr.find('.currentCount').val());
                            var sys = parseInt(tr.find('.existingCount').val());

                            var diff = Math.abs(sys - count);
                            if (sys > count) {
                                diffCount.val('-'+diff);
                            } else {
                                diffCount.val('+'+diff);
                            }

                        } else {
                            var tr = $(this).closest('tr');
                            tr.css("background-color","#ff5959");
                            rowMarker.removeClass('fa-check');
                            rowMarker.addClass('fa-times');
                            diffCount.val('0');
                        }
                    });
                },
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [3,4] },
                ],
                "aaSorting": [[2,'desc']]
            });

            $('#list_table_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            $('#list_table_wrapper .dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
            $('#list_table_wrapper .dataTables_length select').select2(); // initialize select2 dropdown


            $('#counting_form').on('submit', function(e){
                var $form = $(this);
                flag_discrepancy = false;
                flag_form_valid = true;
                $('input[name^="currentCount"]').each(function(){
                    var tr = $(this).closest('tr');
                    var existingCount = tr.find('.existingCount').val();

                    if ($(this).val() == '') {
                        tr.css("background-color","#ff5959");
                        flag_form_valid = false;
                    } else if (this.value != existingCount) {
                        flag_discrepancy = true;
                        tr.css("background-color","yellow");
                    }
                });

                if (!flag_discrepancy && flag_form_valid) {


                } else {
                    if (!flag_form_valid) {
                        toastr['error']('Please check highlighted rows!');
                        e.preventDefault();
                        return false;
                    }

                    if (flag_discrepancy) {
                        if (confirm('Discrepancy in counting. Continue?')) {

                        } else {

                            toastr['warning']('Quantities have been reverted. Recount stock.');
                            $('input[name^="currentCount"]').each(function(){
                                var tr = $(this).closest('tr');
                                var existingCount = tr.find('.existingCount').val();
                                $(this).val(existingCount);
                            });
                            updateColors();
                            e.preventDefault();
                            return false;
                        }
                    } else {
                        toastr['error']('Please check highlighted rows!');
                        e.preventDefault();
                        return false;
                    }
                }

                dTable.$('input[name^="product_id"]').each(function(){
                    if(!$.contains(document, this)){
                        $form.append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', this.name)
                                .val(this.value)
                        );
                    }
                });

                dTable.$('input[name^="currentCount"]').each(function(){
                    if(!$.contains(document, this)){
                        $form.append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', this.name)
                                .val(this.value)
                        );
                    }
                });

                dTable.$('input[name^="existingCount"]').each(function(){
                    if(!$.contains(document, this)){
                        $form.append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', this.name)
                                .val(this.value)
                        );
                    }
                });

            });

            $('.currentCount').on('keyup keypress', function(e) {
                var tr = $(this).closest('tr');
                var existingCount = tr.find('.existingCount').val();
                var rowMarker = tr.find('.rowMarker');
                var diffCount = tr.find('.diffCount');

                if (this.value != '') {
                    if (this.value != existingCount && this.value != '-'  && this.value != '+' && this.value != 'e') {
                        flag_discrepancy = true;
                        tr.css("background-color","yellow");
                        rowMarker.removeClass('fa-check');
                        rowMarker.addClass('fa-times');
                    } else {
                        tr.css("background-color","");
                        rowMarker.addClass('fa-check');
                        rowMarker.removeClass('fa-times');
                    }

                    var count = parseInt(tr.find('.currentCount').val());
                    var sys = parseInt(tr.find('.existingCount').val());
                    var diff = Math.abs(sys - count);
                    if (sys > count) {
                        diffCount.val('-'+diff);
                    } else {
                        diffCount.val('+'+diff);
                    }
                } else {
                    var tr = $(this).closest('tr');
                    tr.css("background-color","#ff5959");
                    rowMarker.removeClass('fa-check');
                    rowMarker.addClass('fa-times');
                    diffCount.val('0');
                }
            });

        });
    </script>
{% endblock %}

{% block css %}
    <link href="{{ asset('bundles/gisttemplate/assets/global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/gisttemplate/assets/global/plugins/data-tables/DT_bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
