{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">{{ list_title }}</div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                {% if app.user.hasAccess(prefix ~ '.add') %}
                {% endif %}
                </div>
                 <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-filter"></i>Filters
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                <div class="col-md-6">
                                     <div class="form-horizontal">
                                        {{ form_tools.group_select('Employee','employee',user_opts, employee_id|default(''),4,7)}} 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-horizontal">
                                    {{ form.group_date('Date','date', date|default(''),3,4) }}
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-12" style="margin-bottom: 10px;">
                        <button class="btn blue pull-left" id="filter_button" style="margin-right: 10px;">Apply Filters</button>    
                        <button class="btn red" id="clear_filter">Clear Filters</button> 
                    </div>
                </div>
                <table class="table table-bordered table-hover" id="list_table" style="font-size: 11px !important;">
                    <thead style="font-size: 11px !important;">
                        <tr style="font-size: 11px !important;">
                            <th rowspan="2">Employee</th>
                            <th rowspan="2">Location</th>
                            <th rowspan="2">Date</th>
                            <th colspan="3">WORK</th>
                            <th colspan="3">BREAK</th>
                            <th colspan="5">TRANSFER</th>
                            <th rowspan="2">TOTAL WORKING HOURS</th>
                        </tr>
                        <tr>
                            <th>Time In</th>
                            <th>Time Out</th>
                            <th>TOTAL</th>
                            <th>Time Out</th>
                            <th>Time In</th>
                            <th>TOTAL</th>
                            <th>Time Out</th>
                            <th>Location Out</th>
                            <th>Time In</th>
                            <th>Location In</th>
                            <th>TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data_att %}
                            {% set ctr = 0 %}
                            <tr>
                                <td>{{ data['firstEntry']['employee_name'] }}</td>
                                <td>{{ data['firstEntry']['location'] }}</td>
                                <td>{{ data['firstEntry']['date'] }}</td>
                                <td>{{ data['firstEntry']['time_in'] }}</td>
                                <td>{{ data['lastEntry']['time_out'] }}</td>
                                <td>{{ data['lastEntry']['total_work'] }}</td>
                                <td>{{ data['breaks'][ctr]['break_in']|default('') }}</td>
                                <td>{{ data['breaks'][ctr]['break_out']|default('') }}</td>
                                <td>{{ data['breaks'][ctr]['total_break']|default('') }}</td>
                                <td>{{ data['transfers'][ctr]['transfer_in']|default('') }}</td>
                                <td>{{ data['transfers'][ctr]['location_in']|default('') }}</td>
                                <td>{{ data['transfers'][ctr]['transfer_out']|default('') }}</td>
                                <td>{{ data['transfers'][ctr]['location_out']|default('') }}</td>
                                <td>{{ data['transfers'][ctr]['total_transfer']|default('') }}</td>
                                <td>{{ data['totals']['grand_total']|default('') }}</td>
                            </tr>
                            {% if data['breaks']|length > 1 or data['transfers']|length > 1 %}
                                {% set main_index = 1 %}
                                {% set ext_ctr = 0 %}
                                {% if data['breaks']|length > data['transfers']|length %}
                                    {% for break in data['breaks'] %}
                                        {% if ext_ctr > 0 %}
                                            <tr>
                                            {% if data['breaks']|length > 1 %}
                                                <td colspan="6"></td>
                                                <td>{{ break['break_in'] }}</td>
                                                <td>{{ break['break_out'] }}</td>
                                                <td>{{ break['total_break'] }}</td>    
                                            {% else %}
                                                <td colspan="9"></td>
                                            {% endif %}
                                            

                                            {% if data['transfers']|length > 1 and main_index < data['transfers']|length %}
                                                <td>{{ data['transfers'][main_index]['transfer_in'] }}</td>
                                                <td>{{ data['transfers'][main_index]['location_in'] }}</td>
                                                <td>{{ data['transfers'][main_index]['transfer_out'] }}</td>
                                                <td>{{ data['transfers'][main_index]['location_out'] }}</td>
                                                <td>{{ data['transfers'][main_index]['total_transfer'] }}</td>  
                                            {% else %}
                                                <td colspan="5"></td>
                                            {% endif %}
                                            <td></td>
                                            </tr>
                                            {% set main_index = main_index + 1 %}
                                        {% endif %}
                                        {% set ext_ctr = ext_ctr + 1 %}
                                    {% endfor %}
                                {% else %}
                                    {% for transfer in data['transfers'] %}
                                        {% if ext_ctr > 0 %}
                                            <tr>
                                            {% if data['breaks']|length > 1 %}
                                                <td colspan="6"></td>
                                                <td>{{ data['breaks'][main_index]['break_in'] }}</td>
                                                <td>{{ data['breaks'][main_index]['break_out'] }}</td>
                                                <td>{{ data['breaks'][main_index]['total_break'] }}</td>    
                                            {% else %}
                                                <td colspan="9"></td>
                                            {% endif %}
                                            

                                            {% if data['transfers']|length > 1 and main_index < data['transfers']|length %}
                                                <td>{{ transfer['transfer_in'] }}</td>
                                                <td>{{ transfer['location_in'] }}</td>
                                                <td>{{ transfer['transfer_out'] }}</td>
                                                <td>{{ transfer['location_out'] }}</td>
                                                <td>{{ transfer['total_transfer'] }}</td>  
                                            {% else %}
                                                <td colspan="5"></td>
                                            {% endif %}
                                            <td></td>
                                            </tr>
                                            {% set main_index = main_index + 1 %}
                                        {% endif %}
                                        {% set ext_ctr = ext_ctr + 1 %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            <tr>
                                <td colspan="6"></td>
                                <td colspan="2" class="text-right">TOTAL BREAK</td>
                                <td>{{ data['totals']['break'] }}</td>
                                <td colspan="4" class="text-right">TOTAL TRANSFER</td>
                                <td>{{ data['totals']['transfer'] }}</td>
                                <td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
        </div>
    </div>
</div>
{# {% embed 'HrisWorkforceBundle:Attendance:modal/dtr.html.twig'%}{% endembed %} #}
{% endblock %}

{% block js %}
<script>


$(document).ready(function() {
    var dTable;
    var path;
    var id;
    var department;
    var date_from;
    var date_to;
    
    date_to = null;
    date_from = null;
    id = null;
    department = null;




    $('#list_table_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
    $('#list_table_wrapper .dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
    $('#list_table_wrapper .dataTables_length select').select2(); // initialize select2 dropdown

    $('#daterange').daterangepicker(
    {
            ranges: {
                'Today': [new Date(), moment().add(1, 'days')],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), new Date()],
                'Last 30 Days': [moment().subtract(29, 'days'), new Date()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'left',
            format: 'MM/DD/YYYY',
        },
        function(start, end) {
            $('#daterange input').val(start.format('MM/DD/YYYY') + '   -   ' + end.format('MM/DD/YYYY'));
            $('#cform-date_from').val(start.format('YYYYMMDD'));
            $('#cform-date_to').val(end.format('YYYYMMDD'));
        }
    );
    $('#clear_filter').click(function (){
        location.reload();
    });
    $('#filter_button').click(function (){
        var employee_id = $('#cform-employee').val();
        var pos_loc_id = "0";
        var date = $('#cform-date').val().replace('/','-').replace('/','-');
        var area_id = "0";

        var url = "{{ path('hris_report_attendance_index', { employee_id: ':employee_id', area_id: ':area_id', pos_loc_id: ':pos_loc_id', date: ':date' }) }}";
        url = url.replace(":employee_id", employee_id).replace(':area_id', area_id).replace(':pos_loc_id', pos_loc_id).replace(':date', date);
            
        location.replace(url);

    });
});
</script>
{% endblock %}

{% block css %}
{% endblock %}
