<page>
<p style="font-size: 18px; text-align: left;"><b>QUADRANT ALPHA TECHNOLOGY SOLUTIONS INC.</b>
<br /><br />PAYROLL
<br />PERIOD: {{data[0].getPayrollPeriod.getPayPeriodFormatted}}</p>
<p style="font-size: 14px;">
    <table class="table table-bordered table-hover" border="1" cellpadding="3"  cellspacing="0" style=" font-size: 14px;" id="main_table">
        <tr>
            <th  style="width:150px;padding: 1px; word-wrap:break-word;" >
                Employee
            </th>
            <th  style="width:65px;padding: 1px; word-wrap:break-word;" >
                Monthly Salary
            </th>
            <th  style="width:65px;padding: 1px; word-wrap:break-word;">
                Basic Salary
            </th>
            <th style="width:65px;padding: 1px; word-wrap:break-word;" >
                Allowance /Others
            </th>
            <th style="width:65px;padding: 1px; word-wrap:break-word;" >
                Overtime
            </th>
            <th style="width:75px;padding: 1px; word-wrap:break-word;" >
                Tardiness /Absences
            </th>
            <th style="width:70px;padding: 1px; word-wrap:break-word;" >
                Gross
            </th>
            <th style="width:60px;padding: 1px; word-wrap:break-word;" >
                Office Loan
            </th>
            <th style="width:60px;padding: 1px; word-wrap:break-word;" >
                SSS
            </th>
            <th style="width:60px;padding: 1px; word-wrap:break-word;" >
                PhilHealth
            </th>
            <th style="width:60px;padding: 1px; word-wrap:break-word;" >
                Pagibig
            </th>
            <th style="width:60px;padding: 1px; word-wrap:break-word;" >
                W/TAX
            </th>
            <th style="width:80px;padding: 1px; word-wrap:break-word;" >
                NET PAY
            </th>
        </tr>
        {% set total_number_employees = 0 %}
        {% set total_monthly_salary = 0 %}
        {% set total_basic_salary = 0 %}
        {% set total_allowance = 0 %}
        {% set total_overtime = 0 %}
        {% set total_tardiness = 0 %}
        {% set total_gross = 0 %}
        {% set total_office_loan = 0 %}
        {% set total_sss = 0 %}
        {% set total_ph = 0 %}
        {% set total_pg = 0 %}
        {% set total_wtax = 0 %}
        {% set total_net_pay = 0 %}
        
        {% for d in data%}
            {% set sss = 0 %}
            {% set ph = 0 %}
            {% set pg = 0 %}
            {% set ot = 0 %}
            {% set late = 0 %}
            {% set ut = 0 %}
            {% set gross = 0 %}
            {% set wt = 0 %}
            {% set allowance = 0 %}
            {% set ol = 0 %}
            <tr>
                {% for d_sss in d.getDeductionEntries %}
                    {% if d_sss.getType == 'SSS' %}
                        {% set sss = sss + d_sss.getAmount %}
                    {% elseif d_sss.getType == 'Philhealth' %}
                        {% set ph = ph + d_sss.getAmount %}
                    {% elseif d_sss.getType == 'Pagibig' %}
                        {% set pg = pg + d_sss.getAmount %}
                    {% elseif d_sss.getType == 'Tardiness' or d_sss.getType == 'Absent' or d_sss.getType == 'Undertime' or d_sss.getType == 'Attendance Adj. Deduction' %}
                        {% set late = late + d_sss.getAmount %}
                    {% elseif d_sss.getType == 'Withholding Tax' %}
                        {% set wt = wt + d_sss.getAmount %}
                    {% elseif d_sss.getType == 'Office Loan' %}
                        {% set ol = ol + d_sss.getAmount %}
                    {% endif %}
                {% endfor %}
                {% for earn in d.getEarningEntries %}
                    {% if earn.getType == 'Overtime' or earn.getNotes == 'Overtime' %}
                        {% set ot = ot + earn.getAmount %}
                    {% elseif earn.getNotes == 'Allowance' %}
                        {% set allowance = allowance + earn.getAmount %}
                    {% endif %}
                {% endfor %}

                {% set gross =  (((d.getEmployee.getPayRate() / 2) + allowance + ot) - late) %}
                {% set total_number_employees = total_number_employees + 1 %}
                {% set total_monthly_salary = total_monthly_salary + d.getEmployee.getMonthlyRate %}
                {% set total_basic_salary = total_basic_salary + (d.getEmployee.getPayRate() / 2) %}
                {% set total_allowance = total_allowance + allowance %}
                {% set total_overtime = total_overtime + ot %}
                {% set total_tardiness = total_tardiness + late %}
                {% set total_office_loan = total_office_loan + ol %}
                {% set total_sss = total_sss + sss %}
                {% set total_ph = total_ph + ph %}
                {% set total_pg = total_pg + pg %}
                {% set total_net_pay = total_net_pay + d.getTotal %}
                {% set total_gross = total_gross + gross %}
                
                <td>{{d.getEmployee.getLastName}}, {{d.getEmployee.getFirstName}}</td>
                <td style="text-align: right;">{{d.getEmployee.getMonthlyRate|number_format(2)}}</td>
                <td style="text-align: right;">{{(d.getEmployee.getPayRate() / 2)|number_format(2)}}</td>
                <td style="text-align: right;">{{allowance|number_format(2)}}</td>
                <td style="text-align: right;">{{ot|number_format(2)}}</td>
                <td style="text-align: right;">{{late|number_format(2)}}</td>
                <td style="text-align: right;">{{gross|number_format(2)}}</td>
                <td style="text-align: right;">{{ol|number_format(2)}}</td>
                <td style="text-align: right;">{{sss|number_format(2)}}</td>
                <td style="text-align: right;">{{ph|number_format(2)}}</td>
                <td style="text-align: right;">{{pg|number_format(2)}}</td>
                <td style="text-align: right;">{{wt|number_format(2)}}</td>
                <td style="text-align: right;">{{d.getTotal|number_format(2)}}</td>
            </tr>
        {% endfor %}
        <tr>
            <td style="text-align: left;"><b>Employee Count: {{total_number_employees}}</b></td>
            <td style="text-align: right;"><b>{{total_monthly_salary|number_format(2)}}</b></td>
            <td style="text-align: right;"><b>{{total_basic_salary|number_format(2)}}</b></td>
            <td style="text-align: right;"><b>{{total_allowance|number_format(2)}}</b></td>
            <td style="text-align: right;"><b>{{total_overtime|number_format(2)}}</b></td>
            <td style="text-align: right;"><b>{{total_tardiness|number_format(2)}}</b></td>
            <td style="text-align: right;"><b>{{total_gross|number_format(2)}}</b></td>
            <td style="text-align: right;"><b>{{total_office_loan|number_format(2)}}</b></td>
            <td style="text-align: right;"><b>{{total_sss|number_format(2)|number_format(2)}}</b></td>
            <td style="text-align: right;"><b>{{total_ph|number_format(2)}}</b></td>
            <td style="text-align: right;"><b>{{total_pg|number_format(2)|number_format(2)}}</b></td>
            <td style="text-align: right;"><b>0.00</b></td>
            <td style="text-align: right;"><b>{{total_net_pay|number_format(2)}}</b></td>
        </tr>
        <tr>
            <td colspan="6" style="padding: 10px;">Prepared by</td>
            <td colspan="7" style="padding: 10px;">Approved by</td>
        </tr>
        <tr>
            <td colspan="6" style="padding: 20px;">Lea M. Martin</td>
            <td colspan="7" style="padding: 20px;">Ashley Jorge Co Kehyeng</td>
        </tr>
   
    </table>    

    
</p>
<page_footer>
    
</page_footer>
</page>