{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">{{list_title}}</div>
            </div>
            <div class="portlet-body form">
               {#  <div class="alert alert-warning alert-dismissable">
                   <strong>Notice: </strong>
                   {{ notice }}
                </div> #}
                <!-- BEGIN FORM-->
                <form method="post" class="form-horizontal">
                    <div class="form-body">
                        <div class="portlet box blue-hoki">
                            <div class="portlet-body">
                            {{ form.group_date_range('daterange', "Record Date", 'date_from','date_to', date_from, date_to, 3,4,'m/d/Y','m/d/Y') }}
                            <br/>
                            <button type="submit" class="btn blue">Export CSV</button>
                            <button type="button" id="tb_table_btn" class="btn green">Generate Table</button>
                           
                            </div>
                        </div>
                            {# 
                            {{ form.group_date('Year', 'year', "now"|date('Y'), 3, 4, false) }}              
                            {{ form.group_select('Month', 'month', months, '', 3, 4) }} #}
                    
                        <div class="col-md-12 list-table-wrapper" style="overflow: auto;">
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    <div class="form-actions fluid">
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}


<script>
$(document).ready(function() {
    //for Year Picker
    $("#cform-year").css('cursor', 'pointer');
    $("#cform-year").change(function() {
       $(".datepicker").css('display','none');
    });
    $("#cform-year").datepicker( {
       format: "yyyy", // Notice the Extra space at the beginning
       viewMode: "years",
       minViewMode: "years"
    });

    $("#cgroup-year .calendar").addClass("disabled", "true");
    $("#cgroup-year").attr("align", "right");

    $('#daterange').daterangepicker(
        {
            ranges: {
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')],
                'This Year': [moment().startOf('year', 1), moment().endOf('year')],
                'Last Year': [moment().subtract('year', 1).startOf('year'), moment().subtract('year', 1).endOf('year')]
                
            },
            opens: 'left',
            format: 'MM/DD/YYYY',
        },
        function(start, end) {
            $('#daterange input').val(start.format('MM/DD/YYYY') + '   -   ' + end.format('MM/DD/YYYY'));
            $('#cform-date_from').val(start.format('MM/DD/YYYY'));
            $('#cform-date_to').val(end.format('MM/DD/YYYY'));
            
        }
    );

    $('#tb_table_btn').click(function(){
        var from = moment($('#cform-date_from').val());
        var to = moment($('#cform-date_to').val());

        from = from.format('YYYY-MM-DD');
        to = to.format('YYYY-MM-DD');
        var path = "{{ path('gist_accounting_pl_generate_table', { 'from' : 'FROM', 'to' : 'TO' } )}}"
        path = path.replace('FROM',from);
        path = path.replace('TO',to);

        $.ajax({
            url: path,
            type: "GET",
            success: function(data) {
                $('#list_table').remove();
                var html = $('#tb_table_template').html();
                $('.list-table-wrapper').append(html);
                
                var count = data.date_array.length - 1;

                // text 1
                $('#thead_tb').append('<tr class="1trhead">');
                $('.1trhead').append("<th>Cosmetigroup Int'l Corporation</th>");
                for (var i = 1; count >= i; i++) {
                    $('.1trhead').append('<th></th>');
                }
                $('#thead_tb').append('</tr>');

                // append Months
                $('#thead_tb').append('<tr id="tr_thead1">');
                $.each(data.date_array, function(h1, v1) {
                    $('#tr_thead1').append('<th>'+v1+'</th>');
                });
                $('#thead_tb').append('</tr>');

                // add space
                $('#tbody_tb').append('<tr class="1space">');
                for (var i = 0; count >= i; i++) {
                    $('.1space').append('<td></td>');
                }
                $('#tbody_tb').append('</tr>');

                // text 1
                $('#thead_tb').append('<tr class="2trhead">');
                $('.2trhead').append("<th>Sales</th>");
                for (var i = 1; count >= i; i++) {
                    $('.2trhead').append('<th></th>');
                }
                $('#thead_tb').append('</tr>');

                // append list of accounts in netsales sales
                $('#list_table').append('<tbody id="tbody_tb">');
                $.each(data.pl.netsales_main_sales, function(h1, v1) {
                    if(typeof(v1.accounts) != "undefined" && v1.accounts !== null) {
                        $.each(v1.accounts, function(h2, v2) {
                            if(typeof(v2.type) != "undefined" && v2.type !== null && v2.type == 'sales') {
                                delete v2["type"];
                                $('#tbody_tb').append('<tr class="1trlist'+h2+'">');
                                var c = 0;
                                $.each(v2, function(h3, v3) {
                                    if (c != 0) {
                                        $('.1trlist'+h2+'').append('<td style="text-align:right;">'+v3.toLocaleString('en')+'</td>');
                                    }else{
                                        $('.1trlist'+h2+'').append('<td>'+v3+'</td>');
                                    }
                                    c++;
                                });
                                $('#tbody_tb').append('</tr>');
                            }
                        });
                    }
                });

                // netsales sales total
                $('#tbody_tb').append('<tr class="1trlisttotal">');
                    $('.1trlisttotal').append('<td>TOTAL SALES</td>');
                    $.each(data.pl.netsales['nsale_total'], function(nk, nv) {
                        if(typeof(nv.sales) != "undefined" && nv.sales !== null) {
                            $('.1trlisttotal').append('<td style="text-align:right;">'+nv.sales.toLocaleString('en')+'</td>');
                        }else{
                            $('.1trlisttotal').append('<td style="text-align:right;">0</td>');
                            
                        }
                    });
                $('#tbody_tb').append('</tr>');

                // add space
                $('#tbody_tb').append('<tr class="2space">');
                for (var i = 0; count >= i; i++) {
                    $('.2space').append('<td></td>');
                }
                $('#tbody_tb').append('</tr>');

                // append list of accounts in netsales revenue
                $('#list_table').append('<tbody id="tbody_tb">');
                $.each(data.pl.netsales_main_revenue, function(h1, v1) {
                    if(typeof(v1.accounts) != "undefined" && v1.accounts !== null) {
                        $.each(v1.accounts, function(h2, v2) {
                            if(typeof(v2.type) != "undefined" && v2.type !== null && v2.type == 'revenue') {
                                delete v2["type"];
                                $('#tbody_tb').append('<tr class="1trlist'+h2+'">');
                                var c = 0;
                                $.each(v2, function(h3, v3) {
                                    if (c != 0) {
                                        $('.1trlist'+h2+'').append('<td style="text-align:right;">'+v3.toLocaleString('en')+'</td>');
                                    }else{
                                        $('.1trlist'+h2+'').append('<td>'+v3+'</td>');
                                    }
                                    c++;
                                });
                                $('#tbody_tb').append('</tr>');
                            }
                        });
                    }
                });

                // netsales revenue total
                $('#tbody_tb').append('<tr class="2trlisttotal">');
                    $('.2trlisttotal').append('<td>TOTAL REVENUE</td>');
                    $.each(data.pl.netsales['nrevenue_total'], function(nk, nv) {
                        if(typeof(nv.revenue) != "undefined" && nv.revenue !== null) {
                            $('.2trlisttotal').append('<td style="text-align:right;">'+nv.revenue.toLocaleString('en')+'</td>');
                        }else{
                            $('.2trlisttotal').append('<td style="text-align:right;">0</td>');
                        }
                    });
                $('#tbody_tb').append('</tr>');

                // net revenue total
                $('#tbody_tb').append('<tr class="3trlisttotal">');
                    $('.3trlisttotal').append('<td>NET REVENUE</td>');
                    $.each(data.pl.netsales['total'], function(nk, nv) {
                        $('.3trlisttotal').append('<td style="text-align:right;">'+nv.toLocaleString('en')+'</td>');
                    });
                $('#tbody_tb').append('</tr>');

                // add space
                $('#tbody_tb').append('<tr class="3space">');
                for (var i = 0; count >= i; i++) {
                    $('.3space').append('<td></td>');
                }
                $('#tbody_tb').append('</tr>');

                // text 2
                $('#tbody_tb').append('<tr class="3trhead">');
                $('.3trhead').append("<td>Cost of Sales</td>");
                for (var i = 1; count >= i; i++) {
                    $('.3trhead').append('<td></td>');
                }
                $('#tbody_tb').append('</tr>');

                // Cost of sales
                $('#list_table').append('<tbody id="tbody_tb">');
                $.each(data.pl.cos, function(h1, v1) {
                    if(typeof(v1.accounts) != "undefined" && v1.accounts !== null) {
                        $.each(v1.accounts, function(h2, v2) {
                            $('#tbody_tb').append('<tr class="1trlist'+h2+'">');
                            var c = 0;
                            $.each(v2, function(h3, v3) {
                                if (c != 0) {
                                    $('.1trlist'+h2+'').append('<td style="text-align:right;">'+v3.toLocaleString('en')+'</td>');
                                }else{
                                    $('.1trlist'+h2+'').append('<td>'+v3+'</td>');
                                }
                                c++;
                            });
                            $('#tbody_tb').append('</tr>');
                        });
                    }
                });

                // cos total
                $('#tbody_tb').append('<tr class="4trlisttotal">');
                    $('.4trlisttotal').append('<td>TOTAL COST OF SALES</td>');
                    $.each(data.pl.cos['total'], function(nk, nv) {
                        $('.4trlisttotal').append('<td style="text-align:right;">'+nv.toLocaleString('en')+'</td>');
                    });
                $('#tbody_tb').append('</tr>');

                // add space
                $('#tbody_tb').append('<tr class="4space">');
                for (var i = 0; count >= i; i++) {
                    $('.4space').append('<td></td>');
                }
                $('#tbody_tb').append('</tr>');

                // GROSS PROFIT TOTAL
                $('#tbody_tb').append('<tr class="5trlisttotal">');
                    $('.5trlisttotal').append('<td>GROSS PROFIT</td>');
                    $.each(data.pl.cos['total'], function(lk, lv) {
                        var sum = data.pl.netsales['total'][lk] - data.pl.cos['total'][lk];
                        $('.5trlisttotal').append('<td style="text-align:right;">'+sum.toLocaleString('en')+'</td>');
                    });
                $('#tbody_tb').append('</tr>');

                // add space
                $('#tbody_tb').append('<tr class="5space">');
                for (var i = 0; count >= i; i++) {
                    $('.5space').append('<td></td>');
                }
                $('#tbody_tb').append('</tr>');

                // text 2
                $('#tbody_tb').append('<tr class="4trhead">');
                $('.4trhead').append("<td>Cost of Labor</td>");
                for (var i = 1; count >= i; i++) {
                    $('.4trhead').append('<td></td>');
                }
                $('#tbody_tb').append('</tr>');

                // Cost of labor
                $('#list_table').append('<tbody id="tbody_tb">');
                $.each(data.pl.opex, function(h1, v1) {
                    if(typeof(v1.accounts) != "undefined" && v1.accounts !== null) {
                        $.each(v1.accounts, function(h2, v2) {
                            $('#tbody_tb').append('<tr class="1trlist'+h2+'">');
                            var c = 0;
                            $.each(v2, function(h3, v3) {
                                if (c != 0) {
                                    $('.1trlist'+h2+'').append('<td style="text-align:right;">'+v3.toLocaleString('en')+'</td>');
                                }else{
                                    $('.1trlist'+h2+'').append('<td>'+v3+'</td>');
                                }
                                c++;
                            });
                            $('#tbody_tb').append('</tr>');
                        });
                    }
                });

                // cos total
                $('#tbody_tb').append('<tr class="6trlisttotal">');
                    $('.6trlisttotal').append('<td>TOTAL PAYROLL COST</td>');
                    $.each(data.pl.opex['total'], function(nk, nv) {
                        $('.6trlisttotal').append('<td style="text-align:right;">'+nv.toLocaleString('en')+'</td>');
                    });
                $('#tbody_tb').append('</tr>');

            },
            cache: false
        });
    });

});
</script>
<script id="tb_table_template" type="x-tmpl-mustache">
<table class="table table-striped table-bordered table-hover" id="list_table">
    <thead id="thead_tb">
    </thead>
</table>
</script>
{% endblock %}

{% block css %}
<link href="{{ asset('bundles/gisttemplate/assets/global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/gisttemplate/assets/global/plugins/data-tables/DT_bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
