{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">{{ action }} {{ head_title }} {{ action == "Edit" ? '- ' ~ o_label : '' }}</div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form method="post" class="form-horizontal">
                    <div class="form-body">
                        <h4 class="form-section">Information</h4>
                        {{ form.hidden('csrf_token',app.session.get('csrf_token')) }}
                        {{ form.group_text('Name','name',object.getName|default(''),3,4) }}
                        {{ form.group_textarea('Description','desc',object.getNotes|default(''),3,3,4) }}
                        {{ form.group_number('Months in service','service_months',object.getServiceMonths|default(0),3,4) }}
                        {{ form.group_number('Leave Count (in days)','leave_count',object.getLeaveCount|default(0),3,4) }}
                        <div class="form-group">
                            <label class="col-md-3 control-label">Collectible</label>
                            <div class="col-md-4">
                                {{ form.radio_set('collectible',bool_opts,object.getCollectible|default(0)) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Convertible to Cash</label>
                            <div class="col-md-4">
                                {{ form.radio_set('convertible_to_cash',bool_opts,object.getConvertibleToCash|default(0)) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-9">
                            {% if not readonly %}
                            <button type="submit" class="btn blue">Submit</button>
                            {% endif %}
                            <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <!-- HERE -->
    <script>
        $(document).ready(function() {
            // set default error and success elements
            jQuery.validator.setDefaults({
                errorClass: 'help-block',
                errorElement: 'span',
                errorPlacement: function(error, element) {
                    $("#help").html('');
                    if(element.parent().parent().hasClass('form-group'))
                    {
                        error.appendTo(element.parent().last());
                        element.parent().parent().addClass('has-error');
                    }
                    else if(element.parent().parent().hasClass('checker'))
                    {
                        error.appendTo(element.parent().parent().parent().parent().last());
                        element.parent().parent().parent().parent().parent().addClass('has-error');
                    }
                    else
                    {
                        error.appendTo(element.parent().parent().last());
                        element.parent().parent().parent().addClass('has-error');
                    }
                },
                success: function(element) {
                    $("#help").html('');
                    if(element.parent().parent().hasClass('form-group'))
                    {
                        element.parent().parent().removeClass('has-error');
                        element.parent().parent().addClass('has-success');
                    }
                    else if(element.parent().parent().hasClass('checker'))
                    {
                        element.parent().parent().parent().parent().parent().addClass('has-error');
                        element.parent().parent().parent().parent().parent().addClass('has-success');
                    }
                    else
                    {
                        element.parent().parent().parent().removeClass('has-error');
                        element.parent().parent().parent().addClass('has-success');
                    }

                    element.remove();
                }
            });


            // validate form elements
            $(".form-horizontal").validate({
                ignore: "#list_table, #entries_table, .amount .date .modal-body",
                onfocusout: function(element) {
                    this.element(element);
                },
                rules: {
                    name: {
                        required: true
                    },
                    service_months: {
                        required: true
                    },
                    leave_count: {
                        required: true
                    }
                },
                submitHandler: function(form) {
                    form.submit();
                }
            });

        });
    </script>
{% endblock %}
