{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">Inventory Locations</div>
                </div>
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <div class="row">
                        <div class="col-md-5 col-md-offset-3" style="margin-bottom: 10px;">
                            {{ form_tools.group_select('POS Location','pos_location', pos_loc_opts, main_warehouse.getID|default(0),3,7) }}
                        </div>
                    </div>
                    <table class="table table-bordered table-hover" id="list_table">
                        <thead>
                        <tr>
                            {% for col in grid_cols %}
                                {% if (loop.last) %}
                                    <th style="width: 165px">{{ col.getLabel }}</th>
                                {% else %}
                                    <th>{{ col.getLabel }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}

        <script src="{{ asset('bundles/gisttemplate/assets/global/plugins/data-tables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('bundles/gisttemplate/assets/global/plugins/data-tables/DT_bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-validation/js/additional-methods.min.js') }}"></script>
        <script src="{{ asset('bundles/gisttemplate/assets/admin/pages/scripts/form-validation.js') }}"></script>



        <script>

            function generatePath() {
                pos_loc_id = $('#cform-pos_location').val();


                var path = "{{ path('gist_inv_loc_grid_search', {
                    'pos_loc_id' : 'POS_LOC_ID',
                }
                ) }}";



                path = path.replace('POS_LOC_ID', pos_loc_id);

                return path;
            }

            $(document).ready(function() {
                var dTable;

                dTable = $('#list_table').dataTable({
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": "{{ path('gist_inv_loc_grid') }}",
                    "iDisplayLength": 10,
                    "sPaginationType": "bootstrap",
                    "bFilter" : false,
                    "bInfo" : false,
                    "bLengthChange": false,
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ records",
                        "oPaginate": {
                            "sPrevious": "Prev",
                            "sNext": "Next"
                        }
                    },
                    "aoColumnDefs": [
                        {#{ "bSortable": false, "aTargets": [{{ grid_cols|length - 1}}] },#}
                    ],
                    "aaSorting": [[5,'desc']]
                });

                $('#list_table_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
                $('#list_table_wrapper .dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
                $('#list_table_wrapper .dataTables_length select').select2(); // initialize select2 dropdown

                $("#cform-pos_location").live('change', function(){
                    path = generatePath();
                    dTable.fnReloadAjax(path);
                });
            });
        </script>
{% endblock %}

{% block css %}
        <link href="{{ asset('bundles/gisttemplate/assets/global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/gisttemplate/assets/global/plugins/data-tables/DT_bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
