<style type="text/css">
div.container4 {
    height: 100%;
    width: 100%;
    position: relative 
}
div.container_logo {
	width: 100%;
	max-height: 50px;
    position: relative; 
}
.img_logo {
	width: 300px;
   position: absolute;
   left: 50%;
   margin-left: -150px;
}
.page_label {
	text-align:center;
}
.parag {
    margin: 0;
    position: absolute;
    top: 50%;
    text-align:center;
    left: 50%;
    margin-right: -50%;
    font-size: 28px;
}
	</style>
<page>
	{% if logo != null %}
		<div class="container_logo">
		<img class="img_logo" src="{{logo|default('bundles/gistmedia/img/default.png')}}">
		</div>
		<p style="font-size: 20px !important;" class="page_label"><b>EMPLOYEE 201 FILE</b></p>
		<br>
		<hr>
	{% else %}
		<div style="width: 721px; margin: 0px;" border="1">
		<img src="bundles/gistmedia/img/default.png" style="width:40%; margin-left: 50px; margin-top: 5px;" align="left" />
		<p style="font-size: 20px; margin-left: 50px; margin-top: 25px;"><b>EMPLOYEE 201 FILE</b></p>
		</div>
		<br>
		<br>
		<hr>
	{% endif %}
<p style="font-size: 16px; margin: 0;"><b>PERSONAL</b></p>
<p style="font-size: 14px;">
	<b>Employee Number:</b>&nbsp;{{employee.getEmployeeId|default('')}}
	<br>
	<br>
	{{employee.getDisplayName|default('')}}
	<br>
	<br>
	Position:&nbsp;{{employee.getJobTitle.getName|default('')}}
	<br>
	<br>
	Date Hired:&nbsp;{{employee.getDateHired|date('F d, Y')|default('')}}
	<br>
	<br>
	SSS:&nbsp;{{employee.getProfile.getSss|default('')}}
	<br>
	<br>
	PHILHEALTH:&nbsp;{{employee.getProfile.getPhilhealth|default('')}}
	<br>
	<br>
	PAG IBIG:&nbsp;{{employee.getProfile.getPagibig|default('')}}
	<br>
	<br>
	TIN NUMBER:&nbsp;{{employee.getProfile.getTin|default('')}}
	<br>
	<br>
	Residential Address:&nbsp;{{employee.getProfile.getAddress.getFullAddress|default('')}}
</p>
	<br>
	<hr>
<p style="font-size: 16px; margin: 0;"><b>EDUCATIONAL BACKGROUND</b></p>
<p style="font-size: 14px;">
	College: {{applicant.getEducation.getCollege.school_name_course|default('')}} 
	<br>
	<br>
	(course)
	<br>
	<br>
	Elementary: {{applicant.getEducation.getElementary.school_name_course|default('')}} 
	<br>
	<br>
	High School: {{applicant.getEducation.getHighSchool.school_name_course|default('')}} 
</p>
<page_footer>
	    <div align="center" style="margin: 0;"><p style="color: green; font-size: 16px; margin: 0;"><b>{{company_name|default('Quadrant Alpha Technology Solutions, Inc.')}}</b></p></div>
    <div align="center" style="margin: 0;"><p style="color: black; font-size: 10px; margin: 0;">{{company_address.getFullAddress|default('Unit 102 10th Floor, Legaspi Suites, Salcedo Street, Legaspi Village, Makati City, Philippines')}}</p></div>
    <div align="center" style="margin: 0;"><p style="color: green; font-size: 14px; margin: 0;"><b>{{company_website|default('www.quadrantalpha.com')}}</b></p></div>
	</page_footer>
</page>
<page>
<div class="container4">
  <p class="parag"><hr>Memos<hr></p>
</div>
</page>
{% set index = 0 %}
{% for object in emp_mem %}
<page>
{# <img src="{{ logo.getURL }}" style="width:30%;margin-left: 225px;"/> #}
<div class="container_logo">
    <img class="img_logo" src="{{logo|default('bundles/gistmedia/img/default.png')}}">
    </div>
<br>
<br>
{% if object.getType == "Regularization" %}
	<br>
	<p style="margin-top: 1px; font-size: 16px;">TO: {{object.getEmployeeName}} ({{object.getEmployee.getJobTitle.getName}})</p>
	<p style="margin-top: 1px; font-size: 16px;">FROM: {{object.getUserCreate.getName}}</p>
	<p style="margin-top: 1px; font-size: 16px;">DATE: {{object.getDateCreate|date('m/d/Y')}}</p>
	<p style="margin-top: 1px; font-size: 16px;">SUBJECT: <b>{{object.getType}}</b></p>
	<hr>
	<p style="font-size: 16px;" align="justify">

	I am pleased to inform you of your regular appointment as {{object.getEmployee.getJobTitle.getName}} of {{company_name}} effective {{object.getDateCreate|date('m/d/Y')}}.
	<br>
	<br>
	Accordingly, your salary shall be adjusted as follow:
	<br>
	<br>
	(Note: This applies if your company is giving salary adjustment upon regularization. If not, just skip this
	part)
	<br>
	<br>
	<br>
	<table style="border: 1px solid black; border-collapse: collapse; font-size: 16px;" align="center" border="1">
	    <tr>
	        <th style="width: 180;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
	        <th style="width: 120; text-align: center;">FROM</th>
	        <th style="width: 120; text-align: center;">TO</th>
	    </tr>
	    <tr>
	        <td>Basic Salary</td>
	        <td style="text-align: right;">{{basicsalary_from|number_format(2)}}</td>
	        <td style="text-align: right;">{{basicsalary_to|number_format(2)}}</td>
	    </tr>
	    <tr>
	        <td>Allowance (if any)</td>
	        <td style="text-align: right;">{{allowance_from|number_format(2)}}</td>
	        <td style="text-align: right;">{{allowance_to|number_format(2)}}</td>
	    </tr>
	    <tr>
	        <td>TOTAL</td>
	        <td style="text-align: right;">{{(basicsalary_from+allowance_from)|number_format(2)}}</td>
	        <td style="text-align: right;">{{(basicsalary_to+allowance_to)|number_format(2)}}</td>
	    </tr>
	</table>
	<br>
	<br>
	It is hoped that you will continue to exert your best efforts in the performance of your duty.
	<br>
	<br>
	Again, I would like to welcome you to the growing family of NEWBORN FOOD PRODUCTS INC.!
	</p>
	<p style="font-size: 16px; padding-top: 80px;" align="right">_________________________<br>Sign and submit this to H.R.</p>
{% elseif object.getType == "Promotion" %}
	<br>
	<p style="margin-top: 1px; font-size: 16px;">TO: {{object.getEmployeeName}} ({{object.getEmployee.getJobTitle.getName}})</p>
	<p style="margin-top: 1px; font-size: 16px;">FROM: {{object.getUserCreate.getName}}</p>
	<p style="margin-top: 1px; font-size: 16px;">DATE: {{object.getDateCreate|date('m/d/Y')}}</p>
	<p style="margin-top: 1px; font-size: 16px;">SUBJECT: <b>{{object.getType}}</b></p>
	<hr>
	<p style="font-size: 16px;" align="justify">

	I am pleased to inform you of your promotion as {{position_to}} of {{company_name}} effective {{object.getDateCreate|date('m/d/Y')}}.
	<br>
	<br>
	<br>
	<table style="border: 1px solid black; border-collapse: collapse; font-size: 16px;" align="center" border="1">
	    <tr>
	        <th style="width: 120;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
	        <th style="width: 140; text-align: center;">FROM</th>
	        <th style="width: 140; text-align: center;">TO</th>
	    </tr>
	    <tr>
	        <td>Department</td>
	        <td style="text-align: left;">{{department_from}}</td>
	        <td style="text-align: left;">{{department_to}}</td>
	    </tr>
	    <tr>
	        <td>Position</td>
	        <td style="text-align: left;">{{position_from}}</td>
	        <td style="text-align: left;">{{position_to}}</td>
	    </tr>
	    <tr>
	        <td>Job Level</td>
	        <td style="text-align: left;">{{joblevel_from}}</td>
	        <td style="text-align: left;">{{joblevel_to}}</td>
	    </tr>
	</table>
	<br>
	<br>
	Your performance to newly appointed position shall be evaluated after one (1) month and in accordance
	with a very satisfactory performance, Management has the option to effect corresponding salary
	adjustment due your new position.
	<br>
	<br>
	{# A copy of the Job Description of your new position is hereby attached. #}
	It is hoped that you will continue to exert your best efforts in the performance of your duty.
	</p>
	<p style="font-size: 16px; padding-top: 80px;" align="right">_________________________<br>Sign and submit this to H.R.</p>
{% elseif object.getType == "Tardiness" %}
	<br>
	<p style="margin-top: 1px; font-size: 16px;">TO: {{object.getEmployeeName}} ({{object.getEmployee.getJobTitle.getName}})</p>
	<p style="margin-top: 1px; font-size: 16px;">FROM: {{object.getUserCreate.getName}}</p>
	<p style="margin-top: 1px; font-size: 16px;">DATE: {{object.getDateCreate|date('m/d/Y')}}</p>
	<p style="margin-top: 1px; font-size: 16px;">SUBJECT: <b>{{object.getType}}</b></p>
	<hr>
	<p style="font-size: 16px;" align="justify">
	This letter serves as an official verbal warning for excessive tardiness. The following date(s) of tardiness are:
	<br>
	<br>
	<div align="center">
	<table style="border: 1px solid black; border-collapse: collapse; font-size: 16px;" align="center" border="1">
	    <thead>
	        <tr><th colspan="4">Tardiness Summary</th></tr>
	        <tr>
	            <th width="140">Date</th>
	            <th width="140">Time in</th>
	            <th width="140">Time out</th>
	            <th width="140">Minutes Late</th>
	        </tr>
	    </thead>
	    <tbody>
	        {% for dt in dates_tardy %}
	            <tr>
	                <td align="center">{{dt['date']}}</td>
	                <td align="center">{{dt['in']}}</td>
	                <td align="center">{{dt['out']}}</td>
	                <td align="center">{{dt['late']}}</td>
	            </tr>
	        {% endfor %}
	    </tbody>
	</table>
	</div>
	<br>
	<br>
	{# Statement of Expectations: {{message}}
	<br>
	<br>
	Consequence of future behavior: {{consequence}} #}
	<table align="left">
	    <tr>
	        <td style="width: 310px;"><b>Statement of Expectations</b></td>
	        <td style="text-align: justify; width: 360px;">{{message}}</td>
	    </tr>
	</table>
	<br>
	<br>
	<br>
	<br>
	<table align="left">
	<tr>
	        <td style="width: 310px;"><b>Consequence of future behavior</b></td>
	        <td style="text-align: justify; width: 360px;">{{consequence}}</td>
	</tr>

	</table>
	</p>
	<p style="font-size: 16px; padding-top: 80px;" align="right">_________________________<br>Sign and submit this to H.R.</p>
	<br>
{% elseif object.getType == "Violation" %}
{% for items in mem_contents %}
    {% if mem_contents[index]['agency'] == "0" %}
        <table style="border: 1px solid black; border-collapse: collapse; font-size: 14px;" align="center" border="1">
            <tbody>
                <tr>
                    <td style="padding-top: 0; padding-bottom: 0; width: 350px;"><b>NAME OF EMPLOYEE:</b> {{object.getEmployeeName}}</td>
                    <td style="padding-top: 0; padding-bottom: 0; width: 350px;"><b>DATE OF INCIDENT:</b> {{mem_contents[index]['date_of_incident']}}</td>
                </tr>
                <tr>
                    <td style="padding-top: 0; padding-bottom: 0; width: 350px;"><b>POSITION:</b> {{object.getEmployee.getJobTitle.getName}}</td>
                    <td style="padding-top: 0; padding-bottom: 0; width: 350px;"><b>DEPARTMENT:</b> {{object.getEmployee.getDepartment.getName}}</td>
                </tr>
            </tbody>
        </table>
        <br>
         <table style="border: 1px solid black; border-collapse: collapse; font-size: 14px;" align="center" border="1">
            <thead>
                <tr><th colspan="2" style="width:700px; text-align: center;">DETAILS OF VIOLATIONS COMMITTED</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding-top: 15px; padding-bottom: 15px; width: 200px;">DATE OF INCIDENT</td>
                    <td style="padding-top: 15px; padding-bottom: 15px; width: 500px;">{{mem_contents[index]['date_of_incident']}}</td>
                </tr>
                <tr>
                    <td style="padding-top: 15px; padding-bottom: 15px; width: 200px;">NATURE OF VIOLATION COMMITTED</td>
                    <td style="padding-top: 15px; padding-bottom: 15px; width: 500px;">{{mem_contents[index]['violation_committed']}}</td>
                </tr>
                <tr>
                    <td style="padding-top: 15px; padding-bottom: 15px; width: 200px;">PARTICULAR COMPANY POLICY VIOLATED</td>
                    <td style="padding-top: 15px; padding-bottom: 15px; width: 500px;">{{mem_contents[index]['violated_policy']}}</td>
                </tr>
            </tbody>
        </table>
        <p style="font-size: 16px;" align="justify">
        <br>
        <br>
        As per company rules and regulations you have been found to have violated the details above.  
        <br>
        <br>
}
In view of this, you are hereby requested to submit a written explanation, within twenty four (24) hours upon receipt of this notice as to why no disciplinary action should be taken against you for the abovecited violation. 
<br>
<br>
Failure on your part to comply with the written explanation would be understood that you are waiving your right to due process and as such, Management shall have no recourse but to impose corresponding disciplinary action on you. 
<br>
<br>
For your strict compliance. 
<br>
<br>
Please be guided accordingly.
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<table style="border: 1px solid black; border-collapse: collapse; font-size: 14px;" align="center" border="1">
    <tbody>
        <tr>
            <td style="padding-bottom: 2px; width: 200px;">Issued by:<br><br>{{object.getUserCreateName}}</td>
            <td style="padding-bottom: 2px; width: 200px;">Reviewed by:<br><br>{{employee.getSupervisor.getDisplayName|default('(signatory)')}}</td>
            <td style="padding-bottom: 2px; width: 300px;">Received and Acknowledged by:<br><br>{{object.getEmployeeName}}</td>
        </tr>
        <tr>
            <td>Date Prepared: {{object.getDateCreate|date('m/d/Y')}}</td>
            <td>Date:</td>
            <td>Date Received:</td>
        </tr>
    </tbody>
</table>
    {% else %}
    <br>
    <p style="margin-top: 1px; font-size: 16px;">TO: {{object.getEmployeeName}} ({{object.getEmployee.getJobTitle.getName}})</p>
    <p style="margin-top: 1px; font-size: 16px;">FROM: {{object.getUserCreate.getName}}</p>
    <p style="margin-top: 1px; font-size: 16px;">DATE: {{object.getDateCreate|date('m/d/Y')}}</p>
    <p style="margin-top: 1px; font-size: 16px;">SUBJECT: <b>{{object.getType}}</b></p>
    <hr>
    <p style="font-size: 16px;" align="justify">
        Please take note that <u>{{object.getEmployeeName}}</u> under your agency has been found violating of NFPI's company policies which is expected
        to be observed by agency personnel:    </p>
        <br>
        <table style="border: 1px solid black; border-collapse: collapse; font-size: 14px;" align="center" border="1">
            <thead>
                <tr><th colspan="2" style="width:700px; text-align: center;">DETAILS OF VIOLATIONS COMMITTED</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding-top: 15px; padding-bottom: 15px; width: 200px;">DATE OF INCIDENT</td>
                    <td style="padding-top: 15px; padding-bottom: 15px; width: 500px;">{{date_of_incident}}</td>
                </tr>
                <tr>
                    <td style="padding-top: 15px; padding-bottom: 15px; width: 200px;">NATURE OF VIOLATION COMMITTED</td>
                    <td style="padding-top: 15px; padding-bottom: 15px; width: 500px;">{{violation_committed}}</td>
                </tr>
                <tr>
                    <td style="padding-top: 15px; padding-bottom: 15px; width: 200px;">PARTICULAR COMPANY POLICY VIOLATED</td>
                    <td style="padding-top: 15px; padding-bottom: 15px; width: 500px;">{{violated_policy}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <p style="font-size: 16px;" align="justify">
             In view of this, we are expecting you to undertake the necessary due process procedures in serving the disciplinary action within 24hours from receipt of this email and copy furnish us of your disciplinary action notice to the employee.  
             <br>
             <br>
             <br> 
            For your strict compliance. 
            <br>
            Please be guided accordingly. 
        </p>
        <br>
        <br>
        <table style="border: 0px solid black; border-collapse: collapse; font-size: 14px;" align="center" border="0">
            <tbody>
                <tr>
                    <td style="padding-bottom: 2px; width: 350px;">By:<br><br><br>{{object.getUserCreateName}}<br></td>
                    <td style="padding-bottom: 2px; width: 350px;">Noted by:<br><br><br>{{ops_vp_obj.getDisplayName|default('(Signatory)')}}<br>VP Operations</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endfor %}
{% elseif object.getType == "Disciplinary" %}
<table style="border: 1px solid black; border-collapse: collapse; font-size: 14px;" align="center" border="1">
<tbody>
    <tr>
        <td style="padding-top: 0; padding-bottom: 0; width: 350px;"><b>NAME OF EMPLOYEE:</b> {{object.getEmployeeName}}</td>
        <td style="padding-top: 0; padding-bottom: 0; width: 350px;"><b>DATE OF INCIDENT:</b> {{date_of_incident}}</td>
    </tr>
    <tr>
        <td style="padding-top: 0; padding-bottom: 0; width: 350px;"><b>POSITION:</b> {{object.getEmployee.getJobTitle.getName}}</td>
        <td style="padding-top: 0; padding-bottom: 0; width: 350px;"><b>DEPARTMENT:</b> {{object.getEmployee.getDepartment.getName}}</td>
    </tr>
</tbody>
</table>
<br>
<table style="border: 1px solid black; border-collapse: collapse; font-size: 14px;" align="center" border="1">
<thead>
    <tr><th colspan="2" style="width:700px; text-align: center;">DETAILS OF VIOLATIONS COMMITTED</th></tr>
</thead>
<tbody>
    <tr>
        <td style="padding-top: 15px; padding-bottom: 15px; width: 200px;">DATE OF INCIDENT</td>
        <td style="padding-top: 15px; padding-bottom: 15px; width: 500px;">{{date_of_incident}}</td>
    </tr>
    <tr>
        <td style="padding-top: 15px; padding-bottom: 15px; width: 200px;">NATURE OF VIOLATION COMMITTED</td>
        <td style="padding-top: 15px; padding-bottom: 15px; width: 500px;">{{violation_committed}}</td>
    </tr>
    <tr>
        <td style="padding-top: 15px; padding-bottom: 15px; width: 200px;">PARTICULAR COMPANY POLICY VIOLATED</td>
        <td style="padding-top: 15px; padding-bottom: 15px; width: 500px;">{{violated_policy}}</td>
    </tr>
</tbody>
</table>
<br>
<p style="font-size: 14px;" align="justify">
{% if reason == 0 %}
We are in receipt of your written explanation dated {{date_of_exp}} and found your explanation as unsatisfactory
{% elseif reason == 1 %}
You failed to submit the written explanation the deadline of which was on {{date_of_exp}} 
{% endif %}
<br>
<br>
<br>
{% if action == 0 %}

{% elseif action == 1 %}
In view of this, the following disciplinary action is hereby being imposed on you:
<br>
<br>
Suspension for {{no_of_days}} {% if no_of_days > 1 %}days{% else %}day{% endif %} to take effect on the following dates: {{date_start}} - {{date_end}}
{% elseif action == 2 %}
In view of this, the following disciplinary action is hereby being imposed on you:
<br>
<br>
{{other_actions|default('')}}
{% endif %}    
</p>
<br>
<br>
<p style="font-size: 14px;" align="justify">
May this serve as a stern warning that repetition of the same violation shall warrant a stiffer disciplinary action!
</p>
<br>
<table style="border: 1px solid black; border-collapse: collapse; font-size: 14px;" align="center" border="1">
    <tbody>
        <tr>
            <td style="padding-bottom: 2px; width: 200px;">Issued by:<br><br>{{object.getUserCreateName}}</td>
            <td style="padding-bottom: 2px; width: 200px;">Reviewed by:<br><br>{{employee.getSupervisor.getDisplayName|default('(signatory)')}}</td>
            <td style="padding-bottom: 2px; width: 300px;">Received and Acknowledged by:<br><br>{{object.getEmployeeName}}</td>
        </tr>
        <tr>
            <td>Date Prepared: {{object.getDateCreate|date('m/d/Y')}}</td>
            <td>Date:</td>
            <td>Date Received:</td>
        </tr>
    </tbody>
</table>
{% endif %}
<page_footer>
    <div align="center" style="margin: 0;"><p style="color: green; font-size: 16px; margin: 0;"><b>{{company_name|default('Quadrant Alpha Technology Solutions, Inc.')}}</b></p></div>
    <div align="center" style="margin: 0;"><p style="color: black; font-size: 10px; margin: 0;">{{company_address.getFullAddress|default('Unit 102 10th Floor, Legaspi Suites, Salcedo Street, Legaspi Village, Makati City, Philippines')}}</p></div>
    <div align="center" style="margin: 0;"><p style="color: green; font-size: 14px; margin: 0;"><b>{{company_website|default('www.quadrantalpha.com')}}</b></p></div>
</page_footer>
</page>
{% set index = index + 1 %}
{% endfor %}
<page>
<div class="container4">
  <p class="parag"><hr>Time Records<hr></p>
</div>
</page>
<page>
		<div class="container_logo">
    <img class="img_logo" src="{{logo|default('bundles/gistmedia/img/default.png')}}">
    </div>
		<br>
		<table style="border: 1px solid black; border-collapse: collapse; font-size: 14px;" align="center" border="1">
			<tr>
				{%  if emp != null %}
					{% if dept != null %}
						<th style="width: 670px; padding-top: 5px; padding-bottom: 5px; text-align: left;" colspan="7">&nbsp;Attendance Print Format for {{emp.getDisplayName|default('')}} - {{date_from_display|date('F d, Y')}} to {{date_to_display|date('F d, Y')}}</th>
					{% else %}
						<th style="width: 670px; padding-top: 5px; padding-bottom: 5px; text-align: left;" colspan="7">&nbsp;Attendance Print Format for {{emp.getDisplayName|default('')}} - {{date_from_display|date('F d, Y')}} to {{date_to_display|date('F d, Y')}}</th>
					{% endif %}	
				{% else %}
					{% if dept != null %}
						<th style="width: 670px; padding-top: 5px; padding-bottom: 5px; text-align: left;" colspan="7">&nbsp;Attendance Print Format for {{dept.getName}} deparment - {{date_from_display|date('F d, Y')}} to {{date_to_display|date('F d, Y')}}</th>
					{% else %}
						<th style="width: 670px; padding-top: 5px; padding-bottom: 5px; text-align: left;" colspan="7">&nbsp;Attendance Print Format - {{date_from_display|date('F d, Y')}} to {{date_to_display|date('F d, Y')}}</th>
					{% endif %}	
				{% endif %}
		    </tr>
			<tr>
		        <th style="width: 70px; padding-top: 5px; padding-bottom: 5px; text-align: center;">Date</th>
		        <th style="width: 190px; padding-top: 5px; padding-bottom: 5px; text-align: center;">Employee</th>
		        <th style="width: 70px; padding-top: 5px; padding-bottom: 5px; text-align: center;">Time-In</th>
		        <th style="width: 70px; padding-top: 5px; padding-bottom: 5px; text-align: center;">Time-Out</th>
		        <th style="width: 80px; padding-top: 5px; padding-bottom: 5px; text-align: center;">Late</th>
		        <th style="width: 100px; padding-top: 5px; padding-bottom: 5px; text-align: center;">Undertime</th>
		        <th style="width: 90px; padding-top: 5px; padding-bottom: 5px; text-align: center;">Status</th>
		    </tr>
		    {% set count = 0 %}
		    {% for a in all %}
		    	<tr>
		    		<td style="width: 70px; padding-top: 1px; padding-bottom: 1px; text-align: left;">{{a.getDateDisplay|default('')}}</td>
		    		<td style="width: 190px; padding-top: 1px; padding-bottom: 1px; text-align: left;">{{a.getEmployee.getDisplayName|default('')}}</td>
		    		<td style="width: 60px; padding-top: 1px; padding-bottom: 1px; text-align: center;">{{a.getTimeIn|default(' -')}}</td>
		    		<td style="width: 60px; padding-top: 1px; padding-bottom: 1px; text-align: center;">{{a.getTimeOut|default(' -')}}</td>
		    		<td style="width: 100px; padding-top: 1px; padding-bottom: 1px; text-align: left;">{{a.getLateDisplay|default('')}}</td>
		    		<td style="width: 100px; padding-top: 1px; padding-bottom: 1px; text-align: left;">{{a.getUnderTimeDisplay|default('')}}</td>
		    		<td style="width: 90px; padding-top: 1px; padding-bottom: 1px; text-align: left;">{{a.getStatus|default('')}}</td>
		    	</tr>
		    	{% set count = count + 1 %}
			{% endfor %}
			{% if count == 0 %}
				<tr>
		    		<td style="width: 670px; padding-top: 1px; padding-bottom: 1px; text-align: center; font-size: 12px;" colspan="7">NO RECORD FOUND</td>
		    	</tr>
			{% endif %}
		</table>
		<page_footer>
    	<div align="center" style="margin: 0;"><p style="color: green; font-size: 16px; margin: 0;"><b>{{company_name|default('Quadrant Alpha Technology Solutions, Inc.')}}</b></p></div>
    <div align="center" style="margin: 0;"><p style="color: black; font-size: 10px; margin: 0;">{{company_address.getFullAddress|default('Unit 102 10th Floor, Legaspi Suites, Salcedo Street, Legaspi Village, Makati City, Philippines')}}</p></div>
    <div align="center" style="margin: 0;"><p style="color: green; font-size: 14px; margin: 0;"><b>{{company_website|default('www.quadrantalpha.com')}}</b></p></div>
</page_footer>
</page>
