<div class="row">
    <div class="col-md-12">
        <!-- BEGIN FORM-->
        
            <div class="form-body">
            {{ form.group_money('Rental Payment Amount', 'rental_payment_amount', object.getRentPaymentAmount|default(), 3, 4, readonly) }}
            {{ form.group_text('Rental Payment Due Date', 'rental_due_date', object.getRentPaymentDue|default(), 3, 4, readonly) }}
            {% if object.getRentSecurityDepositAmount|default('') != '' %}
            <input type="hidden" name="security_deposit_amount" value="{{object.getRentSecurityDepositAmount|default(0)}}">
            {{ form.group_text('Security Deposit Amount', 'l_total', object.getLedgerTotal|number_format(2)|default(), 3, 4, readonly) }}
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-4">
                    <a id="btn_from_add" href="#ledger_entries_form" class="btn btn-xs green" data-toggle="modal">Ledger</a>
                </div>
            </div>
            {% else %}
            {{ form.group_money('Security Deposit Amount', 'security_deposit_amount', object.getRentSecurityDepositAmount|default(), 3, 4, readonly) }}
            {% endif %}
            {{ form.group_select('Security Deposit Returned', 'security_deposit_returned', deposit_return_opts, 'No', 3, 4, readonly) }}
            {{ form.group_money('Security Deposit Returned Amount', 'security_deposit_amount_returned', object.getRentSecurityDepositReturnedAmount|default(), 3, 4, readonly) }}
            {{ form.group_textarea('Security Deposit Remarks', 'security_deposit_remarks',object.getRentSecurityDepositRemarks|default(''),3,3,4)}}
            {{ form.group_upload_file2('Design Criteria','design_criteria',object.getRentDesignCriteria|default(''),3,4)}}
            {{ form.group_money('Dimension (Meter)', 'dimension_meter', object.getRentDimension|default(), 3, 4, readonly) }}
            {{ form.group_money('Price per Square-Meter', 'price_sq_meter', object.getRentPricePerSqMeter|default(), 3, 4, readonly) }}
            {{ form.group_text('Unit/Slot No.', 'unit_no', object.getRentUnitNumber|default(), 3, 4, readonly) }}

            {{ form.group_text('Contact Person', 'contact_person', object.getRentContactPerson|default(), 3, 4, readonly) }}
            {{ form.group_text('Position', 'contact_position', object.getRentCpPosition|default(), 3, 4, readonly) }}
            {{ form.group_text('Contact No', 'rental_contact_number', object.getRentCpContactNumber|default(), 3, 4, readonly) }}
            {{ form.group_text('Email', 'contact_email', object.getRentCpEmail|default(), 3, 4, readonly) }}
            </div>
            <div class="form-actions fluid">
                <div class="col-md-9">
                    {% if not readonly %}
                        <button type="submit" class="btn blue">Save</button>
                    {% endif %}
                    <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                </div>
            </div>
        <!-- END FORM-->
    </div>
</div>