{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Benefits Details {# block form_header %}{% endblock #}</div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form method="post" class="form-horizontal">
                    <div class="form-body">

                        <h4 class="form-section"></h4>

                        {{ form.group_text('Benefit Name', 'benefit_name','', 3, 4, readonly) }}
                        {{ form.group_textarea('Benefit Description', 'benefit_desc','', 3, 3, 4, readonly) }}
                        <div class="form-group">
                            {{form.group_number('Band Requirement', 'band_req','', 3, 3, readonly)}} 
                            <label class="col-md-0 control-label">Years</label>
                        </div>
                           
                        {{ form.group_select('Employment Status','emp_status', '','',3,4, readonly) }}
                        
                        <div class="form-group">
						    <label class="col-md-3 control-label">Department(s)</label>
						    <div class="col-md-4">
						        <select id="form_department" id="department" name="department" class="form-control select_2">
						        
						        </select>
						    </div>
						    <button class="add_dept_button btn green">Add Department</button>
						</div>

                        <div class="add_dept">
                        </div>  
    
                    <div class="form-actions fluid">
                        <div class="col-md-9">
                            {% if not readonly %}
                            <button type="submit" class="btn blue">Submit</button>
                            {% endif %}
                            <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                        </div>
                    </div>
                </form>      
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">

$(document).ready(function() {
    
    $(".add_dept_button").click(function(e){ //on add input button click
        e.preventDefault();
            $(".add_dept").append('<div class="form-group"><label class="col-md-3 control-label">Department(s)</label><div class="col-md-4"><select id="form_department" id="department" name="department" class="form-control"></select></div><a href="#" class="remove_benefit_field">Remove</a></div>'); //add input box
            $("select").select2();
    });
    $('.add_dept').on("click",".remove_benefit_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove();
    });
}); 
</script>
{% endblock %}
