{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% block css %}
<link href="{{ asset('bundles/gisttemplate/assets/global/plugins/fancybox/source/jquery.fancybox.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/gisttemplate/assets/admin/pages/css/portfolio.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/gisttemplate/assets/global/plugins/dropzone/css/dropzone.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Add New FAQ {# block form_header %}{% endblock #}</div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-mixitup/jquery.mixitup.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js') }}"></script>
<script src="{{ asset('bundles/gisttemplate/assets/admin/pages/scripts/portfolio.js') }}"></script>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/dropzone/dropzone.js') }}"></script>
<script src="{{ asset('bundles/gisttemplate/assets/admin/pages/scripts/form-dropzone.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-validation/js/additional-methods.min.js') }}"></script>
<script src="{{ asset('bundles/gisttemplate/assets/admin/pages/scripts/form-validation.js') }}"></script>

{% endblock %}
