<div class="row">
    {% if app.user.hasAccess('hris_dashboard.view') %}
    
    {% endif %}
    {% if app.user.hasAccess('hris_dashboard_admin.view') %}
    <!-- START PIE CHART -->
    <div class="col-md-6">
        <div class="portlet solid bordered grey-cararra">
            <div class="portlet-body">
                <div id="chart" class="chart">
                </div>
                <div style="margin: 20px 0 10px 30px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-info">
                            Contractual: </span>
                            <h3>{{ contractual_count }}</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-info">
                            Probationary: </span>
                            <h3>{{ probation_count }}</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-info">
                            Regular: </span>
                            <h3>{{ regular_count }}</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-danger">
                            Total: </span>
                            <h3>{{ employee_count }}</h3>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <!-- END PIE CHART -->
    {% endif %}
</div>
<div class="row">
    {% if app.user.hasAccess('hris_dashboard_admin.view') %}
        {{ dboard.statbox('Pending Request', request_count, 'hris_dashboard_pending_request', '', '', 'red-intense', 'fa-file-text-o', 'fa-refresh') }}
        {#{{ dboard.statbox('Shortlisted Applicants', shortlisted_count, 'hris_dashboard_shortlisted_applicant', '', '', 'blue-madison', 'fa-file-text-o','icon-users') }}
        {{ dboard.statbox('Job Vacancy', vacancy_count, 'hris_dashboard_job_vacancy', '', '', 'purple-plum', 'icon-users', 'icon-magnifier') }}#}
    {% endif %}
    {% if app.user.hasAccess('hris_dashboard_admin.view') or app.user.hasAccess('hris_dashboard_request.view') %}
        
    {% endif %}
    {# {{ dboard.statbox('Schedules', 0, 'hris_dashboard_schedules', '', '', 'green', 'fa-calendar', 'fa-male') }} #}
</div>