{% extends "GistTemplateBundle::base.html.twig" %}

{% block content %}
<div class="row">
<h1>{{object.getName}}</h1>
		<hr>
	<div class="col-md-8">
		
		<h2>Area Managers</h2>
		{% for user in users %}
			{% if user.getGroup.getName == 'Area Manager' %}
				<b>{{user.getFirstName}} {{user.getLastName}}</b>
				<br>
			{% endif %}

		{% endfor %}
		<br>
		<h2>Assistant Managers</h2>
		{% for user in users %}
			{% if user.getGroup.getName == 'Assistant Manager' %}
				<b>{{user.getFirstName}} {{user.getLastName}}</b>
				<br>
			{% endif %}

		{% endfor %}

		<h2>Locations</h2>
		{% for p in pos %}
		<b>{{p.getName}}</b><br>
		{% endfor %}
		<br>
		<h2>Personnel</h2>
		{% for user in users %}
			{% if user.getGroup.getName != 'Assistant Manager' and user.getGroup.getName != 'Area Manager' %}
				<b>{{user.getFirstName}} {{user.getLastName}}</b>
				<br>
				{{user.getGroup.getName}}
				<br><br>
			{% endif %}

		{% endfor %}
	</div>
	<div class="col-md-4">
		<table class="table table-striped table-bordered table-hover" style="margin-top: 20px;">
            <thead>
                <tr>
                    <th width="60%">Position</th>
                    <th width="40%">Employee Count</th>
                </tr>
            </thead>
            <tbody id="items_given_tbody">
                {% for p,x in positions|default(null) %}
                	<tr>
                		<td>{{p}}</td>
                		<td>{{x}}</td>
                	</tr>
                {% endfor %}
            </tbody>
        </table>
	</div>
</div>
{% endblock %}