{% if object.getStatus == constant('\\Hris\\RecruitmentBundle\\Entity\\Application::STATUS_HIRED')%}
{% set readonly = true %}
{% endif %}

<form id="add_upload" method="post" action="#">
    {{ form.hidden('csrf_token',app.session.get('csrf_token')) }}
    <div class="col-md-12">
        {% if not readonly %}
        <a href="#en_camera_form" class="btn green" data-toggle="modal" style="float: right; margin-right: 10px; ">Take a picture</a>
        {% endif %}
    </div>
        {{form.hidden('app_form','upload')}}
    <div class="portlet-body">
        {{form.hidden('picture_id',object.getUpload is not null ? object.getUpload.getID)}}

        <div class="form-group">
            <label class="col-md-3 control-label">Profile Picture</label>
            <div class="col-md-8">
                <div id="real-container">
                    <div style="width:200px; overflow:hidden;">
                    <a id="main-image-link" class="dzp-image" href="{{ object.getUpload is not null ? object.getUpload.getUrl : asset('bundles/gistmedia/img/no_image.jpg') }}" data-lightbox="media-upload">
                        <img id="picture_path" src="{{ object.getUpload is not null ? object.getUpload.getUrl : asset('bundles/gistmedia/img/no_image.jpg') }}" style="min-height:150px;max-height:150px;">
                    </a>
                    </div>
                    <br>
                </div>
                <div id="prev-container">
                </div>
            </div>
        </div>

        <div class="form-actions fluid">
            <div class="col-md-12">
                {% if not readonly %}
                <button type="submit" class="btn blue">Submit</button>
                {% endif %}
                <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
            </div>
        </div>
    </div>
</form>   