<page>
{# 	{% if logo != null %}
		<img src="{{logo|default('bundles/gistmedia/img/default.png')}}" style="width:30%; margin-left: 250px;"  />
		<p style="font-size: 20px; margin-left: 270px; margin-top: 0; margin-bottom: 0;"><b>Payslip</b></p>
		<br>
		<hr>
	{% else %}
		<div style="width: 721px; margin: 0px;" border="1">
		<img src="bundles/gistmedia/img/default.png" style="width:40%; margin-left: 50px; margin-top: 5px;" align="left" />
		<p style="font-size: 20px; margin-left: 50px; margin-top: 25px;"><b>Payslip</b></p>
		</div>
		<br>
		<br>
		<hr>
	{% endif %}
 #}<p style="font-size: 14px;">
	<b>Employee:</b>&nbsp;{{payroll.getEmployee.getDisplayName}}
	<br>
	<br>
	<b>Pay Period:</b>&nbsp;{{payroll.getPayrollPeriod.getStartDate|date('m/d/Y') }} - {{ payroll.getPayrollPeriod.getEndDate|date('m/d/Y') }}
	
</p>
<p style="font-size: 14px;">
	<table class="table table-bordered table-hover" style="border: 1px solid black; border-collapse: collapse; font-size: 12px;" id="main_table">
        <tr>
            <th colspan="2" style="width:300px" >
                Earnings
            </th>
            <th colspan="2" style="width:300px">
                Deductions
            </th>
            <th  style="text-align: right" >
                Total
            </th>

        </tr>
     
            <tr class="odd">
                <td colspan="2" ><strong>Taxable Earnings</strong></td>
            
                <td colspan="2"><strong>Taxable Deductions</strong></td>
                <td></td>
            </tr>
            <tr class="odd">
                <td colspan="2" class="payroll_container" style="vertical-align:top" >
                    <table class="table table-bordered table-hover" >
                        <tr>
                            <td style="width: 200px;" >Base Pay</td>
                            <td style="text-align:right; width:100px">{{ earnings['Gross Pay']|number_format(2) }}</td>
                        </tr>
                        <tr>
                            <td style="width: 200px;">Overtime</td>
                            <td style="text-align:right">{{ earnings['Overtime']|number_format(2) }}</td>
                        </tr>
                        <tr>
                            <td style="width: 200px;">Holidays</td>
                            <td style="text-align:right">{{ earnings['Holiday']|number_format(2) }}</td>
                        </tr>
                        {% if earnings['Incentive'] is defined %}
                        {% for i in earnings['Incentive'] %}
                            <tr>
                                <td>Incentive [{{ i.getNotes }}]</td>
                                <td style="text-align:right">{{ i.getAmount|number_format(2) }}</td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </table>

                </td>
            
                <td colspan="2" class="payroll_container" style="vertical-align:top" >
                    <table class="table table-bordered table-hover" >
                        <tr>
                            <td style="width: 200px;">Absences</td>
                            <td style="text-align:right; width: 100px">{{ deductions['Absent'] is defined ? deductions['Absent']|number_format(2) : '0.00'}}</td>
                        </tr>
                        <tr>
                           <td>Tardiness</td>
                            <td style="text-align:right">{{ deductions['Tardiness'] is defined ? deductions['Tardiness']|number_format(2) : '0.00' }}</td>
                        </tr>
                        <tr>
                            <td>Undertime</td>
                            <td style="text-align:right">{{ deductions['Undertime'] is defined ? deductions['Undertime']|number_format(2) : '0.00' }}</td>
                        </tr>
                         <tr>
                            <td>SSS Premium</td>
                            <td style="text-align:right">{{ deductions['SSS'] is defined ? deductions['SSS']|number_format(2) : '0.00' }}</td>
                        </tr>
                         <tr>
                            <td>Philhealth</td>
                            <td style="text-align:right">{{ deductions['Philhealth'] is defined ? deductions['Philhealth']|number_format(2) : '0.00' }}</td>
                        </tr>
                         <tr>
                            <td>Pagibig</td>
                            <td style="text-align:right">{{ deductions['Pagibig'] is defined ? deductions['Pagibig']|number_format(2) : '0.00' }}</td>
                        </tr>
                       
                    </table>
                </td>
                <td></td>
            </tr>

            <tr>
                <td style="width: 200px;"><strong>Total Taxable Earnings</strong></td>
                <td style="text-align:right">{{ taxable_earning|number_format(2) }}</td>
                <td></td>
                <td style="text-align:right">({{ taxable_deduction|number_format(2) }})</td>
                <td style="text-align:right"><strong>{{ payroll.getTotalTaxable|number_format(2) }}</strong></td>
               
            </tr>
             <tr>
                <td colspan="4"><strong>Witholding Tax</strong></td>
                <td style="text-align:right"><strong>{{ payroll.getTax|number_format(2) }}</strong></td>
            </tr>


            <tr class="odd">
                <td colspan="2" class="payroll_container" style="vertical-align:top" >
                    <table class="table table-bordered table-hover" >
                        <tr>
                            <td style="width: 200px;">Reimbursements</td>
                            <td style="text-align:right; width: 100px;">{{ earnings['Reimbursement'] is defined ? earnings['Reimbursement']|number_format(2) : '0.00' }}</td>
                        </tr>
                      
                    </table>

                </td>
            
                <td colspan="2" class="payroll_container" style="vertical-align:top">
                    <table class="table table-bordered table-hover" >
                        {% if deductions['Loan'] is defined %}
                         {% for l in deductions['Loan'] %}
                            <tr>
                                <td style="width: 200px;">Loan Payment [{{ l.getNotes }}]</td>
                                <td style="text-align:right;  width: 100px;">{{ l.getAmount|number_format(2) }}</td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </td>
                <td></td>
            </tr>

           
            <tr>
                <td style="width: 200px;"><strong>Total Non-Taxable Earnings</strong></td>
                <td style="text-align:right">{{ nontaxable_earning|number_format(2) }}</td>
                <td style="width: 200px;"></td>
                <td style="text-align:right">({{ nontaxable_deduction|number_format(2) }})</td>
                <td style="text-align:right"><strong>{{ payroll.getTotalNonTaxable|number_format(2) }}</strong></td>
               
            </tr>
            
             <tr>
                <td colspan="4"><strong>Total Pay</strong></td>
                <td style="text-align:right"><strong>{{ payroll.getTotal|number_format(2) }}</strong></td>
            </tr>
   
    </table>    
</p>
<page_footer>
	   {#  <div align="center" style="margin: 0;"><p style="color: green; font-size: 16px; margin: 0;"><b>{{company_name|default('')}}</b></p></div>
	    <div align="center" style="margin: 0;"><p style="color: black; font-size: 10px; margin: 0;">{{company_address.getFullAddress|default('')}}</p></div>
	    <div align="center" style="margin: 0;"><p style="color: green; font-size: 16px; margin: 0;"><b>{{company_website|default('')}}</b></p></div> #}
	</page_footer>
</page>