{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}
{% import _self as form_custom %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">Payment Voucher - {{ object.getCode }}</div>
                </div>
                <div class="portlet-body form">
               
                    <!-- BEGIN FORM-->
                    <form method="post" class="form-horizontal" id="cdj_form" action="{{ path('gist_accounting_voucher_edit_submit', { 'id': object.getId }) }}">
                        <div class="form-body">
                            {{ form.hidden('expense_total',object.getTempEntriesTotal)}}
                            
                            {{ form.group_date('Record Date', 'record_date',object.getRecordDate|date('m/d/Y'), 2,4, true)}}
                            {{ form.group_textarea('Particulars', 'particulars',object.getNotes,4,2,4, true)}}
                            {{ form.group_select('Payee', 'payee',supplier_opts,object.getPayee, 2,4,readonly)}}
                            {{ form.hidden('payee_text',object.getPayeeText)}}
                            {{ form.group_select('Payment Type', 'payment_type',paytype_opts,object.getPaymentType, 2,4,readonly)}}
                            
                            <div id="check_container" class="hidden">
                            {{ form.group_select('Bank', 'bank',bank_opts,object.getBank, 2,4,readonly)}}
                            {{ form.hidden('bank_text',object.getBankText)}}
                            {# {{ form.group_text('Check Number', 'check_number',object.getCheckNumber, 2,4,readonly)}} #}
                             {% if not readonly %}
                                <a href="javascript:void(0);" id="btn_add_check"  class="btn green"> Add Check </a>
                    
                             {% endif %}
                             <table id="check_table" class="table table-striped table-bordered">
                                <thead>
                                    <th>Check Number</th>
                                    <th>Amount</th>
                                    <th>Check Date</th>
                                    <th></th>
                                </thead>
                                <tbody id="check_table_body">
                                    {% for check in obj.getChecks %}
                                        <tr>
                                            <td><input type="text" class="form-control check_number" name="check_number[]" value="{{ check.getCheckNumber }}" {{ readonly ? 'readonly="readonly"' }} /></td>
                                            <td><input type="text" class="form-control check_amount price" name="check_amount[]" value="{{ check.getAmount }}" {{ readonly ? 'readonly="readonly"' }} /></td>
                                            <td>
                                               <input type="text" class="form-control check_date" name="check_date[]" value="{{ check.getCheckDate|date('m/d/Y') }}" readonly="readonly"  />
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                             </table>
                           </div>
                            <table id="table_entries" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <th width="20%">Account</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                </thead>
                                <tbody>
                                    {% if object.getStatus == "Draft"%}
                                        {% for entry in object.getTempEntries %}
                                            <tr>
                                                <td>{{ entry.getAccount.getCode }} - {{ entry.getAccount.getName }}</td>
                                                <td><div style="text-align:right;">{{ entry.getDebit|number_format(2) }}</div></td>
                                                <td><div style="text-align:right;">{{ entry.getCredit|number_format(2) }}</div></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    {% if object.getStatus == "Saved"%}
                                        {% for entry in object.getEntries %}
                                            <tr>
                                                <td>{{ entry.getAccount.getCode }} - {{ entry.getAccount.getName }}</td>
                                                <td><div style="text-align:right;">{{ entry.getDebit|number_format(2) }}</div></td>
                                                <td><div style="text-align:right;">{{ entry.getCredit|number_format(2) }}</div></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}

                                </tbody>
                               
                            </table>
                        
                        </div>
                            {{ form.group_text("Prepared By", 'prepared_by', obj.getUserCreate.getDisplayName ,2,4, true)}}
                            {{ form.group_select('Certified Correct By', 'certified_by',emp_opts,"", 2,4,readonly)}}
                            {{ form.group_select('Approved By', 'approved_by',emp_opts,"", 2,4, readonly)}}
                          
                        <div class="form-actions fluid">
                            <div class="col-md-9">
                                    {% if object.getStatus == "Saved"%}
                                        <a href="{{ path('gist_accounting_voucher_print', { 'id': object.getId }) }}"  class="btn green"> Print </a>
                                    {% else %}
                                        <button type="submit" class="btn blue">Save </button>
                                    {% endif %} 
                                <a href="{{ path(route_list) }}" class="btn default">Go back to list</a>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}

<script>
    
    $(document).ready(function() {
        
        function payeeText(){
            var bank = $('#cform-payee :selected').text();
            $('#cform-payee_text').val(bank);
        }
        function bankText(){
            var bank = $('#cform-bank :selected').text();
            $('#cform-bank_text').val(bank);
        }

        function paymentType(){
            if($('#cform-payment_type').val() == "Check"){
                $('#check_container').removeClass('hidden');
            }else {
                $('#check_container').addClass('hidden');
            }
        }

       
        bankText();
        payeeText();
        paymentType();
    
        $('#cform-bank').change(function(){
            bankText();
        })

        $('#cform-payee').change(function(){
            payeeText();
        })

        $('#cform-payment_type').change(function(){
            paymentType();
        })

        $('#btn_add_check').click(function(){
            const row = ' <tr>'+
                        '<td><input type="text" class="form-control check_number" name="check_number[]" value=""  /></td>'+
                        '<td><input type="text" class="form-control check_amount price" name="check_amount[]" value="0.00" /></td>'+
                        '<td>'+
                            '<input type="text" class="form-control check_date" name="check_date[]" value="" readonly="readonly" />'+
                        '</td>'+
                        '<td>'+
                        '<a href="javascript:void(0)" class="btn default btn-xs red-sunglo btn_del"><i class="fa fa-minus-circle"></i> Delete</a>'+
                        '</td>'
                    '</tr>';
            $('#check_table_body').append(row);

            $('.check_date').each(function(){
               $(this).datepicker(); 
            });
        })

        $('#check_table_body').on('click','.btn_del', function(){
            $(this).parents('tr').remove();
        });


        $('#cdj_form').submit(function(e) {
            let total = 0
            $('#check_table > tbody > tr:visible').each(function() {
                let check_number = $(this).find('.check_number').val();
                if(check_number.trim() == ""){
                         e.preventDefault();
                        toastr['error']('Check Number Cannot be Blank');
                }
                let amount = $(this).find('.check_amount').val();
           
                if(amount.trim() == "" || amount <= 0){
                        e.preventDefault();
                        toastr['error']('Check Amount Cannot be Less than Zero');
                }else {
                    total += parseFloat(amount);
                }

                let check_date = $(this).find('.check_date').val();
                if(check_date.trim() == ""){
                         e.preventDefault();
                        toastr['error']('Check Date Cannot be Blank');
                }


            });
            if(total != $('#cform-expense_total').val()){
                 e.preventDefault();
                toastr['error']('Total Check Amount should be equal to Transaction Amount');
            }

        });
    });
</script>
{% endblock %}
{% block css %}
<style>
.align-right {
    text-align: right;    
}
</style>
{% endblock %}
