{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Organizational Chart - Tree View</div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                <a href="{{ path('cat_user_group_index') }}" class="btn blue">Back</a>
                </div>
                {% for p in parents|default(null) %}
                    <div id="chart-{{p.getID}}">
                    </div>

                    <ul id="chart-{{p.getID}}-source" class="hide">
                        <li>
                            {{p.getName}}
                            <ul>
                                {% for l1 in p.getVariants|default() %}
                                <li>
                                    {{l1.getName}}
                                    <ul>
                                        {% for l2 in l1.getVariants|default() %}
                                            <li>
                                                {{l2.getName}}
                                                <ul>
                                                    {% for l3 in l2.getVariants|default() %}
                                                    <li>
                                                        {{l3.getName}}
                                                        <ul>
                                                            {% for l4 in l3.getVariants|default() %}
                                                                <li>
                                                                    {{l4.getName}}
                                                                    <ul>
                                                                        {% for l5 in l4.getVariants|default() %}
                                                                        <li>
                                                                            {{l5.getName}}
                                                                            <ul>
                                                                                {% for l6 in l5.getVariants|default() %}
                                                                                    <li>
                                                                                        {{l6.getName}}
                                                                                        <ul>
                                                                                            {% for l7 in l6.getVariants|default() %}
                                                                                            <li>
                                                                                                {{l7.getName}}
                                                                                                
                                                                                            </li>
                                                                                            {% endfor %}
                                                                                        </ul>
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                {% endfor %} 
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script>
$(document).ready(function() {

    $(function() {
        {% for p in parents %}
            $("#chart-{{p.getID}}-source").orgChart({container: $("#chart-{{p.getID}}"),interactive: true});
        {% endfor %}
    });

});
</script>
{% endblock %}
