<page>
 {% if logo != null %}
        <img src="{{logo|default('bundles/catalystmedia/img/default.png')}}" style="width:30%; margin-left: 250px;"  />
        <p style="font-size: 20px; margin-left: 270px; margin-top: 0; margin-bottom: 0;"><b>Payslip</b></p>
        <br>
        <hr>
    {% else %}
        <div style="width: 721px; margin: 0px;" border="1">
        <img src="bundles/catalystmedia/img/default.png" style="width:40%; margin-left: 50px; margin-top: 5px;" align="left" />
        <p style="font-size: 20px; margin-left: 50px; margin-top: 25px;"><b>13th Month Pay</b></p>
        </div>
        <br>
        <br>
        <hr>
    {% endif %}
<p style="font-size: 14px;">
    <b>Employee:&nbsp;{{payroll.getEmployee.getDisplayName}}</b>
    <br>
    <b>Year:&nbsp; {{ payroll.getYear }}</b>
    <br>
    
</p>
<p style="font-size: 14px;">
    <table class="table table-bordered table-hover" border="1" cellpadding="3"  cellspacing="0" style=" font-size: 12px;" id="main_table">
        <tr>
            <th  style="width:200px;padding: 3px" >
                Payroll Period
            </th>
            <th  style="width:150px;padding: 3px" >
                Earnings
            </th>
            <th  style="width:150px;padding: 3px">
                Deductions
            </th>
            <th style="width:150px;padding: 3px" >
                Total
            </th>

        </tr>
        {% for entry in payroll.getEntries%}
        <tr>
            <td style="padding: 3px">
                {{ entry.getPayrollPeriod.getStartDate|date('m/d/Y') }} - {{ entry.getPayrollPeriod.getEndDate|date('m/d/Y') }} 
            </td>
            <td style="text-align: right;padding: 3px">
                {{ entry.getEarning|number_format(2) }}
            </td>
            <td style="text-align: right;padding: 3px">
                {{ entry.getDeduction|number_format(2) }}
            </td>
            <td style="text-align: right;padding: 3px">
                {{ entry.getTotal|number_format(2) }}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3" style="text-align: right;padding: 3px">
                <b>Subtotal</b>
            </td>
             <td style="text-align: right;padding: 3px">
                {{ payroll.getSubtotal|number_format(2) }}
            </td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right;padding: 3px">
                <b>Taxable</b>
            </td>
             <td style="text-align: right;padding: 3px">
                {{ payroll.getTotalTaxable|number_format(2) }}
            </td>
        </tr>
        <tr>
            <td colspan="3"  style="text-align: right;padding: 3px">
                <b>Total</b>
            </td>
             <td style="text-align: right;padding: 3px">
                {{ payroll.getTotal|number_format(2) }}
            </td>
        </tr>
           
            
   
    </table>    
</p>
<page_footer>
       {#  <div align="center" style="margin: 0;"><p style="color: green; font-size: 16px; margin: 0;"><b>{{company_name|default('')}}</b></p></div>
        <div align="center" style="margin: 0;"><p style="color: black; font-size: 10px; margin: 0;">{{company_address.getFullAddress|default('')}}</p></div>
        <div align="center" style="margin: 0;"><p style="color: green; font-size: 16px; margin: 0;"><b>{{company_website|default('')}}</b></p></div> #}
    </page_footer>
</page>