{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">{% block form_header %}{% endblock %}</div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form method="post" class="form-horizontal">
                    <div class="form-body">
                        {{ form.hidden('csrf_token',app.session.get('csrf_token')) }}
                        {{ form.group_text('Name', 'name', object.getName|default(''), 3, 4, readonly) }}
                        {{ form.group_textarea('Description', 'notes', object.getNotes|default(''), 4, 3, 4, readonly) }}

                        <div class="form-group">
                            <label class="col-md-3 control-label">Employment Availability</label>
                            <div class="col-md-5">
                                {{ form.checkbox_set('emp_opts', emp_opts, object.getEmpStatus) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Characteristics</label>
                            <div class="col-md-5">
                                <div class="radio-list">
                                {% for id,type in types %}
                                    {{ form.radio(type|replace(' ', ''), id, type,  object.getType|default('') == type ? 'checked':'','characteristics') }}
                                {% endfor %}
                                </div>
                            </div>
                        </div>

                         <div class="form-group">
                            <label class="col-md-3 control-label">Gender</label>
                            <div class="col-md-5">
                                {{ form.checkbox_set('gender', gender_opts, object.getGender) }}
                            </div>
                        </div>
            
                      {{ form.group_selectmulti("Department", 'department', dept_opts, object.getDepartment, 3, 4)}}
              
                    </div>
                    
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            {% if not readonly %}
                            <button type="submit" class="btn blue">Submit</button>
                            {% endif %} 
                            <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                        </div>
                    </div>

                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready( function() {
// FormValidation.init(); // init form validation

    // set default error and success elements
    jQuery.validator.setDefaults({
        errorClass: 'help-block',
        errorElement: 'span',
        errorPlacement: function(error, element) {
            if(element.parent().parent().hasClass('form-group'))
            {
                error.appendTo(element.parent().last());
                element.parent().parent().addClass('has-error');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                error.appendTo(element.parent().parent().parent().parent().last());
                element.parent().parent().parent().parent().parent().parent().addClass('has-error');
            }
            else if(element.parent().parent().hasClass('radio'))
            {   
                error.appendTo(element.parent().parent().parent().parent().last());
                element.parent().parent().parent().parent().parent().parent().addClass('has-error');
            }
            else
            {
                error.appendTo(element.parent().parent().last());
                element.parent().parent().parent().addClass('has-error');
            }
        },
        success: function(element) {
            if(element.parent().parent().hasClass('form-group'))
            {  
                element.parent().parent().removeClass('has-error');
                element.parent().parent().addClass('has-success');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                element.parent().parent().parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().parent().parent().addClass('has-success');
            }
            else if(element.parent().parent().hasClass('radio'))
            {   
                element.parent().parent().parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().parent().parent().addClass('has-success');
            }
            else
            {  
                element.parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().addClass('has-success');
            }

            element.remove();
        }
    });

    // var emp_opts = $("input[name='emp_opts']");

    // validate form elements
    $(".form-horizontal").validate({
        onfocusout: function(element) {
           this.element(element);
        },
        rules: {
            name: "required",
            characteristics: "required",
            'emp_opts[]': "required",
            'gender[]': "required"
        },
        messages: {
            name: "Name cannot be blank.",
            characteristics: "Please select 1.",
            'emp_opts[]': "Please select 1.",
            'gender[]': "Please select 1."
        },
        submitHandler: function(form) {
            form.submit();
        }
    });
});
</script>
{% endblock %}